$mobile-version-max-width: 700px;

$breakpoint-max-xl: 1409px;
$breakpoint-min-xl: 1410px;
$breakpoint-max-lg: 1139px;
$breakpoint-min-lg: 1140px;

$container-desktop: 1380px;
$container-laptop: 1110px;
$container-mobile: 100%;

$breakpoint-desktop-max: 1409px;
$breakpoint-desktop-min: 1410px;

$breakpoint-laptop-max: 1139px;
$breakpoint-laptop-min: 1140px;

$breakpoint-mobile-max: 959px;
$breakpoint-mobile-min: 960px;

$color-blue: #276bfb;
$color-blue--hover: #5b88ff;
$color-blue--pressed: #5b88ff;

$color-white: #ffffff;

$color-gray: #a9b5c7;
$color-gray-dark: #3b364b;
$color-gray-darker: #758295;

$bg-color-gray: #f5f7f9;

$switch-bg: #758295;
$switch-button: #ffffff;
