@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
    max-height: 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
    max-height: 441px;
  }
}
@keyframes accordionOut {
  0% {
    opacity:1;
    transform:scale(1);
    max-height: 441px;
  }
  100% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
    max-height: 0;
  }
}
#accordion {
  text-align: left;
  @media(min-width: 580px){
    margin-bottom: 60px;
  }
  @media(max-width: 579px){
    margin-bottom: 45px;
  }
  .accordion-item {
    border-bottom: 1px solid var(--accordion-border);
    &:first-child {
      border-top: 1px solid var(--accordion-border);
    }
    .accordion-toggle {
      position: relative;
      padding-right: 60px;
      .accordion-position{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 15px;
        background-color: transparent;
        transition: all 0.15s;
        border-radius: 50%;
        &:before, &:after {
          content: "";
          background-color: #276bfb;
          width: 12px;
          height: 2px;
          border-radius: 2px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          display: flex;
          justify-content: center;
          align-content: center;
          
        }
        &:after{
          transform: rotate(0);
          transition: transform 0.15s;
        }
      }

    }
    .accordion-content {
      animation: accordionOut 0.45s normal ease-in-out both 1; 
    }
    &.active {
      .accordion-content {
        animation: accordionIn 0.45s normal ease-in-out both 1; 
        padding-bottom: 30px;
      }
      .accordion-toggle {
        color: #276bfb;
        .accordion-position{
          background-color: #ffffff;
          transition: all 0.15s;
          &:after{
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  .accordion-toggle {
    cursor: pointer;
    font-size: 22px;
    line-height: 1.5;
    padding: 15px 0;
    font-weight: 700;
    @media (max-width: 579px) {
      font-size: 16px;
    }
  }
  .accordion-content {
    padding-left: 30px;
    @media (max-width: 579px) {
      padding-right: 15px;
    }
    p {
      color: var(--secondary-color);
    }
  }
}
