#accordion {
  text-align: left;
  width: 100%;
  .accordion-item {
    border-bottom: 1px solid var(--accordion-border);
    z-index: 2;
    position: relative;
    &:first-child {
      border-top: 1px solid var(--accordion-border);
    }
    .accordion-toggle {
      position: relative;
      z-index: 2;
      background-color: var(--primary-bg);
      padding-right: 60px;
      &:not(.active){
        position: relative;
        z-index: 2;
        background-color: var(--primary-bg);
        overflow: hidden;
      }
      .accordion-position{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 15px;
        background-color: transparent;
        transition: all 0.15s;
        border-radius: 50%;
        &:before, &:after {
          content: "";
          background-color: #276bfb;
          width: 12px;
          height: 2px;
          border-radius: 2px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          display: flex;
          justify-content: center;
          align-content: center;
          
        }
        &:after{
          transform: rotate(-90deg);
          transition: transform 0.15s;
        }
      }

    }
    .accordion-content {
      &:not(.active){
        position: relative;
        z-index: 2;
        background-color: var(--primary-bg);
        overflow: hidden;
      }
      max-height: 0;
      transition: max-height .3s cubic-bezier(0, 0, 1, 1);
    }
    &.active {
      .accordion-content {
        max-height: 441px;
        transition: max-height .3s cubic-bezier(0, 0, 1, 1);
      }
      .accordion-toggle {
        color: #276bfb;
        .accordion-position{
          background-color: var(--accordion-bg);
          transition: all 0.15s;
          &:after{
            transform: rotate(0);
          }
        }
      }
    }
  }

  .accordion-toggle {
    cursor: pointer;
    font-size: 22px;
    line-height: 1.5;
    padding: 15px 0;
    font-weight: 700;
    @media (max-width: 579px) {
      font-size: 16px;
    }
  }
  .accordion-content {
    padding-left: 30px;
    p{
      padding-bottom: 30px;
    }
    @media (max-width: 579px) {
      padding-right: 15px;
    }
    p {
      color: var(--secondary-color);
    }
  }
}