.button {
  line-height: 1.5;
  text-decoration: none;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    box-shadow: 0px 4px 18px rgba(64, 123, 247, 0.5);
  }
}

.button-primary {
  background-color: #00c0ab;
  color: #ffffff;
}
.button-secondary {
  background-color: #003cda;
  color: #ffffff;
}
.button-white {
  border: 3px solid #b9c7d6;
  background-color: var(--btn-white-bg);  
  color: #b9c7d6;
}
.button-green {
  border: 2px solid #00c0ab;
  background-color: var(--btn-green-bg);  
  color: var(--btn-green-color);
}
.button-blue{
  border: 2px solid var(--btn-blue-border);
  background-color: var(--btn-blue-bg);
  color: #ffffff; 
  
}
.button-lg {
  width: 250px;  
  font-weight: 700;  
  @media(min-width: 768px){
    height: 80px;
    font-size: 26px;
  }
  @media(max-width: 767px){
    height: 65px;
    font-size: 20px;
  }
}
.button-md {
  font-weight: 600;
  @media(min-width: 768px){
    width: 250px;
    height: 70px;
    font-size: 22px;
  }
  @media(max-width: 767px){
    width: 145px;
    height: 55px;
    font-size: 16px;
  }
}
.button-sm {
  width: 180px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
}
.button-xs {
  width: 66px;
  height: 36px;
  font-weight: 600;
}