.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.col{
    margin-left: auto;
    margin-right: auto;
}
.col-2{
    width: calc(100% / 12 * 2);
}
.col-3{
    width: calc(100% / 12 * 3);
}
.col-7{
    width: calc(100% / 12 * 7);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-10{
    width: calc(100% / 12 * 10);
}