.container {  
  margin-left: auto;
  margin-right: auto;
  @media(min-width: 1410px){
    width: 1410px;
  }
  @media(max-width: 1409px){
    width: 1140px;
  }
  @media(max-width: 1139px){
    width: 100%;
  }
  @media only screen and (max-width: 1139px) and (min-width: 580px)  {
    padding: 0 15px;
  }
}
.col {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}
.row{
  display: flex;
}
.col-2 {
  width: calc(100% / 12 * 2);
}
.col-3 {
  width: calc(100% / 12 * 3);
}
.col-4 {
  width: calc(100% / 12 * 4);
}
.col-5 {
  width: calc(100% / 12 * 5);
}
.col-6 {
  width: calc(100% / 12 * 6);
}
.col-7 {
  width: calc(100% / 12 * 7);
}
.col-8 {
  width: calc(100% / 12 * 8);
}
.col-9 {
  width: calc(100% / 12 * 9);
}
.col-10 {
  width: calc(100% / 12 * 10);
}
.col-11 {
  width: calc(100% / 12 * 11);
}
.col-12 {
  width: calc(100% / 12 * 12);
}
@media(max-width: 1409px){
  .col-xl-10{
    width: calc(100% / 12 * 10);
  }
}
@media(max-width: 1199px){
  .col-lg-3{
    width: calc(100% / 12 * 3);
  }
  .col-lg-9{
    width: calc(100% / 12 * 9);
  }
  .col-lg-12{
    width: calc(100% / 12 * 12);
  }
}
@media(max-width: 991px){
  .col-md{
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-5{
    width: calc(100% / 12 * 5);
  }
  .col-md-10{
    width: calc(100% / 12 * 10);
  }
  .col-md-12{
    width: calc(100% / 12 * 12);
  }
}
@media(max-width: 767px){
  .col-sm-4{
    width: calc(100% / 12 * 4);
  }
  .col-sm-6{
    width: calc(100% / 12 * 6);
  }
  .col-sm-12{
    width: calc(100% / 12 * 12);
  }
}
@media(max-width: 579px){
  .col-xs-12{
    width: calc(100% / 12 * 12);
  }
}