footer {
  @media (min-width: 992px) {
    padding: 85px 0;
  }
  @media (max-width: 991px) {
    padding: 45px 0;
  }
  .bzx-logo {
    @media (min-width: 768px) {
      max-width: 140px;
    }
    @media (max-width: 767px) {
      max-width: 100px;
    }
  }
  .list-footer {
    a {
      display: block;
      font-weight: 600;
      color: #276bfb;
      line-height: 1.25;
      &:hover {
        color: #5b88ff;
      }

      @media (min-width: 992px) {
        font-size: 16px;
      }
      @media (max-width: 991px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        margin-bottom: 20px;
      }
      @media (max-width: 767px) {
        margin-bottom: 15px;
        font-size: 12px;
      }
    }
  }
  .item-link {
    display: flex;
    &:hover {
      circle, ellipse {
        fill: #5b88ff;
      }
    }
    svg {
      width: 100%;
    }
    @media (min-width: 992px) {
      margin-right: 15px;
      width: 56px;
    }
    @media (max-width: 991px) {
      margin-right: 10px;
      width: 48px;
    }
  }
}
