.wrap-logo {
  svg {
    @media (max-width: 991px) {
      max-width: 105px;
    }
    @media (max-width: 767px) {
      max-width: 145px;
      height: auto;
    }
  }
}

.burger-buttons {
  position: absolute;
  top: 35px;
  right: 15px;
  @media (min-width: 768px) {
    display: none;
  }
  #hamburger-menu-open {
    display: flex;
    cursor: pointer;
  }
  #hamburger-menu-close {
    display: none;
    cursor: pointer;
  }
}
.header-content-menu {
  display: flex;
  @media (max-width: 767px) {
    display: none;
  }
  .bzx-logo {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .button-lg {
    width: 215px;
    height: 60px;
  }
}
.button-app {
  width: 60px;
  height: 30px;
  margin: 0;
  position: absolute;
  right: 70px;
}
.open-menu {
  overflow: hidden;
  .switch-menu {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1050;
    display: flex;
    outline: 0px;
    background-color: var(--primary-bg);
    padding-bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header-content-menu {
    display: flex;
  }
  .button-app {
    display: none;
  }
}

.active-url {
  position: relative;
  &:before {
    @media (min-width: 768px) {
      content: "";
      position: absolute;
      width: 60px;
      height: 8px;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #276bfb;
      border-radius: 6px;
      top: -48px;
    }
    @media (min-width: 992px) {
      top: -67px;
    }
  }
}
.nav-menu {
  position: relative;
  .icon-external {
    position: absolute;
    top: -6px;
    left: -16px;
  }
}

.switch-menu {
  @media (max-width: 1409px) {
    width: 100%;
  }
}
