input[type="range"] {
  -webkit-appearance: none;
  margin: -12px auto 0 auto;
  width: 227px;
  height: 24px;
  background-color: transparent;
  .input-gain & {
    margin: 0;
    @media (min-width: 580px) {
      width: 400px;
    }
    @media (max-width: 579px) {
      width: 290px;
    }
  }
}
input[type="range"]:focus {
  outline: none;
  .input-gain .before-gain {
    display: flex;
  }
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background-color: #cbe2ff;
  border-radius: 50px;
  .input-gain & {
    background: rgba(255, 79, 79, 1);
    background: -webkit-gradient(
      left bottom,
      right top,
      color-stop(0%, rgba(255, 79, 79, 1)),
      color-stop(50%, rgba(51, 223, 203, 1))
    );
    background: -webkit-linear-gradient(90deg, rgba(255, 79, 79, 1) 47%, rgba(51, 223, 203, 1) 53%);
    background: linear-gradient(90deg, rgba(255, 79, 79, 1) 47%, rgba(51, 223, 203, 1) 53%);
    height: 8px;
  }
}
input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #276bfb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  .input-gain & {
    height: 40px;
    width: 40px;
    border: 8px solid var(--primary-bg);
    margin-top: -16px;
  }
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: #cbe2ff;
  outline: none;
  .input-gain & {
    background: rgba(255, 79, 79, 1);
    background: -webkit-gradient(
      left bottom,
      right top,
      color-stop(0%, rgba(255, 79, 79, 1)),
      color-stop(50%, rgba(51, 223, 203, 1))
    );
    background: -webkit-linear-gradient(90deg, rgba(255, 79, 79, 1) 47%, rgba(51, 223, 203, 1) 53%);
    background: linear-gradient(90deg, rgba(255, 79, 79, 1) 47%, rgba(51, 223, 203, 1) 53%);
    height: 8px;
  }
  .input-gain .before-gain {
    display: flex;
  }
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background-color: #cbe2ff;
  border-radius: 50px;
  .input-gain & {
    background: rgba(255, 79, 79, 1);
    background: -moz-linear-gradient(90deg, rgba(255, 79, 79, 1) 47%, rgba(51, 223, 203, 1) 53%);
    background: linear-gradient(90deg, rgba(255, 79, 79, 1) 47%, rgba(51, 223, 203, 1) 53%);
    height: 8px;
  }
}
input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #276bfb;
  border: none;
  cursor: pointer;
  .input-gain & {
    border: 8px solid var(--primary-bg);
    height: 24px;
    width: 24px;
    margin-top: -16px;
  }
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 50px;
  .input-gain & {
    width: 99%;
    height: 8px;
    border-radius: 50px;
    background: rgba(255, 79, 79, 1);
    background: -ms-linear-gradient(
      90deg,
      rgba(255, 79, 79, 1) -1%,
      rgba(255, 79, 79, 1) 47%,
      rgba(51, 223, 203, 1) 53%
    );
    background: linear-gradient(90deg, rgba(255, 79, 79, 1) -1%, rgba(255, 79, 79, 1) 47%, rgba(51, 223, 203, 1) 53%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  }
}
input[type="range"]::-ms-track:focus {
  .input-gain & {
    height: 8px;
    background: rgba(255, 79, 79, 1);
    background: -ms-linear-gradient(
      90deg,
      rgba(255, 79, 79, 1) -1%,
      rgba(255, 79, 79, 1) 47%,
      rgba(51, 223, 203, 1) 53%
    );
    background: linear-gradient(90deg, rgba(255, 79, 79, 1) -1%, rgba(255, 79, 79, 1) 47%, rgba(51, 223, 203, 1) 53%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  }
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #276bfb;
  cursor: pointer;
  .input-gain & {
    height: 22px;
    width: 22px;
    margin-top: 2px;
    box-shadow: none;
  }
}
.input-gain {
  position: relative;
  .before-gain {
    position: absolute;
    background-color: var(--switch-bg);
    color: var(--gain-color);
    border-radius: 10px;
    top: -50px;
    height: 35px;
    width: 66px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: none;
    &:after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      bottom: -4px;
      background-color: var(--switch-bg);
      left: 0;
      right: 0;
      margin: auto;
    }
    svg {
      margin-right: 3px;
    }
  }
}

.border-range-quantity {
  position: relative;
  width: 227px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2px;
  .left-range-quantity,
  .right-range-quantity {
    position: absolute;
    top: -1px;
    justify-content: space-between;
    display: flex;
    width: 4px;
    height: 5px;
    background-color: var(--secondary-bg);
  }
}
.track-range-quantity {
  height: 6px;
  background-color: #33dfcc;
  position: absolute;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 0;
  bottom: 13px;
}