.item-advantager {
    @media (min-width: 580px) {
        margin-bottom: 60px;
    }
    @media (max-width: 579px) {
        margin-bottom: 30px;
    }
    p {
        color: var(--secondary-color);
    }
    .icon-advantager {
        svg {
            @media (min-width: 580px) {
                width: 120px;
                height: 120px;
            }
            @media (max-width: 579px) {
                width: 80px;
                height: 80px;
            }
        }
    }
}
.section-coin {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        background-color: var(--secondary-bg);
        width: 100%;
        height: 37px;
        left: 0;
        bottom: 0;
        @media (max-width: 767px) {
            height: 150px;
        }
        @media (max-width: 579px) {
            height: 126px;
        }
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .item-coin {
        svg {
            @media (min-width: 580px) {
                width: 60px;
                height: 60px;
            }
            @media (max-width: 579px) {
                width: 45px;
                height: 45px;
            }
        }
        .name-coin {
            display: flex;
            justify-content: center;
            color: #276bfb;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
    }
}

.item-safe {
    text-align: center;
    p {
        margin-bottom: 10px;
        color: var(--primary-color);
        text-align: center;
        @media (max-width: 579px) {
            font-size: 12px;
        }
    }
    .icon-safe {
        display: flex;
        justify-content: center;
        svg {
            @media (min-width: 580px) {
                width: 120px;
            }
            @media (max-width: 579px) {
                width: 80px;
            }
        }
    }
}
.item-blog {
    background-color: var(--secondary-bg);
    border-radius: 16px;
    &:hover {
        cursor: pointer;
        box-shadow: var(--shadow-post);
    }
    @media (max-width: 767px) {
        max-width: 350px;
        margin: 0 auto 20px auto;
    }
    .item-blog-header {
        img {
            border-radius: 16px 16px 0 0;
            max-width: 100%;
        }
    }
    .item-blog-body {
        padding: 0 20px 25px 20px;
    }
}

.wrap-white {
    background-color: #ffffff;
    border-radius: 100px;
    @media (min-width: 768px) {
        padding: 12px 30px 12px 12px;
    }
    @media (max-width: 767px) {
        padding: 8px 30px 8px 8px;
        margin-bottom: 35px;
        max-width: 260px;
    }
}
.item-blue {
    width: 100%;
    background-color: #5b88ff;
    color: #ffffff;
    border-radius: 16px;
}
.item-green {
    width: 100%;
    background-color: #00c0ab;
    color: #ffffff;
    border-radius: 16px;
    @media (min-width: 768px) {
        text-align: center;
    }
    @media (max-width: 767px) {
        text-align: left;
    }
}

.before-primary,
.after-primary {
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }
    &:before {
        content: "";
        position: absolute;
        background-color: var(--primary-bg);
        width: 100%;
        height: 50%;
        left: 0;
    }
}
.before-primary {
    &:before {
        top: 0;
    }
}
.after-primary {
    &:before {
        bottom: 0;
    }
}

.item-earn {
    width: 160px;
    border-radius: 12px;

    @media (min-width: 1200px) {
        width: 175px;
    }
    @media (min-width: 1200px) {
        width: 175px;
    }
    @media (min-width: 992px) {
        padding: 35px 0 25px 0;
        text-align: center;
    }
    @media (max-width: 991px) {
        display: flex;
        width: 400px;
        margin-bottom: 15px;
    }
    @media (max-width: 579px) {
        width: 345px;
    }
    @media (max-width: 374px) {
        width: 290px;
    }
    .head-earn {
        @media (min-width: 992px) {
            margin-bottom: 10px;
        }
        @media (max-width: 991px) {
            width: 30px;
            margin-right: 15px;
        }
    }
    .body-earn {
        height: 36px;
        display: flex;
        align-items: center;
        @media (min-width: 992px) {
            margin-bottom: 10px;
            justify-content: center;
        }
        @media (max-width: 991px) {
            width: 40%;
        }
        p {
            font-weight: 700;
            line-height: 1.4;
            color: var(--primary-color);
        }
    }
    .footer-earn {
        color: #b9c7d6;
        @media (max-width: 991px) {
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: calc(60% - 45px);
        }
        p {
            font-weight: 400;
            line-height: 1.4;
            @media (max-width: 991px) {
                width: 50%;
                text-align: right;
            }
        }
    }
    &.active {
        // cursor: pointer;
        background-color: var(--earn-bg);
        @media (min-width: 992px) {
            box-shadow: 0px 4px 12px rgba(64, 123, 247, 0.2);
        }
        .footer-earn {
            color: var(--earn-color-hover);
        }
    }
}

/*Disable input[type='number'] arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.item-calc {
    border-radius: 24px;
    background-color: var(--primary-bg);
    color: #ffffff;
    width: 100%;
    @media (max-width: 991px) {
        flex-direction: column;
    }
    .input-quantity {
        height: 70px;
        border: none;
        background-color: var(--secondary-bg);
        color: var(--primary-color);
        width: 235px;
        font-size: 36px;
        padding-left: 15px;
        font-weight: 600;
        outline: none;
        margin-top: 8px;
    }

    .coins-calc {
        padding: 30px 30px 0 30px;
        @media (min-width: 992px) {
            padding: 30px 0 40px 30px;
            width: 300px;
        }
    }
    .input-calc {
        @media (min-width: 992px) {
            padding: 30px 0;
        }
        @media (max-width: 991px) {
            padding: 30px;
            input {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .result-calc {
        background-color: #56a9ff;
        position: relative;
        padding: 30px 40px;
        @media (min-width: 992px) {
            border-radius: 0 24px 24px 0;
            width: 300px;
        }
        @media (max-width: 991px) {
            border-radius: 0 0 24px 24px;
            p {
                max-width: 555px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @media (max-width: 769px) {
            p {
                max-width: 255px;
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 22px;
            height: 22px;
            transform: rotate(45deg);
            background-color: #56a9ff;
            @media (min-width: 992px) {
                top: 0;
                bottom: 0;
                margin: auto;
                left: -11px;
            }
            @media (max-width: 991px) {
                top: -11px;
                right: 0;
                left: -0;
                margin: auto;
            }
        }
    }
    .month {
        color: #cbe2ff;
    }
    .coin-calc {
        background-color: transparent;
        padding: 5px;
        border: 3px solid transparent;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        &:hover {
            cursor: pointer;
        }
        &.active {
            background-color: var(--btn-white-bg);
            border: 3px solid #276bfb;
        }
        &:not(.active) {
            .path-gray {
                fill: var(--coin-bg);
            }
            .path-white {
                fill: #ffffff;
            }
        }
    }
}

.item-timer {
    border: 4px solid #ffffff;
    border-radius: 10px;
    display: inline-flex;
    min-width: 125px;
    padding: 0 10px;
    justify-content: center;
    position: relative;
    margin: 0 auto 15px auto;
    span {
        font-size: 35px;
        line-height: 1.4;
        font-weight: 900;
        color: #00c0ab;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 8px;
        background-color: #ffffff;
        top: -8px;
        border-radius: 4px;
    }
    &:before {
        left: 20px;
    }
    &:after {
        right: 20px;
    }
}

.lend-count {
    background-color: #276bfb;
    border-radius: 50%;

    line-height: 1.5;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;

    z-index: 3;
    @media (min-width: 992px) {
        left: -32px;
    }
    @media (max-width: 991px) {
        left: 0;
        right: 0;
        margin: auto;
    }
    @media (min-width: 768px) {
        width: 60px;
        height: 60px;
        border: 8px solid var(--primary-bg);
        top: -32px;
        font-size: 18px;
    }
    @media (max-width: 767px) {
        width: 48px;
        height: 48px;
        border: 5px solid var(--primary-bg);
        top: -28px;
        font-size: 16px;
    }
}
.wrap-hours {
    display: none;
}

.chart-tokens {
    border-radius: 24px;
    background-color: var(--primary-bg);
    color: #ffffff;
    width: auto;
    .coin-calc {
        background-color: transparent;
        padding: 5px;
        border: 3px solid transparent;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        &:hover {
            cursor: pointer;
        }
        &.active {
            border: 3px solid #276bfb;
        }
        &:not(.active) {
            .path-gray {
                fill: var(--coin-bg);
            }
            .path-white {
                fill: #ffffff;
            }
        }
    }
}

.chart-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 calc((100% - 875px) / 2);
    margin: auto;
    margin-bottom: 100px;
    @media (max-width: 767px) {
        flex-wrap: wrap;
        padding: 0 20px;
        margin-bottom: 70px;
        > div {
            flex-basis: 100%;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}

.input-gain-wrapper {
    &:before {
        position: absolute;
        content: "";
        width: 3px;
        height: 55px;
        top: -61px;
        background-color: var(--secondary-bg);
        left: 0;
        right: 0;
        margin: auto;
    }
}
.wrap-apr-value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.apr-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 479px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.apr-value-after {
    position: relative;
    &:after {
        content: "APR";
        position: absolute;
        font-size: 10px;
        color: #8992a4;
        top: 4px;
        right: -21px;
    }
}
