/* margin */
.mt-10 {
  margin-top: 10px;
}
@for $i from 1 through 15 {
  .mb-#{5*$i} {
    margin-bottom: #{5 * $i}px;
  }
}
@for $i from 2 through 9 {
  .mr-#{5*$i} {
    margin-right: #{5 * $i}px;
  }
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* padding */
@for $i from 4 through 9 {
  .pt-#{15*$i} {
    padding-top: #{15 * $i}px;
  }
}
.pl-55 {
  padding-left: 55px;
}
.pl-90 {
  padding-left: 90px;
}
@for $i from 4 through 9 {
  .pb-#{15*$i} {
    padding-bottom: #{15 * $i}px;
  }
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-60{
    padding-top: 60px;
    padding-bottom: 60px;
}