/* margin */
.mt-10 {
  margin-top: 10px;
}
@for $i from 1 through 20 {
  .mb-#{5*$i} {
    margin-bottom: #{5 * $i}px;
  }
}
@for $i from 2 through 9 {
  .mr-#{5*$i} {
    margin-right: #{5 * $i}px;
  }
}
.mr-90{
  margin-right: 90px;
}
.mr-115{
  margin-right: 115px;
}
.mr-205{
  margin-right: 205px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* padding */
@for $i from 4 through 9 {
  .pt-#{15*$i} {
    padding-top: #{15 * $i}px;
  }
}
.pt-50{
  padding-top: 50px;
}
.pt-60{
  padding-top: 60px;
}
.pt-120{
  padding-top: 120px;
}
.pl-55 {
  padding-left: 55px;
}
.pl-60 {
  padding-left: 60px;
}
.pl-90 {
  padding-left: 90px;
}
@for $i from 2 through 9 {
  .pb-#{15*$i} {
    padding-bottom: #{15 * $i}px;
  }
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1409px){
  .mr-xl-5{
    margin-right: 5px;
  }
  .mr-xl-90{
    margin-right: 90px;
  }
}
@media (max-width: 1199px) {
  .pl-lg-0 {
    padding-left: 0;
  }
  .mr-lg-15{
    margin-right: 15px;
  }
  .mr-lg-30{
    margin-right: 30px;
  }  
  .mr-lg-60{
    margin-right: 60px;
  }
}
@media (max-width: 991px) {
  .mb-md-0 {
    margin-bottom: 0;
  }
  .mb-md-25 {
    margin-bottom: 25px;
  }
  .mb-md-55 {
    margin-bottom: 55px;
  }
  .mr-md-45{
    margin-right: 45px;
  }
  .mx-md-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .pt-md-30{
    padding-top: 30px;
  }
  .pb-md-30 {
    padding-bottom: 30px;
  }
  .pb-md-60 {
    padding-bottom: 60px;
  }
  .pl-md-60 {
    padding-left: 60px;
  }
  .pl-md-0{
    padding-left: 0;
  }
  .px-md-0{
    padding-left: 0;
    padding-right: 0;
  }
  .py-md-45 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .mr-sm-0{
    margin-right: 0;
  }
  .mr-sm-5{
    margin-right: 5px;
  }
  .mr-sm-30 {
    margin-right: 30px;
  }
  .mt-sm-30 {
    margin-top: 30px;
  }
  .mb-sm-15 {
    margin-bottom: 15px;
  }
  .mb-sm-25 {
    margin-bottom: 25px;
  }
  .mb-sm-30{
    margin-bottom: 30px;
  }
  .mb-sm-60 {
    margin-bottom: 60px;
  }
  .mx-sm-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .pt-sm-60{
    padding-top: 60px;
  }
  .py-sm-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .p-sm-30{
    padding: 30px;
  }
}
@media (max-width: 579px) {
  .pt-xs-30{
    padding-top: 30px;
  }
  .pt-xs-60{
    padding-top: 60px;
  }
  .pt-xs-90 {
    padding-top: 90px;
  }
  .pb-xs-0{
    padding-bottom: 0;
  }
  .pb-xs-45 {
    padding-bottom: 45px;
  }
  .pb-xs-60{
    padding-bottom: 60px;
  }
  .pb-xs-75{
    padding-bottom: 75px;
  }
  .pl-xs-15{
    padding-left: 15px;
  }
  .py-xs-25{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .py-xs-45{
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .py-xs-75{
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .px-xs-15{
    padding-left: 15px;
    padding-right: 15px;
  }
  .px-xs-40{
    padding-left: 40px;
    padding-right: 40px;
  }
  .mb-xs-0{
    margin-bottom: 0;
  }
  .mb-xs-15 {
    margin-bottom: 15px;
  }
  .mb-xs-30 {
    margin-bottom: 30px;
  }
  .mb-xs-40{
    margin-bottom: 40px;
  }
  .mb-xs-50{
    margin-bottom: 50px;
  }
  .mr-xs-9{
    margin-right: 9px;
  }
  .mr-xs-20{
    margin-right: 20px;
  }
  .mx-xs-auto{
    margin-left: auto;
    margin-right: auto;
  }
}
