/* margin */
.mt-r-37{
    margin-top: -37px;
}
.mt-r-81{
    margin-top: -81px;
}
.mt-10{
    margin-top: 10px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-65{
    margin-bottom: 65px;
}
.mb-75{
    margin-bottom: 75px;
}

.ml-55{
    margin-left: 55px;
}
.mr-15{
    margin-right: 15px;
}
.mr-25{
    margin-right: 25px;
}
.mr-30{
    margin-right: 30px;
}
.mr-40{
    margin-right: 40px;
}
.mr-45{
    margin-right: 45px;
}
.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
/* padding */
.pt-50{
    padding-top: 50px;
}
.pt-60{
    padding-top: 60px;
}
.pt-75{
    padding-top: 75px;
}
.pt-70{
    padding-top: 70px;
}
.pt-80{
    padding-top: 80px;
}
.pt-85{
    padding-top: 85px;
}
.pt-95{
    padding-top: 95px
}
.pt-175{
    padding-top: 175px;
}
.pt-225{
    padding-top: 225px;
}
.pb-45{
    padding-bottom: 45px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-85{
    padding-bottom: 85px;
}
.pb-105{
    padding-bottom: 105px;
}

