.footer {
  justify-self: flex-end;

  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;

  margin-top: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.75rem;
  font-size: 0.75rem;
}
