.change-24-h-marker {
  font-size: 1rem;
  line-height: 1rem;

  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;


  &--up {
    color: #69bf83;
  }

  &--down {
    color: #ff5353;
  }
}

.change-24-h-marker__trend-pointer {
  font-size: 0.75rem;
  line-height: 1rem;
  height: 1rem;
}
