.price-graph {
  margin-top: -5rem;
}

.price-graph__hovered-price-marker {
  font-size: 3rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -1.2px;
  text-align: center;
  color: #ffffff;
}

.price-graph__hovered-change-1h-marker {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: #ff5353;
}

.price-graph__graph-container {

}
