.progress-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 5rem;
  padding: 0 2rem;

  background-color: #201f23;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: $page-max-width;
}

.progress-bar__info {
  display: inline-block;

  margin: 1.5rem 0 1.5rem 0.625rem;
}

.progress-bar__error-message {
  margin: 1.5rem 0 1.5rem 0.625rem;

  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 32px;
}

.progress-bar__title {
  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.progress-bar__step {
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a9b5c7;
}

.progress-bar__btn {
  float:right;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  outline: none;

  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;

  width: 96px;
  height: 32px;
  border-radius: 20px;
  margin: 1.5rem 0 1.5rem 1rem;

  &--more {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #758295;
  }

  &--try-again {
    background-color: #5EBE85;
    border: none;
  }

  &--cancel {
    background-color: #FF5358;
    border: none;
  }
}
