.borrow-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  .footer {
    width: 100%;
    align-self: flex-end;
  }
  @media screen and (min-width: $breakpoint-min-xl) {
    width: 1410px;
  }
  @media screen and (max-width: $breakpoint-max-xl) {
    width: 1140px;
  }
  @media screen and (max-width: $breakpoint-max-lg) {
    width: 100%;
  }

  .borrow-page__main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .borrow-page__main_p {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
}
