.borrow-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  width: $container-desktop;
  box-sizing: border-box;

  @media screen and (max-width: $breakpoint-desktop-max) {
    width: $container-laptop;
  }

  @media screen and (max-width: $breakpoint-laptop-max) {
    width: $container-mobile;
    padding: 0 15px;
  }

  .borrow-page__main {
    //padding-bottom: 90rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    //overflow-y: scroll;
  }
  .borrow-page__main_p {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    //overflow-y: scroll;
  }
}

// @media only screen and (max-width: $mobile-version-width) {
//   .borrow-page {
//     padding: $page-padding-xs;

//     .borrow-page__main {
//       //padding-bottom: 200rem;
//     }
//   }
// }
