.dashboard-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  width: $container-desktop;
  box-sizing: border-box;

  @media screen and (max-width: $breakpoint-desktop-max) {
    width: $container-laptop;
  }

  @media screen and (max-width: $breakpoint-laptop-max) {
    width: $container-mobile;
    padding: 0 15px;
  }

  .dashboard-page__main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

    .dashboard-page__form {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
