.refinance-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  width: $container-desktop;
  box-sizing: border-box;

  @media screen and (max-width: $breakpoint-desktop-max) {
    width: $container-laptop;
  }

  @media screen and (max-width: $breakpoint-laptop-max) {
    width: $container-mobile;
    padding: 0 15px;
  }

  h1{
    font-size: 52px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 25px;
  }
  .description{
    font-size: 15px;
    line-height: 1.5;
    color: #758295;
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  .refinance-page__main {
    //padding-bottom: 90rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    //overflow-y: scroll;
  }
  .refinance-page__main_p {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    //overflow-y: scroll;
  }


}

// @media only screen and (max-width: $mobile-version-max-mobile) {
//   .refinance-page {
//     max-width: 100% !important;
//     width: 100%;
//     h1{
//       font-size: 36px;
//     }
//     .description{
//       font-size: 12px;
//     }
//   }
// }