.wallet-selection-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  min-height: $page-min-height;
  max-width: $page-max-width;
  padding: 0 15px;
  @media screen and (min-width: $breakpoint-min-xl){
    min-width: 1410px;
  }
  @media screen and (max-width: $breakpoint-max-xl){
    min-width: 1140px;
  }
  @media screen and (max-width: $breakpoint-max-lg){
    min-width: 100%;
  }

  .wallet-selection-page__main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

  }
}


@media only screen and (max-width: 600px) {

  .wallet-selection-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    min-height: $page-min-height;
    max-width: $page-max-width;
    padding: $page-padding-xs;

    .wallet-selection-page__main {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;

    }
  }

  .modal-container{
    width: 100%;
    padding: 10px;
  }
}
