.footer-container {
  padding: 0 15px;
  position: fixed;
  bottom: 0;
  width: calc(100% - 30px);
  .footer{
    padding-bottom: 5px;
  }
}

.footer {
  justify-self: flex-end;

  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;

  margin-top: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.75rem;
  font-size: 0.75rem;

  .footer-version {
    color: #758295;

    a {
      color: #758295;
    }
  }

  .footer-menu {
  }

  .footer-menu__item {
    display: inline-block;

    color: #758295;

    &:not(:first-child) {
      margin-left: 1.5rem;
    }

    a {
      color: #758295;
    }
  }
}

@media screen and (max-width: $mobile-version-max-width) {
  .footer {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;

    .footer-version {
      display: flex;
      flex-direction: row;
      /* justify-content: space-between; */
      // width: 55%;
      /* padding-right: 0%;*/
    }
    .footer-menu__item:not(:first-child) {
      margin-left: 15px;
    }

    .footer-menu {
      display: flex;
      flex-direction: row;
      // justify-content: space-around;
      margin-bottom: 1.5rem;
      // width: 40%;
    }
  }
}
