.header {
  padding-top: 1.8rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;

  .header__left {
    text-align: left;
    width: 35%;
  }

  .header__right {
    text-align: right;
    width: 35%;
  }
}
