@media only screen and (max-width: $mobile-version-max-width) {
  .header {
    padding-left: 2rem;
    padding-top: .2rem;
    padding-right: 2rem;
    .header__row {
      .header__left {
        width: 50%;
      }

      .header__right {
        width: 50%;
      }
    }
    .header-menu__item {
      margin-bottom: 12px;
    }

    .header__popup-container {
      height: 625px;
    }
  }
}
