.header-logo {
  display: inline-block;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    svg {
      height: auto;
    }
    .fulcrum-logo-sign {
      display: flex;
      margin-right: 20px;
      border-radius: 8px;
      background: linear-gradient(314.85deg, #003cda 19.25%, #33dfcc 86.5%);
      @media screen and (max-width: $breakpoint-mobile-max) {
        margin-right: 13px;
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
    .fulcrum-logo {
      display: flex;
      svg {
        width: 100px;
        [data-theme='light'] & path {
          fill: #283049;
        }
      }
      @media screen and (max-width: $breakpoint-laptop-max) and (min-width: $breakpoint-mobile-min) {
        display: none;
      }
      @media screen and (max-width: $breakpoint-mobile-max) {
        svg {
          width: 100px;
        }
      }
    }
  }
}
