@media only screen and (max-width: $mobile-version-max-width) {
  .header {
    // padding-left: 2rem;
    margin-top: 15px;
    padding-top: 0;
    margin-bottom: 0;
    // padding-right: 2rem;
    .header__row {
      align-items: center;
      //.header__left {
      //  width: 50%;
      //}
      //
      //.header__right {
      //  width: 50%;
      //}
      .header__left {
        //width: 100%;
        z-index: 10001;

        flex: initial;
        width: calc(100% - 110px);
    
        // float: left;
      }
      .header__center {
        display: none;
      }

      .header__right {
        // width: 65%;
        // float: left;
      }
      .header__menu {
        // display: block;
        // padding-top: 10px;
        // height: 35px;
        // z-index: 4;
        // right: -53px;
        // position:relative;
      }
      .header_icon {
        z-index: 10001;
      }
    }
    .header-menu__item {
      // margin-bottom: 40px;
      font-family: Muli;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 150%;
    }
    .header-menu__item:not(:last-child) {
      margin-bottom: 45px;
    }

    .header-menu__item {
      .header-menu__item-link--active:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 60px;
        margin: auto;
        background-color: #276bfb;
        top: 50%;
        left: -4px;
        -webkit-transform: translate(-50%, 0);
        transform: translate(0, -50%);
        border-radius: 6px;
      }
    }

    .header__popup-container {
      height: 625px;
    }

    .header_btn {
      //position: absolute;
      //top:0;
      margin-bottom: 40px;
    }
    .heade_nav_menu {
      //margin-top: 5rem;
    }
    .header__provider {
      display: none;
    }
    .sidebar_n {
      width: 300px;
    }

    .sidebar_h {
      position: relative;
      display: none;
      animation: animateright 0.4s;
    }

    @keyframes animateright {
      from {
        right: 300px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }
    .sidebar_v {
      position: fixed;
      display: block;
      width: 100vw;
      height: 100vh;
      /* height: 100%; */
      /* right: 0px; */
      padding-top: 100px;
      background-color: var(--primary-row);
      -webkit-animation: animateright 0.4s;
      animation: animateright 0.4s;
      z-index: 1000;
      top: 0;
      left: 0;
    }

    @keyframes animateright {
      from {
        right: -500px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }
  }
}
