.header-logo {
  display: inline-block;
  height: 100%;

  a {
    display: block;
    height: 100%;
  }
  .header-logo-partial {
    display: none;
  }
  @media only screen and (max-width: $breakpoint-laptop-max) and (min-width: $breakpoint-mobile-min) {
    .header-logo-partial {
      display: block;
    }
    .header-logo-full {
      display: none;
    }
  }
}

.header-logo__image {
  height: 2rem;
  margin: .5rem 0;
  vertical-align: middle;
}

@media only screen and (max-width: $mobile-version-max-width) {
  .header-logo__image {
   
    width: 148px;
    height: auto;
    margin: .5rem 0;
    vertical-align: middle;
  }
}
