.header {
  padding-top: 50px;
  margin-bottom: 60px;
  .header__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;

    .header__left {
      display: flex;
      justify-content: flex-start;
    }

    .header__right {
      display: flex;
      &__list {
        display: flex;
        align-items: center;
        &-item {
          font-weight: 600;
          font-size: 18px;
          line-height: 1.5;
          color: #276bfb;
          flex-grow: 0;
          padding: 0 12px;
          &:not(:last-child) {
            border-right: 1px solid var(--separator-color);
          }
        }
      }
    }

    .header__center {
      display: flex;
      align-items: center;
    }
  }

  .header__popup-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    margin: 1.25rem 0;

    border-top: solid 1px #393f49;
    border-bottom: solid 1px #393f49;
  }
  svg {
    .primary {
      fill: var(--primary-text);
    }
  }
}
