// Specific to staking balances / rewards tiles
.grid--staking {
  display: grid;
  grid-gap: 32px;

  @media screen and (min-width: $width-min-sm) {
    grid-template-columns: repeat(auto-fit, 324px);
    justify-content: center;
  }
}

.staking__tab {
  // Temporarily there to better align tabs in the center
  @extend .btn--tab;
  min-width: 100px;
}
