body {
    font-family: "Muli", sans-serif;
    margin: 0;
    color: #283049;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}
a {
    text-decoration: none;
    color: $primary-color;
    &:hover {
        color: $primary-color-hover;
    }
}
.container {
    width: 1140px;
    padding: 0 15px;
    margin: auto;
    box-sizing: border-box;
}
