h1,
.h1 {
  font-weight: 900;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and(min-width: $width-min-sm) {
    font-size: 44px;
  }
  @media screen and(max-width: $width-max-sm) {
    font-size: 36px;
  }
}

.green-color {
  color: $green-color;
}
.light-gray-color {
  color: #828282;
}
.unhealthy-color {
  color: $unhealthy-color;
}

.healthy-color {
  color: $healthy-color;
}
.ta-c {
  text-align: center;
}
