h1, .h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

.green-color {
    color: $green-color;
}
.light-gray-color {
    color: #828282;
}
.unhealthy-color{
    color: $unhealthy-color
}

.healthy-color{
    color: $healthy-color
}