$primary-color: #276bfb;
$primary-color-hover: #5b88ff;

$green-color: #00c0ab;
$green-label: #33dfcc;
$secondary-color: #b79eff;

$red-color: #eb5757;

$healthy-color: #b9c7d6;
$unhealthy-color: #b79eff;

$sign-color: #758295;

$width-max-lg: 1199px;
$width-max-md: 991px;
$width-max-sm: 767px;
$width-max-xs: 574px;

$width-min-lg: 1200px;
$width-min-md: 992px;
$width-min-sm: 768px;
$width-min-xs: 575px;