$primary-color: #276bfb;
$primary-color-hover: #5b88ff;

$green-color: #00c0ab;
$green-label: #33dfcc;
$secondary-color: #b79eff;

$red-color: #eb5757;

$healthy-color: #b9c7d6;
$unhealthy-color: #b79eff;