.asset-dropdown-container {
  display: flex;
  align-items: center;
  position: relative;
}
.asset-dropdown {
  position: absolute;
  top: calc(50% + 25px);
  border-radius: 4px;
  background-color: var(--asset-dropdown-bg);
  box-sizing: border-box;
  width: 100%;
  z-index: 100004;
  @media screen and (max-width: $mobile-version-width) {
    top: calc(50% + 20px);
  }
  &__wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100003;
  }
  &__title {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.05px;
    color:  var(--asset-dropdown-text);
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: var(--asset-dropdown-button-bg-hover);
    }
    &--selected {
      background-color: var(--asset-dropdown-button-bg-hover);
      &:hover {
        background-color: var(--asset-dropdown-button-bg-hover);
      }
    }
    @media screen and (max-width: $mobile-version-width) {
      padding:4px;
    }
    &__name {
      font-size: 16px;
      font-weight: 600;
      color: var(--asset-dropdown-text);
      @media screen and (max-width: $mobile-version-width) {
        font-size: 12px;
      }
    }
    &__image-container {
      margin-right: 7px;
    
      @media screen and (max-width: $mobile-version-width) {
        margin-right: 4px;
      }
      svg {
        width: 24px;
        height: 24px;
        vertical-align: -3px;
      }
    }
  }
}

.asset-dropdown-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 26px;
  background-color: var(--asset-dropdown-button-bg); 
  width: 112px;
  align-items: center;
  padding: 8px;
  position: relative;
  @media screen and (max-width: $mobile-version-width) {
    width: 86px;
    padding: 4px;
  }
  svg {
    width: 24px;
    height: 24px;
    margin-right: 7px;
    @media screen and (max-width: $mobile-version-width) {
      margin-right: 4px;
    }
    .eth-svg {
      fill: #c8c8c8;
    }
  }
  &:not(.empty)::after {
    content: '';

    position: absolute;
    right: 13px;
    top: calc(50% - 2px);
    transform: translate(0, -50%);
    width: 8px;
    border: 4px solid transparent;
    @media only screen and (max-width: $mobile-version-max-width) {
      right: 10px;
    }
  }
  &.closed {
    &::after {
      top: calc(50% + 2px);
      border-top: 4px solid var(--asset-dropdown-text);
    }
  }

  &.opened {
    &::after {
      border-bottom: 4px solid var(--asset-dropdown-text);
    }
  }
  span {
    font-size: 16px;
    font-weight: 600;
    color: var(--asset-dropdown-text);
    // margin-top: 2px;
    @media screen and (max-width: $mobile-version-width) {
      font-size: 12px;
    }
  }
}
