.change-24-h-marker {
  display: inline-block;

  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;

  &--up {
    color: #69bf83;
  }

  &--down {
    color: #ff5353;
  }
}

.change-24-h-marker__trend-pointer {
  display: inline-block;
  vertical-align: top;
}

.change-24-h-marker__value {
  display: inline-block;
}

// conditional sizing
.change-24-h-marker {
  &--small {
    height: 0.75rem;
    font-size: 0.75rem;
    line-height: 0.75rem;

    .change-24-h-marker__trend-pointer {
      height: 0.75rem;
      font-size: 0.5rem;
      line-height: 0.75rem;
    }
  }

  &--medium {
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;

    .change-24-h-marker__trend-pointer {
      height: 1rem;
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }

  &--large {
    height: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;

    .change-24-h-marker__trend-pointer {
      height: 1.5rem;
      font-size: 0.75rem;
      line-height: 1.5rem;
    }
  }
}
