.chart-coming-soon-container {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-header);
  border-radius: 32px;
  padding: 20px 0;
  flex-wrap: wrap;
}

.chart-placeholder__text {
  font-weight: bold;
  line-height: 150%;
  color: #758295;
  font-size: 24px;
  border-radius: 32px;
  font-size: 24px;
  margin-left: 0;
}

.chart-placeholder__mascot {
  height: 100px;
}

@media screen and (min-width: $breakpoint-laptop-min) {
  .chart-placeholder__mascot {
    height: auto;
  }
  .chart-placeholder__text {
    font-size: 52px;
    margin-left: 50px;
  }
}
