@import '../abstracts/variables';
.chi-switch {
  @media screen and (max-width: $mobile-version-width) {
    width: 100%;
  }
  .cb-container {
    color: #a2abb8;
    font-weight: 600;
    font-size: 12px;
    .cb-label {
      padding-left: 28px;
    }
    .cb-checkmark {
      width: 20px;
      height: 20px;
      top: -3px;
      left: 20px;
    }
    input[type='checkbox']:checked + .cb-checkmark,
    .cb-checkmark {
      background-color: #394049;
      &:after {
        background-color: #00c0ab;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: none;
        top: 5px;
      }
    }
  }
}
