@import '../abstracts/variables';
.chi-switch {
  display: flex;
  align-items: center;
  z-index: 10001;
  .cb-container {
    position: relative;
    display: inline-flex;
    height: 25px;
    width: 44px;
    .cb-label {
      padding: 0;
    }

    input[type='checkbox'] {
      display: none;

      &:checked + .cb-checkmark,
      .cb-checkmark {
        background-color: #333C46;
        &:before {
          background-color: #ffffff;
          transform: translateX(0px);
        }
      }
    }
    .cb-checkmark {
      background-color: #333C46;
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 19px;
      &:after {
        border: none;
      }
      &:before {
        content: '';
        position: absolute;
        height: 19px;
        width: 19px;
        background-color: #758295;
        bottom: 3px;
        right: 3px;
        transition: 0.4s;
        border-radius: 50%;
        transform: translateX(-19px);
        z-index: 2;
      }
    }
  }
}
