.collateral-token-selector {
  position: absolute;
  top: 57px;
  border-radius: 4px;
  background-color: #758295;
  padding: 15px 20px 20px 20px;
  box-sizing: border-box;
  width: 100%;
  z-index: 100004;
  @media screen and (max-width: $mobile-version-max-width) {
    top: 50px;
  }
  &__wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100003;
  }
  &__title {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.05px;
    color: #ffffff;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @media screen and (max-width: $mobile-version-max-width) {
      margin-bottom: 15px;
    }
  }
  &-item {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    padding: 8px 0;
    text-align: center;
    @media screen and (max-width: $mobile-version-max-width) {
      width: 25%;
    }
    &:hover {
      cursor: pointer;
      background-color: #8b97a9;
    }
    &--selected {
      background-color: #586473;
      &:hover{
        background-color: #586473;
      }
    }
    &__name {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.05em;
      color: #ffffff;
    }
    &__image-container {
      margin-bottom: 10px;
      svg {
        width: 25px;
        height: 25px;
        .eth-svg{
          fill: #c8c8c8;
        }
      }
    }
  }
  &__description{    
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    color: #B9C7D6;
    letter-spacing: 0.05px;
    @media screen and (max-width: $mobile-version-max-width) {
      font-size: 10px;
    }
  }
}
/*.collateral-token-selector__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-top: 3rem;

  .collateral-token-selector__action--close {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    border: 0 none;

    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #a9b5c7;
  }
}*/