.collateral-token-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 26px;
  background-color: #586473;
  width: 105px;
  align-items: center;
  padding: 4px;
  position: relative;
  svg {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    .eth-svg{
      fill: #c8c8c8;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 13px;
    top: calc(50% - 2px);
    transform: translate(0, -50%);
    width: 8px;
    border: 5px solid transparent;
  }

  &.closed {
    &::after {
      top: calc(50% + 2px);
      border-top: 4px solid #ffffff;
    }
  }

  &.opened {
    &::after {
      border-bottom: 4px solid #ffffff;
    }
  }
  span {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
}
