.collateral-token-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 26px;
  background-color: #586473;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  svg {
    width: 25px;
    height: 25px;
  }
  .selector-down {
    display: flex;
    svg {
      width: 8px;
      margin-right: 10px;
      height: auto;
    }
  }
  span {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
}
