.collateral-token-button {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  margin: 1.125rem 0;

  border-radius: 0.75rem;
  border: solid 0.0625rem #ffffff;

  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  img {
    padding: 0 0.5rem;
  }
}
