@import "../abstracts/variables.scss";

.styled-select {
  background-color: var(--select-bg);
  border: 1px solid var(--select-border);
  border-radius: 26px;
  color: var(--primary-text);
  font-weight: 600;
  padding: 8px 45px 8px 25px;
  display: flex;
  align-items: center;
  svg {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 30px;
    .eth-svg {
      fill: #c8c8c8;
    }
  }
  @media (min-width: $breakpoint-mobile-min) {
    font-size: 14px;
  }
  &.active {
    background-color: var(--bg-icon-collateral);
    border-radius: 26px;
    .eth-svg {
      fill: var(--bg-eth);
    }
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: var(--select-arrow) transparent transparent transparent;
    position: absolute;
    top: 22px;
    right: 16px;
  }
}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: var(--select-arrow);
  @media (min-width: $breakpoint-mobile-min) {
    font-size: 14px;
    height: 48px;
  }
  @media (max-width: $breakpoint-mobile-max) {
    font-size: 12px;
  }
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--select-bg);
  border-color: 1px solid var(--select-border);
  border-radius: 26px;
  @media (min-width: $breakpoint-mobile-min) {
    padding: 14px 20px;
  }
  @media (max-width: $breakpoint-mobile-max) {
    padding: 9px 13px;
  }
  &:hover {
    background-color: var(--select-oprion-hover);
  }
  &:active,
  &.active {
    background-color: var(--select-oprion-hover);
    &:after {
      top: 9px;
      border-color: transparent transparent var(--select-arrow) transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--select-option);
  border-radius: 4px;

  &__search {
    position: relative;
  }

  &__input {
    width: 100%;
    height: 31px;
    line-height: 31px;
    background-color: #8b97a9;
    color: transparent;
    caret-color: #fff;
    border: none;
    outline: none;
    transform: scaleY(1.5);
    padding: 0 48px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
  }

  &__value {
    position: absolute;
    left: 48px;
    top: 0;
    pointer-events: none;
    line-height: 48px;
    font-size: 14px;
  }

  [class*="icon"] {
    position: absolute;
    top: 9px;
    height: 28px;
    width: 28px;
  }
  .icon-close {
    pointer-events: none;
    left: 11px;
    padding: 6px;
  }
  .icon-search {
    cursor: pointer;
    right: -3px;

    padding: 8px;
    path {
      stroke: #e9f4ff;
    }
  }

  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    height: 480px;
    color: #e9f4ff;
    line-height: 25px;
    padding: 0 70px 48px;
  }

  li {
    margin: 0;
    padding: 10px 0 10px 15px;
    text-indent: 15px;
    background-color: transparent;
    color: var(--primary-text);
    display: flex;
    align-items: center;
    &:hover {
      background-color: var(--select-option-hover);
    }

    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border-radius: 0 0 4px 4px;
    }
    &:only-child {
      border-radius: 4px;
    }
    &[rel="hide"] {
      display: none;
    }
  }
  svg {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    .eth-svg {
      fill: var(--bg-eth);
    }
  }
}
