$font-size-header: 12px;
$font-size-row: 18px;
$width-col-token-date: 12%;
$width-col-token-asset: 10%;
$width-col-type: 12%;
$width-col-asset-unit: 14%;
$width-col-position: 14%;
$width-col-asset-price: 12%;
$width-col-liquidation-price: 10%;
$width-col-position-value: 10%;
$width-col-profit: 6%;
$width-col-result: 10%;
$width-col-fee-reward: 14%;
$width-col-result-inner: 22%;
$width-col-separator-inner: 92%;

@mixin history-token-grid-header__col {
  font-family: "Muli", sans-serif;
  font-size: $font-size-header;
  font-weight: 600;
  line-height: 1.5;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #a2abb8;
}
@mixin history-token-grid-row__col {
  font-family: "Muli", sans-serif;
  font-size: $font-size-row;
  font-weight: 800;
  color: var(--primary-text);
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  display: flex;
  .sign-currency {
    color: #a2abb8;
    font-weight: 200;
  }
}
.history-token-grid-header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 22px 20px;
  font-family: "Muli", sans-serif;
  &__col-token-date {
    @include history-token-grid-header__col();
    width: $width-col-token-date;
  }
  &__col-type {
    @include history-token-grid-header__col();
    width: $width-col-type;
  }
  &__col-asset-unit {
    @include history-token-grid-header__col();
    width: $width-col-asset-unit;
  }
  &__col-token-asset {
    @include history-token-grid-header__col();
    width: $width-col-token-asset;
  }
  &__col-position {
    @include history-token-grid-header__col();
    width: $width-col-position;
  }
  &__col-asset-price {
    @include history-token-grid-header__col();
    width: $width-col-asset-price;
  }
  &__col-liquidation-price {
    @include history-token-grid-header__col();
    width: $width-col-liquidation-price;
  }
  &__col-position-value {
    @include history-token-grid-header__col();
    width: $width-col-position-value;
  }
  &__col-fee-reward {
    @include history-token-grid-header__col();
    width: $width-col-fee-reward;
  }
  &__col-profit {
    @include history-token-grid-header__col();
    width: $width-col-profit;
    justify-content: center;
  }
  &__col-result {
    @include history-token-grid-header__col();
    width: $width-col-result;
  }
}
.history-token-grid-row,
.history-token-grid-row-inner {
  font-family: "Muli", sans-serif;
  padding: 22px 20px;
  background-color: var(--history-row);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2px;
  &-inner {
    background-color: var(--history-row-inner);
  }
  &__col-token-date {
    font-size: 14px;
    color: #939fac;
    font-weight: 200;
    width: $width-col-token-date;
  }
  &__col-token-asset {
    @include history-token-grid-row__col();
    width: $width-col-token-asset;
  }
  &__col-type {
    @include history-token-grid-row__col();
    width: $width-col-type;
  }
  &__col-asset-unit {
    @include history-token-grid-row__col();
    width: $width-col-asset-unit;
  }
  &__col-token-asset {
    @include history-token-grid-row__col();
    width: $width-col-token-asset;
  }
  &__col-position {
    @include history-token-grid-row__col();
    width: $width-col-position;
  }
  &__col-asset-price {
    @include history-token-grid-row__col();
    width: $width-col-asset-price;
  }
  &__col-liquidation-price {
    @include history-token-grid-row__col();
    width: $width-col-liquidation-price;
  }
  &__col-position-value {
    @include history-token-grid-row__col();
    width: $width-col-position-value;
  }
  &__col-fee-reward {
    @include history-token-grid-row__col();
    justify-content: flex-end;
    width: $width-col-fee-reward;
    justify-content: flex-end;
    padding-right: 60px;
  }
  &__col-profit {
    @include history-token-grid-row__col();
    width: $width-col-profit;
    justify-content: flex-end;
    padding-right: 30px;
  }
  &__result {
    font-size: 14px;
    color: #939fac;
    font-weight: 200;
    width: $width-col-result;
    overflow: hidden;
    &.toggle-collapse {
      cursor: pointer;
      span {
        position: relative;
        border-bottom: 1px dashed #8992a4;
        display: inline-block;
        &:after {
          content: "";
          position: absolute;
          right: -13px;
          top: calc(50% - 2px);
          width: 8px;
          border: 4px solid transparent;
          border-top: 4px solid #8992a4;
        }
      }
      &.opened-collapse {
        span {
          color: var(--primary-text);
          &:after {
            content: "";
            position: absolute;
            right: -13px;
            top: calc(50% - 2px);
            transform: translateY(-50%);
            width: 8px;
            border: 4px solid transparent;
            border-bottom: 4px solid var(--primary-text);
          }
        }
      }
    }
  }
}
.collapse {
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
}

.history-token-grid-row-inner {
  margin-bottom: 0;
  position: relative;
  &:not(:last-child) {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 15px;
      width: calc(90% - 40px);
      background-color: var(--lend-bg-hover);
      height: 1px;
    }
  }
  &:last-child {
    border-bottom-left-radius: 10px;
    margin-bottom: 15px;
  }
  &__result {
    font-size: 14px;
    color: #939fac;
    font-weight: 200;
    width: $width-col-result-inner;
  }
  &__profit {
    justify-content: flex-end;
    padding-left: 30px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  div {
    padding: 4px 14px;
    background-color: var(--lend-border-hover);
    border-radius: 20px;
    &:not(.disabled) {
      cursor: pointer;
      .pagination-stroke {
        stroke: var(--primary-text);
      }
    }
    &.disabled {
      background-color: var(--select-border);
      .pagination-stroke {
        stroke: var(--primary-row);
      }
    }
    &.prev {
      transform: rotate(180deg);
    }
    &.next{
      margin-left: 7px;
    }
  }
}
