@import '../abstracts/variables';

.info-block {
  &__container {
    background: #2d9cdb;
    border-radius: 8px;
    padding: 15px 40px 15px 30px;
    margin-bottom: 20px;
    margin-top: -40px;
  }

  &__left {
    width: 110px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
  }

  &__center {
    width: calc(100% - 210px);
    display: inline-block;

    font-weight: normal;
    line-height: 150%;
    font-size: 14px;
    color: #fff;
    margin-top: 4px;
    .regular-link {
      color: #fff;
      font-weight: 600;
      &:hover {
        color: #003cda;
      }
    }
    .disclosure-link {
      font-weight: 700;
      color: #fff;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }

  &__right {
    float: right;
    height: 100%;
    @media only screen and (min-width: $breakpoint-mobile-min) {
      display: flex;
      align-items: center;
    }
    button {
      border: 0;
      padding: 6px 25px;
      color: #ffffff;
      letter-spacing: 0.05em;
      font-size: 16px;
      font-weight: 800;
      line-height: 1.5;
      border-radius: 43px;
      background-color: #276bfb;
      outline: none;
      max-height: 36px;
      cursor: pointer;
      &:hover {
        background-color: #5b88ff;
      }
    }
  }

  @media only screen and (max-width: $mobile-version-max-width) {
    &__container {
      margin: 0 15px;
    }
    &__left,
    &__center {
      width: 100%;
    }
  }
}
