@import '../abstracts/mixins';
@import '../abstracts/variables';

$font-size-header: 12px;
$font-size-row: 22px;
$font-size-button: 14px;
$width-button: 154px;
$height-button: 44px;
$padding: 22px 30px 35px 30px;
$grid-template-columns: 9% calc(12% - 35px) 10% 10% 10% 13% 15%;
.inner-own-token-grid-header,
.inner-own-token-grid-row {
  .text-asset {
    color: var(--primary-text);
  }
}
.inner-own-token-grid-header {
  display: grid;
  grid-template-columns: $grid-template-columns;
  column-gap: 35px;
  justify-content: space-between;
  padding: 17px 30px 0px 30px;
  margin-bottom: -32px;
  position: relative;
  z-index: 2;
  vertical-align: middle;
  font-size: $font-size-header;
  font-weight: 600;
  color: #a2abb8;

  @media screen and (min-width: $breakpoint-desktop-min) {
    padding: 17px 40px 0px 40px;
  }
  & + div {
    padding-top: 30px;
    .inner-own-token-grid-row__col-token-name-full > span {
      top: 17px;
    }
  }
  .opacity {
    opacity: 0;
  }

  &__col-asset-collateral {
    // text-align: right;
    @media screen and (min-width: $breakpoint-desktop-min) {
      padding-right: 56px;
    }
    @media screen and (max-width: $breakpoint-desktop-max) {
      padding-right: 36px;
    }
  }
  @media screen and (min-width: $breakpoint-laptop-min) {
    &__col-liquidation-price,
    &__col-asset-price,
    &__col-position-value,
    &__col-asset-collateral {
      position: relative;
      > span {
        position: absolute;
        width: max-content;
      }
    }
  }
  &__col-profit {
    grid-column-start: 6;
    grid-column-end: 8;
  }
}

.inner-own-token-grid-row {
  display: grid;
  grid-template-columns: $grid-template-columns;

  z-index: 1;
  justify-content: space-between;
  column-gap: 35px;
  align-items: center;
  background-color: var(--secondary-row);
  padding: $padding;
  margin-bottom: 1px;
  position: relative;
  font-size: 18px;
  font-weight: 800;
  color: var(--primary-text);
  line-height: 1.5;

  @media screen and (min-width: $breakpoint-desktop-min) {
    padding: 22px 40px 35px 40px;
    font-size: $font-size-row;
  }
  .sign-currency {
    color: #a2abb8;
    font-weight: 400;
  }
  .value-currency {
    position: relative;
    text-align: left;
  }
  &__line {
    display: inline-block;
    height: 26px;
    width: 1px;
    vertical-align: -7px;
    margin: 0 4px;
    background-color: #586473;
    @media screen and (min-width: $breakpoint-desktop-min) {
      vertical-align: -5px;
    }
  }
  &__body-header {
    display: none;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.5;
    color: #a2abb8;
    width: 100%;
  }

  &__col-asset-price {
    display: flex;
    .value-currency {
      min-width: 85px;
    }
  }
  &__col-asset-price-small {
    position: absolute;
    font-size: 12px;
    font-weight: 600;

    color: #a2abb8;
    left: 0;
    top: 100%;
    &.positive {
      color: #00c0ab;
    }
    &.negative {
      color: #ff4f4f;
    }
  }

  &__col-asset-type {
    display: flex;
  }
  // &__col-liquidation-price {
  //   display: flex;
  //   justify-content: flex-end;
  // }
  // &__col-position-value {
  //   display: flex;
  //   justify-content: flex-end;
  // }
  &__col-asset-collateral {
    // align-items: center;
    // position: relative;
    display: flex;
    .value-currency {
      min-width: 90px;
      > :first-child {
        position: relative;
      }
    }
  }
  &__col-asset-collateral-small {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    text-indent: 13px;
    top: 100%;
    left: -13px;
    color: #a2abb8;
    &.danger {
      color: #ff4f4f;
    }
  }
  &__open-manage-collateral {
    background-color: var(--bg-icon-collateral);
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -35px;
    top: -1px;
    cursor: pointer;

    .icon-collateral-fill {
      fill: var(--icon-collateral);
    }
    .icon-collateral-stroke {
      stroke: var(--icon-collateral);
    }
    &.danger {
      .icon-collateral-fill {
        fill: #ff4f4f;
      }
      .icon-collateral-stroke {
        stroke: #ff4f4f;
      }
    }
  }

  &__col-action {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  &_button {
    width: $width-button;
    @media screen and(min-width: $breakpoint-mobile-min) {
      height: $height-button;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    font-size: $font-size-button;
    line-height: 1.5;
    font-weight: 700;
    border: 0;
    border-radius: 43px;
    text-transform: uppercase;
    font-style: normal;
    color: #ffffff;
    outline: none;
    &:not(:disabled) {
      cursor: pointer;
    }
    &:disabled {
      background-color: var(--disabled-bg);
      color: var(--disabled-color);
      cursor: not-allowed;
    }
  }
  &__sell-button {
    background-color: #ff4f4f;
    &.rollover-warning {
      color: #fcff7a;
      text-transform: capitalize;
    }
    &:hover {
      background-color: #fe7272;
    }
    &:disabled {
      background-color: var(--disabled-bg);
      color: var(--disabled-color);
      cursor: not-allowed;
    }
  }
  &.new-position:first-child {
    animation: opacityIn 1s cubic-bezier(1, 1, 1, 1);
  }
  &__col-token-name-full {
    > span {
      @media screen and (min-width: $breakpoint-mobile-min) {
        position: absolute;
        top: 12px;
        display: block;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile-max) {
  .inner-own-token-grid {
    &-row {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(6, 1fr);
      grid-auto-flow: column;
      align-items: baseline;
      padding: 18px 15px 13px;
      row-gap: 12px;
      column-gap: 0;
      font-size: 18px;
      .value-currency {
        text-align: left;
      }

      &__body-header {
        display: block;
        margin-bottom: 6px;
      }
      &__open-manage-collateral {
        width: 18px;
        height: 18px;
        padding: 4px;
        top: 2px;
        right: -25px;
      }
      &__col-token-name-full {
        order: 0;
        align-self: start;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      &__col-asset-price {
        order: 2;
        display: block;
        grid-column-start: 1;
        grid-column-end: 4;
      }
      &__col-asset-price-small {
        font-size: 10px;
        left: auto;
        padding-left: 5px;
        top: -5px;
      }
      &__col-position-value {
        order: 1;
        display: block;
        grid-column-start: 1;
        grid-column-end: 4;
      }
      &__col-asset-type {
        grid-column-start: 3;
        grid-column-end: 5;
        order: 4;
        .position-type-marker {
          font-size: 10px;
          width: 71px;
          padding: 8px 0;
          text-align: center;
        }
      }

      &__col-asset-collateral {
        flex-wrap: wrap;
        margin-bottom: 8px;
        order: 4;
        grid-column-start: 4;
        grid-column-end: 7;
      }

      &__col-liquidation-price {
        grid-column-start: 4;
        grid-column-end: 7;
        order: 5;
        display: block;
      }

      &__col-action {
        display: flex;
        justify-content: flex-end;
        padding-top: 12px;
        grid-column-start: 4;
        grid-column-end: 7;
      }

      &__col-profit {
        order: 8;
        grid-column-start: 1;
        grid-column-end: 5;
      }

      &__col-asset-collateral-small {
        font-size: 10px;
        right: auto;
        left: 55px;
        width: 102px;
        top: -5px;
      }

      &_button {
        font-size: 14px;
        padding: 6px;
      }
    }
  }
}
