@import '../abstracts/variables';

.input-amount {
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #a9b5c7;
    margin-bottom: 12px;
  }
  &__container {
    display: flex;
    background-color: var(--bg-input-amount);
    width: auto;
    height: 65px;
    position: relative;
    padding-right: 15px;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 24px;
  }
  &__input {
    width: calc(100% - 105px);
    padding-left: 15px;
    border: none;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary-text);
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
  &__group-button {
    margin-top: 3px;
    margin-bottom: 10px;
    button {
      font-size: 12px;
      font-weight: 600;
      width: calc(25% - 1.5px);
      padding: 8px 0;
      color: #ffffff;
      background-color: #586473;
      border: none;
      outline: none;
      cursor: pointer;
      line-height: 1.5;
      &:not(:last-child) {
        margin-right: 2px;
      }
      &:hover,
      &:focus,
      &.active {
        background: #758295;
      }
    }
  }

  @media screen and (max-width: $mobile-version-max-width) {
    &__container {
      height: 52px;
      padding-right: 10px;

      &:before {
        display: none;
      }
    }

    &__input {
      width: calc(100% - 95px);
      font-size: 24px;

      &:focus {
        outline: none;
      }
    }

    &__collateral-button-container {
      .collateral-token-button {
        width: 95px;
      }
    }

    &__form-container {
      float: none;
      width: auto;
    }

    &__group-button {
      button {
        padding: 5px 0;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.preloader-container {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0%, -50%);
  width: 100%;
}
