@import '../abstracts/variables';

.lend-token-selector {
  font-family: 'Muli', sans-serif;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;

  .token-selector-item {
    box-sizing: border-box;

    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;

    padding: 40px 30px 25px 30px;
    margin-bottom: 4px;
    background-color: var(--primary-row);
    border: 2px solid transparent;

    &.loading-transaction {
      background-color: var(--lend-bg-loading);
      border-color: var(--lend-border-loading);
      .lend-transaction-step {
        margin-top: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 18px;
        line-height: 140%;

        color: #00c0ab;
        text-align: center;
        &.warning {
          color: #ff4f4f;
        }
        @keyframes in {
          0% {
            opacity: 0;
            transform: translate(0, -20px);
          }
          to {
            opacity: 1;
            transform: translate(0px, 0px);
          }
        }
        @keyframes out {
          0% {
            opacity: 1;
            transform: translate(0, 0);
          }
          to {
            opacity: 0;
            transform: translate(0px, 20px);
          }
        }

        &.animation-in {
          animation: in 0.5s ease-in;
        }
        &.animation-out {
          animation: out 0.5s ease-in;
        }
      }
    }
    @media screen and (min-width: $breakpoint-desktop-min) {
      width: calc(25% - 3px);
      max-width: calc(25% - 3px);
      &:not(:nth-child(4n)) {
        margin-right: 4px;
      }
    }
    @media screen and (max-width: $breakpoint-desktop-max) {
      width: calc(100% / 3 - 2px);
      max-width: calc(100% / 3);
      &:not(:nth-child(3n)) {
        margin-right: 3px;
      }
    }

    .sign-currency {
      color: #a2abb8;
      font-weight: 400;
    }

    .token-select-item-mcd-bridge {
      cursor: pointer;
      position: absolute;
      background-color: var(--lend-item-before);
      width: 5.5625rem;
      height: 2.5rem;
      top: 0px;
      right: 0px;
      border-bottom-left-radius: 1.5625rem;
      &:hover {
        background-color: var(--lend-item-before-hover);
      }
      .token-select-item-mcd-bridge__text {
        position: absolute;
        top: 0%;
        bottom: 0%;
        font-family: 'Muli', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 9px;
        line-height: 150%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        color: #ffffff;
        &--upgrade {
          left: 0.9rem;
        }

        &--downgrade {
          left: 0.9rem;
        }
      }
    }

    .token-selector-item__image {
      margin-bottom: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      img,
      svg {
        display: inline-block;
        height: 4rem;
        width: 4rem;
        .eth-svg {
          fill: #c8c8c8;
        }
      }
    }

    .token-selector-item__descriptions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-bottom: 1.5rem;
      .token-selector-item__description {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        > div {
          width: 50%;
        }
        & + .token-selector-item__description {
          margin-top: 4px;
        }
      }
      .token-selector-item__name {
        font-size: 26px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        text-align: left;
        color: var(--primary-text);
        margin-top: 9px;
        margin-bottom: 12px;
      }

      .token-selector-item__profit-container {
        display: flex;
        flex-direction: column;

        height: 2.5rem;

        .token-selector-item__profit-title {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: right;
          color: var(--trade-header-color);
        }

        .token-selector-item__profit-value {
          font-size: 18px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: -0.4px;
          text-align: right;
          font-weight: 800;
          color: var(--primary-text);
        }
      }

      .token-selector-item__interest-rate-container {
        display: block;
        flex-direction: column;

        align-items: flex-start;

        height: 2.5rem;
        margin-top: -0.5rem;
        margin-bottom: 12px;

        .token-selector-item__interest-rate-title {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: right;
          color: var(--trade-header-color);
        }

        .token-selector-item__interest-rate-value {
          font-size: 26px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: -0.4px;
          text-align: right;
          font-weight: 800;
          color: var(--primary-text);
        }
      }
    }

    .token-selector-item__actions {
      display: flex;
      flex-direction: row;
      justify-content: center;

      button {
        display: block;

        border: 0;
        height: 45px;
        border-radius: 100px;
        text-transform: uppercase;
        outline: none;
        max-width: 130px;
        color: #ffffff;
        margin: auto;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.05em;

        &.token-selector-item__lend-button--size-full {
          width: 120px;
        }

        &.token-selector-item__lend-button--size-half {
          width: 110px;
          margin: 0 5px;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        &.token-selector-item__lend-button {
          background-color: #00c0ab;
          &:hover {
            background-color: #33dfcc;

            &:not(:disabled) {
              cursor: pointer;
            }
          }
          &:disabled {
            background-color: #5e6b7b;
            color: #94a4bb;
            cursor: not-allowed;
          }
        }

        &.token-selector-item__un-lend-button {
          background-color: #ff5353;
          &:hover {
            cursor: pointer;
            background-color: #fe7272;
          }
        }
      }
    }
    .wrapper-loader {
      float: right;
      padding: 10px 0;
    }
    &_active {
      background-color: var(--lend-bg-hover);
      border-color: var(--lend-border-hover);
      .token-selector-item__descriptions {
        .token-selector-item__description {
          align-items: flex-end;
          .token-selector-item__name {
            order: -2;
            font-size: 18px;
          }
          .token-selector-item__interest-rate-container {
            margin-bottom: 0;
            .token-selector-item__interest-rate-title {
              text-align: left;
            }
            .token-selector-item__interest-rate-value {
              text-align: left;
              font-size: 18px;
            }
          }
          .token-selector-item__profit-container {
            &.token-selector-item__balance-container {
              order: -1;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .circle-loader {
    .circle-background {
      border-color: var(--lend-circle-background);
    }
    .circle-main {
      border-top-color: var(--lend-circle-main);
    }
  }
}

@media screen and (max-width: $mobile-version-max-width) {
  .lend-token-selector {
    .token-selector-item {
      max-width: 100%;
      min-width: 100%;
      margin-right: 0;
    }
  }
}
