.lend-form {
  @include clearfix();

  width: 36rem;

  background-color: #444e5a;
}

.lend-form__image {
  float: left;

  position:absolute;
  height: 100%;
  width: 16rem;

  top: 0;
  left: 0;

  background-size: 100% 100%;

  img {
    position: relative;

    height: 8rem;
    width: 8rem;

    top: 50%;
    left: 50%;

    transform: translateX(-75%) translateY(-50%);
  }
}

.lend-form__form-container {
  float: right;
  box-sizing: border-box;

  height: 100%;
  width: 20rem;

  top: 0;
  left: 0;

  padding: 3rem 3rem 3rem 1rem;
}

.lend-form__form-values-container {
  margin-bottom: 2.5rem;
}

.lend-form__actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.lend-form__kv-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.22rem 0;
}

.lend-form__kv-container--w_dots {
  background-image: url("../assets/images/dotted_line.png");
  background-repeat: repeat-x;
  background-position-y: 1.25rem;
}

.lend-form__token-message-container {
  margin: 0.25rem 0 0.5rem;
  padding: 0.75rem 1.375rem;

  border-radius: 0.25rem;
  background-color: #0000001a;
}

.lend-form__token-message-container--message {
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #a9b5c7;
}

.lend-form__label {
  line-height: 2;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #a9b5c7;
  background-color: #444e5a;
}

.lend-form__label--action {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  border: 0 none;

  &:focus {
    outline: none;
  }
  //background-image: url("../assets/images/dotted_line.png");
  //background-repeat: repeat-x;
  //background-position-y: 1.25rem;
}

.lend-form__value {
  line-height: 2;
  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffe546;
  background-color: #444e5a;

  &--no-color {
    color: #a9b5c7;
  }
}

.lend-form__amount-container {
  display: flex;

  .lend-form__amount-input {
    height: 4rem;
    width: calc(100% - 4rem);

    background-color: rgba(32, 31, 35, 0.3);
    padding: 0.8125rem 1rem 0.9375rem;
    border: 0 none;

    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;

    &:focus {
      outline: none;
    }
  }

  .lend-form__amount-max {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;

    width: 4rem;
    padding: 0.5rem;

    border: 0;
    border-left: 1px solid #444e5a;

    background-color: rgba(32, 31, 35, 0.3);


    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    cursor: pointer;
  }

  .lend-form__amount-maxed {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;

    width: 4rem;
    padding: 0.5rem;

    border: 0;
    border-left: 1px solid #444e5a;

    background-color: rgba(32, 31, 35, 0.3);


    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00ff00;

    cursor: pointer;
  }
}

.rounded-mark {
  font-size: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  padding: 0.0625rem 0.3125rem;
}

.lend-form__cancel-button {
  display: inline-block;

  cursor: pointer;
  border: 0;
  height: 2.5rem;
  width: 6.5rem;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #a9b5c7;
  outline: none;
}

.lend-form__submit-button {
  display: inline-block;

  cursor: pointer;
  border: 0;
  height: 2.5rem;
  width: 6.5rem;
  border-radius: 100px;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;

  &--lend {
    background-color: #69bf83;
  }

  &--un-lend {
    background-color: #ff5353;
  }
}
