.leverage-selector {
  display: inline-block;
  vertical-align: middle;

  height: 48px;
  padding-bottom: 2px;
  padding-top: 2px;
  
  border-radius: 100px;
  background-color: rgba(169, 181, 199, 0.15);
}

.leverage-selector__item {
  display: inline-block;
  vertical-align: top;


  // height: 2.5rem;
  // width: 2.5rem;
  line-height: 22px;

  list-style: none;

  border-style: none;
  border-radius: 100px;

  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;

  font-style: normal;
  font-weight: 800;
  font-size: 16px;

  padding: 13px 16px;
  &--selected {
    border-style: none;
    background-color: #00C0AB;
    &:hover{
      cursor: pointer
    }
  }
  &:hover:not(&--selected){
    cursor: pointer;

    color: #00C0AB;
  }
}
