@import "../abstracts/variables";
.manage-token-grid {
  position: relative;
  min-height: 50vh;
  margin-top: 30px;
  &__title {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
    margin: 10px auto 25px auto;
  }
  &__group-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 0;
    .tab {
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 800;
      color: #8992a4;
      text-transform: capitalize;
      cursor: pointer;
      padding: 10px 20px;
      @media screen and (min-width: $breakpoint-mobile-min) {
        padding: 20px;
      }
      & path {
        fill: #8992a4;
      }
      &.active {
        position: relative;
        &,
        & span {
          color: var(--primary-text);
        }
        & path {
          fill: var(--primary-text);
        }
        &:after {
          content: "";
          height: 8px;
          border-radius: 4px;
          width: 100%;
          position: absolute;
          bottom: -5px;
          background-color: #276bfb;
          z-index: 12;
        }
      }
    }
  }
}
