@import '../abstracts/variables';
.manage-token-grid {
  position: relative;
  min-height: 50vh;
  margin-top: 30px;
  &__placeholder {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    @media (min-width: $breakpoint-desktop-min) {
      margin-top: 60px;
    }
    p {
      margin: 24px;
      font-weight: 600;
      font-size: 16px;
      color: #8992a4;
    }
  }
  &__link-button {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    background: #276bfb;
    border-radius: 43px;
    padding: 15px 30px;
    border: 0;
    cursor: pointer;
    outline: none;
    &:hover {
      background: #5b88ff;
    }
  }
  &__title {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
    margin: 10px auto 25px auto;
  }  
}
