@media screen and (max-width: $mobile-version-max-width) {
  .on-chain-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;

    //padding: 1.25rem 0;
    margin-top: 0;
    // background-color: rgba(169, 181, 199, 0.15);
  }
  .on-chain-indicator__container {
    margin: 0;
    .on-chain-indicator__provider-img {
      margin: 0.5rem 0.5rem;
    }
    .on-chain-indicator__wallet-address {
      padding: 0 0.5rem;
      border-left: solid 0px ;
    }
    a.on-chain-indicator__wallet-address {
      padding: 0;
    }
  }
}
