@import '../abstracts/variables';
$font-size-header: 12px;
$font-size-row: 15px;
$width-col-token-image: 26%;
$width-col-token-name: 14%;
//$width-col-position-type: 8%;
$width-col-asset-unit: 11%;
$width-col-position: 11%;
$width-col-asset-price: 9%;
$width-col-liquidation-price: 9%;
$width-col-collateral: 12%;
$width-col-position-value: 10%;
$width-col-profit: 12%;
$width-col-actions: 12%;
$primary-color: #e9f4ff;
$primary-dark-color: rgba(#444e5a, 0.4);
$secondary-color: rgba(#e9f4ff, 0.4);
$secondary-dark-color: rgba(#333c46, 0.4);

@mixin own-token-grid-header__col {
  font-family: 'Muli', sans-serif;
  vertical-align: middle;
  font-size: $font-size-header;
  font-weight: 600;
  line-height: 1.5;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #a2abb8;
}
@mixin own-token-grid-row__col {
  font-family: 'Muli', sans-serif;
  font-size: $font-size-row;
  font-weight: 800;
  color: var(--primary-text);
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}

.own-token-grid-header {
  @include own-token-grid-header__col();
  display: grid;
  grid-template-columns:
    $width-col-token-name
    $width-col-position
    $width-col-asset-price
    $width-col-asset-price
    $width-col-liquidation-price
    $width-col-collateral
    $width-col-position-value
    $width-col-profit
    $width-col-actions;
  padding: 0 16px 22px 16px;
}

.own-token-grid-row {
  position: relative;
  @include own-token-grid-row__col();
  display: grid;
  grid-template-columns:
    $width-col-token-name
    $width-col-position
    $width-col-asset-price
    $width-col-asset-price
    $width-col-liquidation-price
    $width-col-collateral
    $width-col-position-value
    $width-col-profit
    $width-col-actions;

  margin-bottom: 20px;
  background-color: $primary-color;
  padding: 12px 16px;
  margin-bottom: 2px;
  min-height: 80px;
  @media screen and (min-width: $breakpoint-desktop-min) {
    font-size: 18px;
  }
  &:hover {
    background-color: $secondary-color;
  }
  [data-theme='dark'] & {
    background-color: $primary-dark-color;
    &:hover {
      background-color: $secondary-dark-color;
    }
  }
  > div {
    line-height: 17px;
  }
  .sign-currency {
    color: #a2abb8;
    font-weight: 400;
  }

  .value-currency {
    position: relative;
  }

  &__col-token-name {
    display: flex;
    align-self: center;
  }

  &__asset {
    font-size: 12px;
    color: #8992a4;
    font-weight: 600;
  }

  &__line {
    display: inline-block;
    height: 18px;
    width: 1px;
    vertical-align: -3px;
    margin: 0 2px;
    background-color: #8992a4;
  }

  .body-header {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.5;
    color: #a2abb8;
  }

  &__col-position-type {
    display: flex;
    align-self: center;
  }

  &__col-asset-collateral-small {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    // text-indent: 13px;
    color: #a2abb8;
    bottom: -20px;
    left: 0;
    &.danger {
      color: #ff4f4f;
    }
  }
  &__open-manage-collateral {
    background-color: var(--bg-icon-collateral);
    width: 20px;
    height: 20px;
    padding: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
    position: absolute;
    top: -2px;
    right: -27px;
    cursor: pointer;
    .icon-collateral-fill {
      fill: var(--icon-collateral);
    }
    .icon-collateral-stroke {
      stroke: var(--icon-collateral);
    }
    &.danger {
      .icon-collateral-fill {
        fill: #ff4f4f;
      }
      .icon-collateral-stroke {
        stroke: #ff4f4f;
      }
    }
  }
  &__open-extend-loan {
    background-color: #ffffff;
    background-color: var(--bg-icon-collateral);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
    position: absolute;
    top: -2px;
    right: -50px;
    cursor: pointer;
    .icon-extend-light {
      fill: var(--icon-collateral);
    }
    .icon-extend-dark {
      fill: var(--lend-bg-hover);
    }
  }
  &__col-collateral-wrapper {
    display: flex;
    position: relative;
  }

  &__col-action {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-self: center;
  }
  &_button {
    width: 154px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: 0.05em;
    border: 0;
    border-radius: 43px;
    text-transform: uppercase;
    font-style: normal;
    color: #ffffff;
    outline: none;
    &:not(:disabled) {
      cursor: pointer;
    }
    &:disabled {
      background-color: var(--disabled-bg);
      color: var(--disabled-color);
      cursor: not-allowed;
    }
  }
  &__sell-button {
    background-color: #ff4f4f;
    &.rollover-warning {
      color: #fcff7a;
      text-transform: capitalize;
    }
    &:hover {
      background-color: #fe7272;
    }
    &:not(:disabled) {
      cursor: pointer;
    }
    &:disabled {
      background-color: var(--disabled-bg);
      color: var(--disabled-color);
      cursor: not-allowed;
    }
  }
  &__col-profit {
    .positive {
      color: #00c0ab;
    }
    .negative {
      color: #ff4f4f;
    }
    &-switch {
      border-radius: 22px;
      background-color: var(--primary-bg);
      position: absolute;
      display: flex;
      bottom: 10px;
      label {
        line-height: 1.5;
        font-size: 9px;
        display: inline-block;
        padding: 3px 6px;
        color: var(--primary-text);
        cursor: pointer;
        &:first-child {
          border-radius: 18px 0 0 18px;
        }
        &:last-child {
          border-radius: 0 18px 18px 0;
        }
        &.active {
          background-color: #276bfb;
          transition: 0.15s background-color;
          color: #ffffff;
        }
      }
    }
    .body-header {
      display: block;
      font-size: 12px;
      color: #8992a4;
      margin-bottom: 0;
    }
    svg {
      width: 16px;
    }
  }
}

@media (max-width: $breakpoint-mobile-max) {
  .own-token-grid {
    margin-top: -36px;
    padding: 0 15px;
    &-row {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(6, 1fr);
      grid-auto-flow: column;
      align-items: baseline;
      padding: 12px 15px 25px;
      row-gap: 20px;

      .body-header {
        display: inline-block;
      }
      &__asset {
        display: inline-block;
        font-size: 10px;
        color: #fff;
      }
      &__col-token-name {
        align-self: flex-start;
        display: block;
        order: 0;
        grid-column-start: 1;
        grid-column-end: 4;
        .body-header {
          display: block;
        }
      }
      &__col-position {
        order: 1;
        grid-column-start: 1;
        grid-column-end: 4;
      }
      &__col-collateral {
        order: 5;
        grid-column-start: 4;
        grid-column-end: 7;
      }

      &__col-asset-price {
        order: 3;
        grid-column-start: 1;
        grid-column-end: 4;
      }
      &__col-current-price {
        order: 6;
        grid-column-start: 4;
        grid-column-end: 7;
      }
      &__col-position-value {
        order: 7;
        grid-column-start: 4;
        grid-column-end: 7;
      }
      &__col-action {
        order: 4;

        align-self: baseline;
        grid-column-start: 4;
        grid-column-end: 7;
        align-self: flex-start;
        padding-top: 11px;
      }

      &__col-liquidation-price {
        order: 4;
        grid-column-start: 1;
        grid-column-end: 4;
      }

      &__col-profit {
        order: 8;
        grid-column-start: 1;
        grid-column-end: 4;
        position: relative;
        .body-header {
          display: block;
        }
        span {
          margin-bottom: 3px;
        }
        &-switch {
          left: 80px;
          bottom: -2px;
        }
      }

      &__open-manage-collateral {
        width: 18px;
        height: 18px;
        padding: 4px;
        top: -2px;
        right: -26px;
      }

      &__open-extend-loan {
        display: flex;
        top: -2px;
        right: -49px;
        width: 18px;
        height: 18px;
      }
      &__col-asset-collateral-small {
        text-indent: 10px;
        font-size: 10px;
        bottom: 8px;
        left: auto;
        right: -92px;
      }
      &_button {
        font-size: 14px;
      }
    }
  }
}
