.position-type-marker {
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  padding: 0.125rem 0.25rem;
  border: solid 1px #ffffff;
  border-radius: .25rem;
}
