.position-type-marker {
  font-size: 12px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--position-marker-color);
  background-color: var(--position-marker-bg);
  padding: 6px 12px;
  border: solid 1px #a2abb8;
  border-radius: 1.5rem;
}
