.position-type-marker {
  font-size: 10px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: var(--position-marker-color);
  background-color: var(--position-marker-bg);
  padding: 8px 13px;
  border: 1px solid var(--disabled-bg);
  border-radius: 26px;
}
