.wrapper-loader {
  overflow: hidden;
  border-radius: 48%;
  padding: 7px 0;
  .container-loader {
    animation: translateContainer 0.6s cubic-bezier(0, 0, 1, 1);
    height: 12px;
    border-radius: 12px;
    background-color: var(--lend-bg-hover);
    display: flex;
    align-items: center;
    overflow: hidden;
    .item-loader {
      width: 25px;
      height: 8px;
      border-radius: 15px;
      transform: translateX(-27px);
      animation: translateItem 0.8s cubic-bezier(0, 0, 1, 1) 0.6s infinite;
      background-color: var(--loader-slider);
    }
    
  }
  .trade-form__submit-button--buy & {
    padding: 3px 0;
    border-radius: 0;

    .container-loader {
      background-color: #5b88ff;

      .item-loader {
        background-color: #407bf7;
      }
    }
  }
  .trade-form__submit-button--sell & {
    padding: 3px 0;
    border-radius: 0;

    .container-loader {
      background-color: #fe7272;

      .item-loader {
        background-color: #ff5353;
      }
    }
  }
}
.loader {
  .loader-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 10002;
    .loader-content {
      width: 100%;
      height: 27%;
      background-color: #f5f7f9;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
  .loader-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
  }
  .loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10003;
    .loader-text {
      font-weight: 900;
      color: var(--primary-text);
      text-align: center;
      &-small {
        font-size: 12px;
        margin-bottom: 10px;
      }
      &-middle {
        font-size: 32px;
        margin-bottom: 15px;
      }
      &-large {
        font-size: 52px;
        margin-bottom: 35px;
        @media screen and (max-width: $mobile-version-max-width) {
          font-size: 36px;
          margin-bottom: 15px;
        }
      }
    }
    .loader-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: inline-flex;
        background-color: #a9b5c7;
        opacity: 0.5;
        border-radius: 50%;
        animation-name: animationDotsLoader;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0, 0, 1, 1);
        &.small-dots {
          width: 5px;
          height: 5px;
          margin: 0 4px;
        }
        &.middle-dots {
          width: 8px;
          height: 8px;
          margin: 0 8px;
        }
        &.large-dots {
          width: 12px;
          height: 12px;
          margin: 0 13px;
        }
        &:nth-child(1) {
          animation-delay: 0;
        }
        &:nth-child(2) {
          animation-delay: 0.35s;
        }
        &:nth-child(3) {
          animation-delay: 0.7s;
        }
        &:nth-child(4) {
          animation-delay: 1.05s;
        }
      }
    }
  }
}
