.price-graph {

}

.price-graph__hovered-time-container {
}

.price-graph__hovered-time {
  color: #acb5c2;

  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
}

.price-graph__hovered-time-delimiter {
  line-height: 2rem;
  height: 2rem;

  text-align: center;

  & div {
    display: inline-block;
    line-height: 1px;
    height: 1px;
    width: 1.5rem;
    background-color: #acb5c2;
  }
}

.price-graph__hovered-price-marker {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -1.2px;
  text-align: center;
  color: #ffffff;
}
.price-graph__hovered-price-marker-label {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -1.2px;
  text-align: center;
  color: #ffffff;
}

.price-graph__hovered-change-1h-marker {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: #ff5353;
}

.price-graph__graph-container {
}

.price-graph__timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-graph__timeline-from {
  flex-grow: 0;
  padding-right: 1rem;

  color: #ffffff;

  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
}

.price-graph__timeline-dots {
  flex-grow: 1;

  background-image: url("../assets/images/margin_cell_border.png");
  background-repeat: repeat-x;
  background-position-y: 0.625rem;
}

.price-graph__timeline-to {
  flex-grow: 0;
  padding-left: 1rem;

  color: #ffffff;

  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
}

@media screen and (max-width: $mobile-version-max-width) {
  .price-graph__hovered-price-marker-label{
    display: none;
  }
  .price-graph__hovered-price-marker {
    font-size: 1.2rem;
    margin-top: 6px;
  }
  .price-graph__hovered-time-delimiter {
    display: none;
  }
  .price-graph__hovered-time{
    display: none;
  }
  .price-graph__line{
    margin: auto;
  }
  .price-graph__timeline{
    width: 80%;
    margin: auto;
  }
  .trade-token-grid-row__buy-button{

  }
}
