.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  opacity: 0.9;

  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 5rem;

  background-color: #201f23;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;

  width: $page-max-width;
  padding: $page-padding;
}

.progress-bar__info {
  display: inline-block;

  margin: 1.5rem 0 1.5rem 0.625rem;
}

.progress-bar__error-message {
  display: inline-block;
  margin: 1.5rem 0 1.5rem 0.625rem;

  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 2rem;
}

.progress-bar__title {
  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.progress-bar__step {
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a9b5c7;
}

.progress-bar__btn {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  outline: none;

  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;

  width: 6rem;
  height: 2rem;
  border-radius: 100px;
  margin: 1.5rem 0 1.5rem 1rem;

  &--more {
    background-color: rgba(111, 111, 111, 0.56);
    border: solid 1px #758295;
  }

  &--try-again {
    background-color: #5EBE85;
    border: none;
  }

  &--cancel {
    background-color: #FF5358;
    border: none;
  }
}

@media only screen and (max-width: $mobile-version-max-width) {
  .progress-bar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;

  width: 100%;
  padding: $page-padding;
}
}
