.provider-menu {
  padding: 50px 60px 40px 60px;
  background-color: #444e5a;
  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    color: #a2abb8;
  }
  &__footer {
    color: var(--trade-header-color);

    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    max-width: 280px;

    justify-content: center;
    margin: 0 auto;
    a {
      color: #00c0ab;
      &:hover {
        color: #33dfcc;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-row-gap: 15px;
    grid-column-gap: 25px;
  }
  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 43px;
    flex-direction: column;
    flex-direction: row;
    /* width: 50%; */
    padding: 20px 30px;
    flex-wrap: wrap;
    background-color: #3d4651;
    width: 250px;

    &:hover {
      transition: all 0.1s;
      background-color: #758295;
    }
    &--selected {
      background-color: #586473;
    }
    &-content {
      &-img {
        display: flex;
      }
      &-txt {
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        color: #ffffff;
      }
    }
  }
  .disconnect {
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: #586473;
    border-radius: 43px;
    text-align: center;
    padding: 20px 50px;
    margin: 30px auto;
    &:hover {
      transition: all 0.1s;
      background-color: #758295;
    }
  }
}

@media only screen and (max-width: $mobile-version-max-width) {
  .provider-menu {
    padding: 30px 15px 15px 15px;
    &__list-item {
      &:not(:last-child) {
        height: 60px;
        width: 260px;
      }
    }
    &__footer {
      font-size: 14px;
    }
  }
  /*.provider-menu__list-item:last-child {
    margin-top: 0rem;
  }
  .provider-menu__list-item {
    height: 4.5rem;
  }
  .provider-menu__title {
    margin-bottom: 1rem;
  }
  .provider-menu {
    width: 200px;
    margin: auto;
    margin-bottom: 38px;
  }*/
}
