.provider-menu {
  //height: 30.5rem;
  //width: 22rem;
  width: 50vh;

  padding: 3rem;

  background-color: #444e5a;
}

.provider-menu__title {
  margin-bottom: 2rem;

  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  text-align: center;
  text-transform: uppercase;

  color: #acb5c2;
}

.provider-menu__list {
}

.provider-menu__list-item {
  list-style: none;
  cursor: pointer;

  box-sizing: border-box;
  height: 5.5rem;
  margin-bottom: 1px;
  padding: 1.5rem 0;

  &:hover {
    background-color: rgba(169, 181, 199, 0.15);
  }

  &--selected {
    background-color: rgba(169, 181, 199, 0.45);
  }
}

.provider-menu__list-item:last-child {
  margin-top: 2rem;
}

.provider-menu__list-item-content-img {
  height: 100%;
  width: 100%;
}

.provider-menu__list-item-content-txt {
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  @media(min-width: 960px){
  line-height: 2.5rem;
  }
  text-align: center;
  text-transform: uppercase;

  color: #acb5c2;
}



@media only screen and (max-width: $mobile-version-max-width) {

  .provider-menu__list-item:last-child {
      margin-top: 0rem;
    }
  .provider-menu__list-item {
    height: 4.5rem;
  }
  .provider-menu__title {
    margin-bottom: 1rem;
  }
  .provider-menu {
    width: 200px;
    margin: auto;
    margin-bottom: 38px;
  }
  //.modal-content-div {
  //  left: 41%;
  //}
}
