$width-col-name: 7%;
$width-col-total-tvl-usd: 12%;
$width-col-total-supply-usd: 12%;
$width-col-total-supply: 11%;
$width-col-total-borrow: 11%;
$width-col-locked: 11%;
$width-col-liquidity: 11%;
$width-col-liquidity-reserved: 11%;
$width-col-supply-rate: 11%;
$width-col-borrow-rate: 14%;

$margin-left-column: 1rem;
$margin-right-column: 1rem;

.stats-grid__title {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 15px;
  color: var(--primary-text);
}

.stats-grid {
  display: flex;
  flex-wrap: wrap;
  .stats-grid-header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 20px 0 10px 0;
  }
  .stats-grid-row {
    display: flex;
    width: 100%;
    background-color: var(--primary-row);
  }

  .stats-grid-header__col {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--trade-header-color);
    .stats-grid-header__text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:not(:last-child) {
      margin-right: $margin-right-column;
    }
    &:last-child {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .stats-grid-row__col {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--trade-header-color);
    text-overflow: ellipsis;
    &:not(:last-child) {
      margin-right: $margin-right-column;
    }
    .fw-800 {
      font-weight: 800;
    }
    .color-primary {
      color: var(--primary-text);
    }
  }

  .stats-grid-row__col-name {
    display: flex;
    .stats-grid-row__image {
      display: flex;
      svg {
        width: 28px;
        height: 28px;
        .eth-svg {
          fill: #c8c8c8;
        }
      }
    }
    .stats-grid-row__asset-name {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }
}
@media screen and (min-width: 960px) {
  .stats-grid-row {
    padding: 26px 0;
    margin-bottom: 1px;
  }
  .stats-grid-row__col {
    font-size: 14px;
  }
  .stats-grid-header__col-name,
  .stats-grid-row__col-name {
    margin-left: $margin-left-column;
    width: $width-col-name;
    .stats-grid-row__asset-name {
      &.reserve-all {
        margin-left: 38px;
        > span {
          display: none;
        }
      }
    }
  }
  .stats-grid-header__col-total-tvl-usd,
  .stats-grid-row__col-total-tvl-usd {
    width: $width-col-total-tvl-usd;
  }
  .stats-grid-header__col-locked,
  .stats-grid-row__col-locked {
    width: $width-col-locked;
  }

  .stats-grid-header__col-liquidity,
  .stats-grid-row__col-liquidity {
    width: $width-col-liquidity;
  }
  .stats-grid-header__col-liquidity-reserved,
  .stats-grid-row__col-liquidity-reserved {
    width: $width-col-liquidity-reserved;
  }
  .stats-grid-header__col-total-supply-usd,
  .stats-grid-row__col-total-supply-usd {
    width: $width-col-total-supply-usd;
  }
  .stats-grid-header__col-total-supply,
  .stats-grid-row__col-total-supply {
    width: $width-col-total-supply;
  }
  .stats-grid-header__col-total-borrow,
  .stats-grid-row__col-total-borrow {
    width: $width-col-total-borrow;
  }
  .stats-grid-header__col-supply-rate,
  .stats-grid-row__col-supply-rate {
    width: $width-col-supply-rate;
  }
  .stats-grid-header__col-borrow-rate,
  .stats-grid-row__col-borrow-rate {
    width: $width-col-borrow-rate;
  }
}
@media screen and (max-width: 959px) {
  .stats-grid {
    .stats-grid-row {
      flex-wrap: wrap;
      padding: 22px 0 22px 18px;
      margin-bottom: 2px;
      .stats-grid-row__col {
        font-size: 16px;
      }
      &:not(:last-child) {
        .stats-grid-row__col {
          margin-bottom: 10px;
        }
        .stats-grid-row__col-borrow-rate {
          padding-top: 36px;
          &:before {
            width: 120px;
            content: 'Borrow Rate (APR)  Fulcrum / Torque';
          }
        }
        .stats-grid-row__col-locked {
          padding-top: 20px;
          &:before {
            content: 'Vault Locked';
          }
        }
        .stats-grid-row__col-liquidity {
          padding-top: 20px;
          &:before {
            content: 'Total Available';
          }
        }
        .stats-grid-row__col-total-borrow {
          padding-top: 20px;
          &:before {
            content: 'Total Borrowed';
          }
        }
        .stats-grid-row__col-supply-rate {
          padding-top: 36px;
          &:before {
            content: 'Supply Rate (APR)';
            top: 6px;
          }
        }
        .stats-grid-row__col-total-supply {
          padding-top: 20px;
          &:before {
            content: 'Total Supply';
          }
        }
      }
      &:last-child {
        order: -1;
      }
    }
    .stats-grid-row__col {
      width: 50%;
      position: relative;
      &:before {
        font-size: 10px;
        top: 0;
        position: absolute;
      }
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    .stats-grid-row__col-total-tvl-usd {
      padding-top: 20px;
      &:before {
        content: 'TVL (USD)';
      }
    }
    .stats-grid-row__col-total-supply-usd {
      padding-top: 20px;
      &:before {
        content: 'Total Supply (USD)';
      }
    }

    .stats-grid-row__col-name {
      padding-top: 0;
      margin-left: 0;
      width: 100%;
      .stats-grid-row__asset-name {
        font-size: 18px;
        line-height: 1.5;
        &.reserve-all {
          margin: 0 0 8px 0;
          text-transform: initial;
        }
      }
    }
  }
}
