$font-size-header: 0.75rem;
$height-row: 4.5rem;

$width-col-name: 6.5rem;
$width-col-total-supply-usd: 8.0rem;
$width-col-total-supply: 8.0rem;
$width-col-total-borrow: 8.0rem;
$width-col-liquidity: 8.0rem;
$width-col-liquidity-reserved: 8.0rem;
$width-col-supply-rate: 8.0rem;
$width-col-borrow-rate: 8rem;
$width-col-next-rate: 8rem;

$flex-col-name: 6.5;
$flex-col-total-supply-usd: 8.0;
$flex-col-total-supply: 8.0;
$flex-col-total-borrow: 8.0;
$flex-col-liquidity: 8.0;
$flex-col-liquidity-reserved: 8.0;
$flex-col-supply-rate: 8.0;
$flex-col-borrow-rate: 8;
$flex-col-next-rate: 8;

$margin-left-column: 1.5rem;
$margin-right-column: 1.5rem;

.stats-grid {
  display: flex;
  flex-direction: column;
}

.stats-grid-header {
  display: flex;
  flex-direction: row;

  height: $height-row;
}

@mixin stats-grid-header__col {
  height: 100%;
  vertical-align: middle;
  line-height: $height-row;

  font-size: $font-size-header;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #a9b5c7;

  &:not(:last-child) {
    margin-right: $margin-right-column;
  }
}

.stats-grid-header__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stats-grid-header__col-name {
  @include stats-grid-header__col();

  margin-left: $margin-left-column;
  width: $width-col-name;
  flex-grow: $flex-col-name;
  flex-shrink: $flex-col-name;
}

.stats-grid-header__col-liquidity {
  @include stats-grid-header__col();

  width: $width-col-liquidity;
  flex-grow: $flex-col-liquidity;
  flex-shrink: $flex-col-liquidity;
}

.stats-grid-header__col-liquidity-reserved {
  @include stats-grid-header__col();

  width: $width-col-liquidity-reserved;
  flex-grow: $flex-col-liquidity-reserved;
  flex-shrink: $flex-col-liquidity-reserved;
}

.stats-grid-header__col-total-supply-usd {
  @include stats-grid-header__col();

  width: $width-col-total-supply-usd;
  flex-grow: $flex-col-total-supply-usd;
  flex-shrink: $flex-col-total-supply-usd;
}

.stats-grid-header__col-total-supply {
  @include stats-grid-header__col();

  width: $width-col-total-supply;
  flex-grow: $flex-col-total-supply;
  flex-shrink: $flex-col-total-supply;
}

.stats-grid-header__col-total-borrow {
  @include stats-grid-header__col();

  width: $width-col-total-borrow;
  flex-grow: $flex-col-total-borrow;
  flex-shrink: $flex-col-total-borrow;
}

.stats-grid-header__col-supply-rate {
  @include stats-grid-header__col();

  width: $width-col-supply-rate;
  flex-grow: $flex-col-supply-rate;
  flex-shrink: $flex-col-supply-rate;
}

.stats-grid-header__col-borrow-rate {
  @include stats-grid-header__col();

  width: $width-col-borrow-rate;
  flex-grow: $flex-col-borrow-rate;
  flex-shrink: $flex-col-borrow-rate;
}

.stats-grid-header__col-next-rate {
  @include stats-grid-header__col();

  margin-right: $margin-right-column;
  width: $width-col-next-rate;
  flex-grow: $flex-col-next-rate;
  flex-shrink: $flex-col-next-rate;
}

.stats-grid-row {
  display: flex;
  flex-direction: row;

  height: $height-row;
  margin-bottom: 1px;

  background-color: rgba(169, 181, 199, 0.15);
}

@mixin stats-grid-row__col {
  height: 100%;
  vertical-align: middle;
  line-height: $height-row;

  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: left;

  text-overflow: ellipsis;

  &:not(:last-child) {
    margin-right: $margin-right-column;
  }
}

@mixin stats-grid-row__text-normal {
  color: #ffffff;
}

.stats-grid-row__col-name {
  @include stats-grid-row__col();
  @include stats-grid-row__text-normal();

  margin-left: $margin-left-column;
  width: $width-col-name;
  flex-grow: $flex-col-name;
  flex-shrink: $flex-col-name;
}

.stats-grid-row__col-liquidity {
  @include stats-grid-row__col();
  @include stats-grid-row__text-normal();

  width: $width-col-liquidity;
  flex-grow: $flex-col-liquidity;
  flex-shrink: $flex-col-liquidity;
}

.stats-grid-row__col-liquidity-reserved {
  @include stats-grid-row__col();
  @include stats-grid-row__text-normal();

  width: $width-col-liquidity-reserved;
  flex-grow: $flex-col-liquidity-reserved;
  flex-shrink: $flex-col-liquidity-reserved;
}

.stats-grid-row__col-total-supply-usd {
  @include stats-grid-row__col();
  @include stats-grid-row__text-normal();

  width: $width-col-total-supply-usd;
  flex-grow: $flex-col-total-supply-usd;
  flex-shrink: $flex-col-total-supply-usd;
}

.stats-grid-row__col-total-supply {
  @include stats-grid-row__col();
  @include stats-grid-row__text-normal();

  width: $width-col-total-supply;
  flex-grow: $flex-col-total-supply;
  flex-shrink: $flex-col-total-supply;
}

.stats-grid-row__col-total-borrow {
  @include stats-grid-row__col();
  @include stats-grid-row__text-normal();

  width: $width-col-total-borrow;
  flex-grow: $flex-col-total-borrow;
  flex-shrink: $flex-col-total-borrow;
}

.stats-grid-row__col-supply-rate {
  @include stats-grid-row__col();
  @include stats-grid-row__text-normal();

  width: $width-col-supply-rate;
  flex-grow: $flex-col-supply-rate;
  flex-shrink: $flex-col-supply-rate;
}

.stats-grid-row__col-borrow-rate {
  @include stats-grid-row__col();
  @include stats-grid-row__text-normal();

  width: $width-col-borrow-rate;
  flex-grow: $flex-col-borrow-rate;
  flex-shrink: $flex-col-borrow-rate;
}

.stats-grid-row__col-next-rate {
  @include stats-grid-row__col();
  @include stats-grid-row__text-normal();

  margin-right: $margin-right-column;
  width: $width-col-next-rate;
  flex-grow: $flex-col-next-rate;
  flex-shrink: $flex-col-next-rate;
}

.stats-grid-card {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;

  margin-bottom: 2rem;

  .stats-grid-card__info-container {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;

    margin-bottom: 0.5rem;
  }

  .stats-grid-card__info-container-link {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;

    margin-bottom: 0.5rem;

    cursor: pointer;
  }

  .stats-grid-card__info-container, .stats-grid-card__info-container-link {
    .stats-grid-card__image {
      text-align: center;

      img {
        display: inline-block;
        height: 4rem;
        width: 4rem;
      }
    }
  }

  .stats-grid-card__details-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    .stats-grid-card__kv-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .stats-grid-card__kv-title {
        flex-grow: 0;

        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: right;
        color: #acb5c2;
      }

      .stats-grid-card__kv-dots {
        flex-grow: 1;

        margin: 0 0.5rem;

        background-image: url("../assets/images/margin_cell_border.png");
        background-repeat: repeat-x;
        background-position-y: 0.625rem;
      }

      .stats-grid-card__kv-value {
        flex-grow: 0;

        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.4px;
        text-align: right;
        color: #ffe546;
      }
    }
  }
}
