.task-list {

}

.task-list-item {
  padding: 1rem 0;
}

.task-list-item__logo-container {
  display: inline-block;
  vertical-align: top;
  height: 2rem;

  margin: 0 1rem;
}

.task-list-item__logo {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
}

.task-list-item__description-container {
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  width: calc(100% - 4rem);
}

.task-list-item__request-container {
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  width: 50%;
}

.task-list-item__status-container {
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  width: 50%;
}

.task-list-item__asset {
  height: 1rem;
  line-height: 1rem;

  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.task-list-item__request-type {
  height: 1rem;
  line-height: 1rem;

  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a9b5c7;
}

.task-list-item__status {
  width: 100%;

  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1rem;
  letter-spacing: normal;
  text-align: right;
  color: #a9b5c7;

  margin-top: 1rem;
}

.task-list-item-delimiter-container {

}

.task-list-item-delimiter {
  display: inline-block;
  vertical-align: top;
  margin-left: 4rem;
  width: calc(100% - 4rem);

  border: 0;
  border-top: solid 0.0625rem rgba(255, 255, 255, 0.2);
  margin-bottom: 1rem;
}

.task-list-item-details {

}

.task-list-item-details__step {
  &--normal {

  }

  &--failed {
    background-color: #3E4851;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
}

.task-list-item-details__step-img-container {
  @include clearfix();

  display: inline-block;
  vertical-align: top;
  height: 2rem;
  width: 2rem;

  margin: 0 1rem;
}

.task-list-item-details__step-title {
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  width: calc(100% - 4rem);

  &--done {
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #69bf83;
  }

  &--in-progress {
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  &--failed {
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  &--failed-txn {
    display: block;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 4rem;
    margin-bottom: 0.625rem;
    text-decoration: none;
  }

  &--future {
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a9b5c7;
  }
}

.task-list-item-details__step-img {
  display: inline-block;
  vertical-align: top;

  &--done {
    height: 1rem;
    width: 1rem;
    margin: 0 0.5rem 1rem 0.5rem;

    background-image: url("../assets/images/ic_progress_passed.svg");
    background-repeat: no-repeat;
  }

  &--failed {
    height: 1rem;
    width: 1rem;
    margin: 0 0.5rem 1rem 0.5rem;

    background-color: #3E4851;
    background-image: url("../assets/images/ic_progress_failed.svg");
    background-repeat: no-repeat;
  }

  &--in-progress {
    height: 0.75rem;
    width: 0.75rem;
    margin: 0 0.5rem 1rem 0.5rem;

    border: solid 0.125rem rgba(255, 255, 255, 0.2);
    border-top: solid 0.125rem #ffffff;
    border-radius: 50%;
    animation: task-list-item-details__step-img--spin 2s linear infinite;
  }

  &--future {
    height: 0.5rem;
    width: 0.5rem;
    margin: 0.25rem 0.75rem 1.25rem 0.75rem;

    border: solid 0.0625rem rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
}

.task-list-item-details__step-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: 0 1rem;
}

.task-list-item-details__step-action-btn {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  outline: none;

  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  width: 6rem;
  height: 2rem;
  border-radius: 100px;
  margin: 0 0 0 1rem;

  &--try-again {
    text-transform: uppercase;
    background-color: #5EBE85;
    border: none;
  }

  &--cancel {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

@keyframes task-list-item-details__step-img--spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
