@import '../abstracts/variables';

.trade-token-grid-tab {
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  &__items {
    width: 100%;
    box-shadow: inset 0px -1.5px 1px -1px var(--indicator-border);
  }
  &-item {   
    &__col-token-image {
      display: flex;
      justify-content: center;
      align-items: center;
     

      span {
               &.opened-positions-count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 21px;
          height: 21px;
          color: #ffffff;
          background-color: #276bfb;
          border-radius: 50%;
          margin-left: 5px;
          font-size: 12px;
          font-weight: 900;
          line-height: 21px;
        }
      }
    }
  }
  
  @media screen and (min-width: $breakpoint-mobile-min) {
    position: relative;
    &__items {
      margin-top: -40px;
    }
    &__container {
      margin-bottom: 10px;
    }
    &:after {
      width: calc(100vw - 17px);
    }
    &-item {
      &:not(:last-child) {
        margin: 0 5px;
      }
      &__col-token-image {
        svg {
          margin-right: 7px;
        }
      }
    }
   
  }

  @media screen and (max-width: $breakpoint-mobile-max) {
    &:after {
      content: none;
    }

    &__selector {
      width: 100%;
      margin: 15px 0;
      padding: 0 15px;
      text-align: center;
    }
    .manage-tab {
      &:after {
        content: none;
      }     
    }
  }
}
