@import "../abstracts/variables";

.trade-token-grid-tab {
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &-item {
    &--active {
      position: relative;

      .trade-token-grid-tab-item__col-token-image {
        span {
          color: var(--primary-text);
        }
      }
    }
    &:not(&--active) {
      &:hover {
        cursor: pointer;

        .trade-token-grid-tab-item__col-token-image {
          span {
            color: #33dfcc;
            &.opened-positions-count {
              color: #ffffff;
            }
          }
        }
      }
    }

    &__col-token-image {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        height: 28px;
        width: 28px;
      }

      span {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        line-height: 1.5;
        color: var(--trade-header-color);
        &.opened-positions-count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 21px;
          height: 21px;
          background-color: #276bfb;
          border-radius: 50%;
          margin-left: 5px;
          color: #ffffff;
          font-size: 12px;
          font-weight: 900;
          line-height: 21px;
        }
      }
    }
  }
  .manage-tab {
    [data-theme="light"] & svg path {
      fill: #c8c8c8;
    }
  }
  @media screen and (min-width: $breakpoint-mobile-min) {
    position: relative;

    &__container {
      margin-bottom: 35px;
    }
    &:after {
      width: calc(100vw - 17px);
    }
    &-item {
      &:not(.manage-tab) {
        width: 110px;
      }
      &:not(:last-child) {
        margin: 0 5px;
      }
      &__col-token-image {
        svg {
          margin-right: 7px;
        }
      }
    }

    .manage-tab {
      width: 155px;
      svg {
        height: 17px;
        width: 17px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-mobile-max) {
    &:after {
      content: none;
    }
    &__selector {
      width: 100%;
      margin: 15px 0;
      padding: 0 15px;
      text-align: center;
    }
    &__items {
      width: 100%;
      order: -1;
      border-bottom: 1px solid var(--border-tab);
      padding: 0 15px;
      background-color: var(--bg-header);
    }
    &-item {
      display: flex;
      &.trade-token-grid-tab-item {
        &:not(.manage-tab) {
          width: calc(100% / 5);
        }
      }
      &__col-token-image {
        margin-left: auto;
        margin-right: auto;
        span {
          &.opened-positions-count {
            position: absolute;
            top: -10px;
            right: -20px;
            margin-right: 0;
          }
        }
      }
    }
    &.manage {
      .trade-token-grid-tab__selector {
        display: none;
      }
    }
    .manage-tab {
      width: auto;
      position: absolute;
      top: 25px;
      right: 87px;
      &:after {
        content: none;
      }
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}
