@import '../abstracts/variables';

.trade-token-grid-tab {
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    // overflow: hidden;
    justify-content: center;
    margin-bottom: 0;
    .tab {
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 800;
      color: #8992a4;
      text-transform: capitalize;
      cursor: pointer;
      padding: 10px 20px;
      &:hover {
        color: #5b88ff;
      }
      @media screen and (min-width: $breakpoint-mobile-min) {
        padding: 10px 20px;
      }

      &.active {
        position: relative;
        color: var(--primary-text);

        // &:after {
        //   content: '';
        //   height: 8px;
        //   border-radius: 4px;
        //   width: 100%;
        //   position: absolute;
        //   bottom: -5px;
        //   background-color: #276bfb;
        //   z-index: 12;
        // }
      }
    }
  }
  &-item {
    &__col-token-image {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        &.opened-positions-count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 21px;
          height: 21px;
          color: #ffffff;
          background-color: #276bfb;
          border-radius: 50%;
          margin-left: 5px;
          font-size: 12px;
          font-weight: 900;
          line-height: 21px;
        }
      }
    }
  }

  @media screen and (min-width: $breakpoint-mobile-min) {
    position: relative;
    &__items {
      justify-content: left;
      margin-top: -10px;
    }
    &__container {
      margin-bottom: 10px;
    }
    &__selector {
      margin-right: 12px;
    }
    &:after {
      width: calc(100vw - 17px);
    }
    &-item {
      &:not(:last-child) {
        margin: 0 5px;
      }
      &__col-token-image {
        svg {
          margin-right: 7px;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-mobile-max) {
    &:after {
      content: none;
    }

    &__selector {
      width: 100%;
      margin: 15px 0;
      padding: 0 15px;
      text-align: center;
    }
    .manage-tab {
      &:after {
        content: none;
      }
    }
  }
}
