@import '../abstracts/variables';
.tooltip {
  &__icon {
    cursor: pointer;
    margin-left: 8px;
    vertical-align: -4px;
    margin-top: -4px;

    @media screen and (max-width: $breakpoint-mobile-max) {
      width: 16px;
      height: 16px;
      vertical-align: -2px;
      margin-top: -2px;
    }
  }
  &__info {
    width: 236px;
    background-color: #758295 !important;
    font-size: 12px;
    font-weight: 400;
    padding: 19px;
    border-radius: 4px;
    opacity: 1 !important;
    z-index: 1000 !important;
    pointer-events: auto !important;
    &__profit {
      width: 305px;
      &__title {
        margin-bottom: 4px;
      }
      &__ul {
        padding-left: 15px;
        margin-bottom: 10px;
      }
      .ta-c {
        text-align: center;
      }
      &__table {
        display: flex;
        align-items: center;
        border: 1px solid #e9f3ff;
        margin-top: 10px;
        border-radius: 43px;

        > div {
          padding: 8px 6px;
          font-size: 10px;

          &.short-label {
            min-width: 35%;
            font-size: 11px;
          }
          &:first-child {
            &:not(.short-label) {
              border-right: 1px solid #e9f3ff;
            }
          }
          &:last-child {
            &:not(.short-label) {
              border-left: 1px solid #e9f3ff;
            }
          }
        }
      }
    }
    &.place-top {
      &:after {
        border-top-color: #758295 !important;
        border-top-width: 6px !important;
      }
    }
    &.place-right {
      &:after {
        border-right-color: #758295 !important;
        border-right-width: 6px !important;
      }
    }
  }
  &__button {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    color: #ffffff;
    border: 1px solid #A2ABB8;
    border-radius: 27px;
    line-height: 32px;
    width: 94px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    & + .tooltip__button{
      float: right;
    }
    &:hover{
      background-color: #A2ABB8;
    }
  }
  &__link {
    font-weight: 600;
    color: #ffffff;
    pointer-events: auto;
  }
}
