.trade-token-card-mobile__wrapper {
    font-family: 'Muli', sans-serif;
    padding: 15px;
    margin-bottom: 30px;
}

.trade-token-card-mobile {
    &__header {
        padding: 15px;

        display: flex;
        // justify-content: space-between;
        position: relative;
        .asset-name {
            font-style: normal;
            font-size: 18px;
            line-height: 150%;
            display: flex;
            align-items: center;

            /* Main/White */

            color: var(--primary-text);
        }
        .poisition-type-switch {
            background: var(--secondary-row);
            border-radius: 30px;
            padding: 2px;
            display: flex;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            button {
                font-family: 'Muli', sans-serif;

                border-radius: 30px;
                font-style: normal;
                font-weight: 800;
                font-size: 10px;
                line-height: 150%;
                /* or 15px */
                text-transform: uppercase;

                display: flex;
                align-items: center;
                text-align: center;

                /* Main/White */

                color: #ffffff;
                background-color: var(--secondary-row);
                padding: 8px 12px;

                border: none;
                &.btn-active {
                    background: #00c0ab;
                }
            }
        }
    }
    &__body {
        background-color: var(--primary-row);
        padding: 25px;

        &-row {
            display: flex;
            justify-content: space-between;

            align-items: center;
            padding: 10px 0px;
        }
    }
    &__action {
        button {
            padding: 6px 27px;
            border: none;
            text-transform: uppercase;
            font-family: 'Muli', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 150%;
            display: flex;
            justify-content: center;
            letter-spacing: 0.05em;
            color: #ffffff;
            background: #276bfb;
            border-radius: 43px;
            &:hover {
                background: #5b88ff;
            }
        }
    }
    &__price,
    &__profit {
        display: flex;
        flex-direction: column;
        > span:first-child {
            font-family: 'Muli', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 150%;
            /* or 15px */

            display: flex;
            align-items: center;
            text-align: center;

            color: #a2abb8;
        }
        span + span {
            .fw-normal {
                font-weight: normal;

                color: #a2abb8;
            }
            font-family: 'Muli', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 150%;
            /* or 27px */

            display: flex;
            align-items: center;
            text-align: center;

            /* Main/White */

            color: var(--primary-text);
        }
    }
}
