@import '../abstracts/mixins';
@import '../abstracts/variables';

.trade-form {
  @include clearfix();
  display: flex;
  box-sizing: border-box;
  width: 575px;
  min-height: 285px;
  background-color: #444e5a;
  position: relative;
  .close-icon {
    position: absolute;
    right: 24px;
    top: 24px;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
  &__left_block {
    display: flex;
    align-items: center;
    background-color: #ffffff;
  }
  &__info_block__logo {
    position: relative;
    padding: 0 40px;
    svg {
      width: 90px;
      height: 90px;
      .eth-svg {
        fill: #c8c8c8;
      }
    }
    .position-type-marker-alt {
      position: absolute;
      top: 32px;
      right: 26.5px;
      border: 4px solid #fff;
      border-radius: 50%;
      width: 27px;
    }
    .trade-form__asset-stats {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 5px;
    }
  }

  &__info_block__asset {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #8992a4;
    .base-asset {
      font-weight: 700;
      color: #282f36;
    }
    margin-bottom: 5px;
    margin-top: 10px;
  }

  &__info_block__stats {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: #a2abb8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__data {
      &:first-child {
        border-right: 1px solid #a2abb8;
        margin-right: 3px;
        padding-right: 3px;
      }
    }
  }

  &__form-container {
    padding: 75px 45px 30px 30px;
    display: flex;
    flex-direction: column;
    &.buy {
      padding-top: 55px;
    }
  }

  &__form-values-container {
    margin-bottom: 20px;
  }

  &__actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: auto;
  }
  &__kv-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.22rem 0;
    &.jc-fe {
      justify-content: flex-end;
    }
  }

  &__kv-container--w_dots {
    background-image: url('../../assets/images/dotted_line.png');
    background-repeat: repeat-x;
    background-position-y: 1.25rem;
  }
  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #fe7272;
    margin-bottom: 10px;

    &.slippage {
      font-size: 14px;
      display: flex;
    }

    &--no-bg {
      background-color: transparent;
    }
  }
  &__slippage-amount {
    font-weight: 800;

    display: flex;
    align-items: center;
    svg {
      margin-left: 2px;
    }
  }

  .trade-how-it-works-container {
    margin-top: -30px;
    margin-bottom: 10px;

    .hiw-icon {
      margin-right: 13px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .hiw-content {
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      color: #b9c7d6;
    }
  }

  &__how-it-works {
    display: flex;
    margin-top: 30px;
  }

  &__position-type-container {
    margin-bottom: 1rem;
  }

  &__unit-of-account-container {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #a2abb8;

    display: flex;
    align-items: center;
  }

  // &__token-message-container {
  //   margin: 0.25rem 0 0.5rem;
  //   padding: 0.75rem 1.375rem;

  //   border-radius: 0.25rem;
  //   background-color: #0000001a;
  // }

  // &__token-message-container--message {
  //   font-size: 0.75rem;
  //   font-weight: normal;
  //   font-style: normal;
  //   font-stretch: normal;
  //   line-height: 1.33;
  //   letter-spacing: normal;
  //   text-align: left;
  //   color: #a9b5c7;
  // }

  &__label--action {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    border: 0 none;

    &:focus {
      outline: none;
    }
    //background-image: url("../../assets/images/dotted_line.png");
    //background-repeat: repeat-x;
    //background-position-y: 1.25rem;
  }

  &__value {
    line-height: 2;
    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffe546;
    background-color: #444e5a;

    &--no-color {
      color: #a9b5c7;
    }

    &--no-bg {
      background-color: transparent;
    }
  }

  &__change-button {
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    color: #ffffff;
    font-size: 0.75rem;
    padding-left: 0.25rem;
  }

  &__cancel-button {
    display: inline-block;

    cursor: pointer;
    border: 0;
    height: 2.5rem;
    width: 6.5rem;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #a9b5c7;
    outline: none;
  }

  &__submit-button {
    display: block;
    cursor: pointer;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 25px;
    &--buy {
      z-index: 2;
      background-color: #407bf7;
      &:hover {
        background-color: #5b88ff;
      }
    }

    &--sell {
      background-color: #ff5353;
      &:hover {
        background-color: #fe7272;
      }
    }
  }
  .input-receive {
    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.5;
      color: #a9b5c7;
      margin: 20px auto 12px auto;
    }
    &__container {
      display: flex;
      background-color: #394049;
      width: auto;
      height: 65px;
      position: relative;
      padding-right: 15px;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__input {
      width: calc(100% - 120px);
      padding-left: 15px;
      border: none;
      font-size: 32px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }
  }
}

// .trade-form__form-info {
//   font-size: 12px;
//   color: #ffffff;
//   margin-bottom: 20px;
//   display: block;
//   letter-spacing: 0.1px;
//   background: #fff;
//   color: #394049;
//   padding: 12px;
//   padding-left: 27px;
//   position: relative;
//   &:before {
//     content: "";
//     position: absolute;
//     width: 24px;
//     height: 24px;
//     background: url("../../assets/images/error_icon.svg");
//     left: -12px;
//     top: 10px;
//   }
// }

@media screen and (max-width: $breakpoint-mobile-max) {
  .trade-form {
    @include clearfix();

    max-width: 320px;
    width: 320px;

    background-color: #444e5a;

    display: flex;
    flex-direction: column;
    padding: 0;
    .close-icon {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 100;
    }
    &__group-button {
      button {
        padding: 5px 0;
      }
    }
    &__left_block {
      padding: 17px 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      align-items: flex-start;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        border: 16px solid transparent;
        border-top: 16px solid #ffffff;
        left: 50%;
        bottom: -30px;
        margin: auto;
        height: 24px;
        transform: translate(-50%, 0);
      }
    }
    &__info_block {
      position: relative;

      display: flex;
      flex-direction: row;
      margin: 0;
      &__logo {
        margin-right: 35px;
        padding: 0;
        &__asset-stats {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 0;
        }
        svg {
          width: 56px;
          height: 56px;
        }

        img.position-type-marker-alt {
          position: absolute;
          right: -17px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          border: 4px solid #fff;
          border-radius: 50%;
          width: 27px;
        }
      }
    }

    &__info_block__asset {
      font-weight: bold;
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;
      color: #282f36;
      text-align: left;
      margin: 0;
    }

    &__info_block__stats {
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #a2abb8;

      &__info_block__stats__splitter {
        padding: 0 0.25rem;
        font-size: 0.5rem;
        line-height: 3;
      }
    }

    .trade-how-it-works-container {
      .hiw-icon {
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .hiw-content {
        font-weight: 600;
        font-size: 10px;
        line-height: 150%;
        color: #b9c7d6;
      }
    }

    &__form-container {
      float: right;
      box-sizing: border-box;

      height: 100%;
      width: 20rem;

      top: 0;
      left: 0;

      padding: 30px;
      display: flex;
      flex-direction: column;

      &.buy {
        padding-top: 30px;
      }
    }

    &__form-values-container {
      margin-bottom: 20px;
    }

    &__actions-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      margin-top: 0;
    }
    &__position-type-container {
      margin-bottom: 1rem;
    }
    &__kv-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding: 0.22rem 0;
    }

    &__kv-container--w_dots {
      background-image: url('../../assets/images/dotted_line.png');
      background-repeat: repeat-x;
      background-position-y: 1.25rem;
    }
    &__label {
      font-weight: 600;
      font-size: 10px;
      line-height: 150%;
      color: #fe7272;
      &.slippage {
        font-size: 12px;
      }

      &--no-bg {
        background-color: transparent;
      }
    }
    &__slippage-amount img {
      width: 10px;
      height: auto;
      margin-left: 2px;
    }

    // &__token-message-container {
    //   margin: 0.25rem 0 0.5rem;
    //   padding: 0.75rem 1.375rem;

    //   border-radius: 0.25rem;
    //   background-color: #0000001a;
    // }

    // &__token-message-container--message {
    //   font-size: 0.75rem;
    //   font-weight: normal;
    //   font-style: normal;
    //   font-stretch: normal;
    //   line-height: 1.33;
    //   letter-spacing: normal;
    //   text-align: left;
    //   color: #a9b5c7;
    // }

    &__label--action {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-style: dotted;
      border: 0 none;

      &:focus {
        outline: none;
      }
      //background-image: url("../../assets/images/dotted_line.png");
      //background-repeat: repeat-x;
      //background-position-y: 1.25rem;
    }

    &__value {
      line-height: 2;
      font-size: 0.75rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #ffe546;
      background-color: #444e5a;

      &--no-color {
        color: #a9b5c7;
      }

      &--no-bg {
        background-color: transparent;
      }
    }

    .rounded-mark {
      font-size: 0.5rem;
      border-width: 1px;
      border-style: solid;
      border-radius: 100px;
      padding: 0.0625rem 0.3125rem;
    }

    &__change-button {
      cursor: pointer;
      outline: none;
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      text-decoration: underline;
      -webkit-text-decoration-style: dotted;
      /* text-decoration-style: dotted; */
      color: #ffffff;
      font-size: 0.75rem;
      padding-left: 0.25rem;
    }

    &__cancel-button {
      display: inline-block;

      cursor: pointer;
      border: 0;
      height: 2.5rem;
      width: 6.5rem;
      background-color: rgba(0, 0, 0, 0);
      text-decoration: underline;
      text-decoration-style: dotted;
      color: #a9b5c7;
      outline: none;
    }

    &__submit-button {
      display: inline-block;

      cursor: pointer;
      border: 0;
      height: 2.5rem;
      //width: 6.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 100px;
      color: #ffffff;
      text-transform: uppercase;
      outline: none;

      &--buy {
        background-color: #407bf7;
      }

      &--sell {
        background-color: #ff5353;
      }
    }
    .input-receive {
      &__title {
        font-size: 18px;
      }
      &__container {
        height: 52px;
      }
      &__input {
        font-size: 24px;
      }
    }
  }
}
