$font-size-header: 0.75rem;
$height-row: 6.875rem;

$width-col-token-image: 5rem;
$width-col-token-name: 6rem;
$width-col-token-name-full: 11rem;
$width-col-position-type: 6rem;
$width-col-leverage: 13rem;
$width-col-amount: 13rem;
$width-col-price: 6.5rem;
$width-col-change24h: 7rem;
$width-col-profit: 5rem;
$width-col-actions: 19rem;

$width-button-action: 7rem;

$margin-right-column: 1.5rem;

.trade-token-grid {
  background-color: #444E5A;
  padding-bottom: 10px;
  &__wrapper{
    font-family: "Muli";
  }
}

.rounded-mark {
  font-size: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  padding: 0.0625rem 0.3125rem;
  vertical-align: middle;
  margin-left: -7px;
  margin-right: 7px;
}


.trade-token-grid-header {
    padding: 28px 40px 18px 40px;
}

@mixin trade-token-grid-header__col {
  display: inline-block;

  // height: 100%;
  vertical-align: middle;
  // line-height: 3rem;

  font-size: $font-size-header;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #a9b5c7;

  font-weight: 600;
  font-size: 12px;

  &:not(:last-child) {
    margin-right: $margin-right-column;
  }
}

.trade-token-grid-header__col-token-image {
  @include trade-token-grid-header__col();

  width: $width-col-token-image;
}

.trade-token-grid-header__col-token-name {
  @include trade-token-grid-header__col();

  width: $width-col-token-name;
}

.trade-token-grid-header__col-token-name-full {
  @include trade-token-grid-header__col();

  width: $width-col-token-name-full;
}

.trade-token-grid-header__col-position-type {
  @include trade-token-grid-header__col();

  width: $width-col-position-type;
}

.trade-token-grid-header__col-leverage {
  @include trade-token-grid-header__col();

  width: $width-col-leverage;
}

.trade-token-grid-header__col-amount {
  @include trade-token-grid-header__col();

  width: $width-col-amount;
}

.trade-token-grid-header__col-price {
  @include trade-token-grid-header__col();

  width: $width-col-price;
}

.trade-token-grid-header__col-change24h {
  @include trade-token-grid-header__col();

  width: $width-col-change24h;
}

.trade-token-grid-header__col-profit {
  @include trade-token-grid-header__col();

  width: $width-col-profit;
}

.trade-token-grid-header__col-actions {
  @include trade-token-grid-header__col();

  width: $width-col-actions;
  text-align: right;
}

.trade-token-grid-row {
  &:first-child{
    margin-top: -1rem;
  }
  height: $height-row;
  margin-bottom: 1px;

  // background-color: rgba(169, 181, 199, 0.15);

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;

  -webkit-transition: margin-left 0.5s, margin-right 0.5s; /* Safari */
  transition: margin-left 0.5s, margin-right 0.5s;

  &--active {
    // background-color: rgba(169, 181, 199, 0.3);

    // margin-left: 0;
    // margin-right: 0;

    .trade-token-grid-row__col-token-image {
      padding-left: 0.5rem;
    }

    .trade-token-grid-row__col-action {
      padding-right: 0.5rem;
    }
  }

  &:nth-child(2n){
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 90%;
      background-color: #394049;
      height: 1px;
      transform: translate(-50%, 0);
    }
  }
}

@mixin trade-token-grid-row__col {
  display: inline-block;

  height: 100%;
  vertical-align: middle;
  line-height: $height-row;

  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: left;

  &:not(:last-child) {
    margin-right: $margin-right-column;
  }

  &:first-child {
    margin-left: $margin-right-column;
  }
}

@mixin trade-token-grid-row__text-normal {
  color: #ffffff;
}

.trade-token-grid-row__col-token-image {
  @include trade-token-grid-row__col();

  width: $width-col-token-image;

  -webkit-transition: padding-left 0.5s, padding-right 0.5s; /* Safari */
  transition: padding-left 0.5s, padding-right 0.5s;

  img {
    height: 100%;
    width: 100%;
  }
}

.trade-token-grid-row__col-token-name {
  @include trade-token-grid-row__col();
  @include trade-token-grid-row__text-normal();

  width: $width-col-token-name;
  font-weight: 800;
  font-size: 22px;
  &--inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    img.position-type-marker-alt{

    }
  }
}

.trade-token-grid-row__col-token-name-full {
  @include trade-token-grid-row__col();
  @include trade-token-grid-row__text-normal();

  width: $width-col-token-name-full;
}

.trade-token-grid-row__col-position-type {
  @include trade-token-grid-row__col();

  width: $width-col-position-type;
}

.trade-token-grid-row__col-leverage {
  @include trade-token-grid-row__col();

  width: $width-col-leverage;
}

.trade-token-grid-row__col-amount {
  @include trade-token-grid-row__col();
  @include trade-token-grid-row__text-normal();

  width: $width-col-amount;
}

.trade-token-grid-row__col-price {
  @include trade-token-grid-row__col();
  @include trade-token-grid-row__text-normal();

  width: $width-col-price;

  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  .fw-normal{
    font-weight: normal;
    color:#A2ABB8;
  }
}

.trade-token-grid-row__col-change24h {
  @include trade-token-grid-row__col();

  width: $width-col-change24h;
}

.trade-token-grid-row__col-profit {
  @include trade-token-grid-row__col();
  @include trade-token-grid-row__text-normal();

  width: $width-col-profit;
  
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  .fw-normal{
    font-weight: normal;
    color:#A2ABB8;
  }
}

.trade-token-grid-row__col-action {
  @include trade-token-grid-row__col();

  -webkit-transition: padding-left 0.5s, padding-right 0.5s; /* Safari */
  transition: padding-left 0.5s, padding-right 0.5s;

  width: $width-col-actions;
  
  text-align: right;
}

.trade-token-grid-row__buy-button {
  display: inline-block;
  border: 0;
  padding: 16px 50px;
  
  color: #FFFFFF;

  letter-spacing: 0.05em;

  font-size: 16px;
  font-weight: 600;
  line-height: 150%;

  background: #276BFB;
  border-radius: 43px;
  width: $width-button-action;
  &:hover{
    cursor: pointer;
    background-color: #5B88FF;
  }

  // height: 2.5rem;

  // border-radius: 100px;
  // background-color: #407bf7;

  // text-transform: uppercase;
  // font-size: 0.75rem;
  // font-weight: normal;
  // font-style: normal;
  // font-stretch: normal;
  // letter-spacing: -0.3px;
  // color: #ffffff;
  // outline: none;
}

.trade-token-grid-row__group-button {


  display: inline-block;
  cursor: pointer;

  border: 0;

  width: $width-button-action;
  height: 2.5rem;

  border-radius: 100px;
  border: 1px solid #FFFFFF;
  background-color: transparent;

  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  color: #ffffff;
  outline: none;
}


.button-lg{
    //position: relative;
    //background-color: #FFFFFF;
    //color: black;
    z-index: 2;
    //left: 36px;
  }
  .button-sh{
    z-index: 2;
    position: relative;
    //background-color: #FFFFFF;
    //color: black;
    left: -35px;
  }

.trade-token-grid-row__sell-button {
  display: inline-block;
  border: 0;
  padding: 16px 50px;
  
  color: #FFFFFF;

  letter-spacing: 0.05em;

  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  background-color: #ff5353;

  border-radius: 43px;
  width: $width-button-action;
  &:hover{
    cursor: pointer;
    background-color: #fb8e8e;
  }

  // height: 2.5rem;

  // border-radius: 100px;

  // text-transform: uppercase;
  // font-size: 0.75rem;
  // font-weight: normal;
  // font-style: normal;
  // font-stretch: normal;
  // letter-spacing: -0.3px;
  // color: #ffffff;

  // outline: none;
}

.trade-token-grid-row__button--size-full {
  width: 2 * $width-button-action - 1rem;
  margin: 0 1rem;
}

.trade-token-grid-row__button--size-half {
  width: $width-button-action;
  margin: 0 1rem;

  &:first-child {
    margin-right: 0.5rem;
  }

  &:last-child {
    margin-left: 0.5rem;
  }
}
