@media screen and (max-width: $mobile-version-max-width) {
  .trade-token-grid-header {
    text-align: center;
    height:3rem;
  }
  @mixin trade-token-grid-header__col {
    line-height: 3rem;
    &:not(:last-child) {
    margin-right: 0px;
  }
  }

  .trade-token-grid-header__col-leverage {
  @include trade-token-grid-header__col();

  width: 25%;
}

.trade-token-grid-header__col-amount {
  @include trade-token-grid-header__col();

  width: 25%;
}

.trade-token-grid-header__col-price {
  @include trade-token-grid-header__col();

  width: 25%;
}

.trade-token-grid-header__col-change24h {
  @include trade-token-grid-header__col();

  width: 25%;
}

.trade-token-grid-header__col-profit {
  @include trade-token-grid-header__col();

  width: 25%;
}

@mixin trade-token-grid-row__col {
  display: inline-block;
  line-height: 3.5rem;
  &:not(:last-child) {
    margin-right: 0px;
    text-align: center;

  }
}

.trade-token-grid-row__col-leverage {
  @include trade-token-grid-row__col();
  color: #ffffff;
  width: 25%;
}

.trade-token-grid-row {
  height: 3.5rem;
  text-align: center;
  width: 93%;
  &--active {
    .trade-token-grid-row__col-action {
      padding-right: 0px;
    }
  }
}
.trade-token-grid-row__col-price {
  @include trade-token-grid-row__col();
  width: 25%;
  text-align: center;
}
.trade-token-grid-row__col-profit {
  @include trade-token-grid-row__col();
  width: 25%;
}

.trade-token-grid-row__button--size-full {
  width: 100%;
  margin: 0 0rem;
}

.trade-token-grid-header__col-actions {
  width: 100%;
  text-align: center;
}

.trade-token-grid-row__col-action {
  @include trade-token-grid-row__col();

    //-webkit-transition: padding-left 0.5s, padding-right 0.5s; /* Safari */
    //transition: padding-left 0.5s, padding-right 0.5s;

    width: 25%;
    margin: auto;
  }
  .trade-token-grid-row__col-action:not(:last-child) {
    margin: auto;
  }
  .trade-new-grid{
    width:100%;
  }

  .trade-token-grid-row__buy-button{
    display:block;
    margin: auto;
    height: 1.7rem;
    margin-top:8px;
  }
  .trade-token-grid-row__long-button{
    display:block;
    margin: auto;
  }
  .button-lg{
    //position: relative;
    //background-color: #FFFFFF;
    //color: black;
    z-index: 2;
    //left: 36px;
  }
  .button-sh{
    z-index: 2;
    position: relative;
    //background-color: #FFFFFF;
    //color: black;
    left: -35px;
  }
  .btn-active{
    z-index: 1;
    background-color: #FFFFFF;
    color: black;
  }

  .trade-token-grid-row__col-action-mb {
  @include trade-token-grid-row__col();

    //-webkit-transition: padding-left 0.5s, padding-right 0.5s; /* Safari */
    //transition: padding-left 0.5s, padding-right 0.5s;
    display: flex;
    width: 80%;
    margin: auto;
    //margin-top: 15px;
  }
  .trade-token-grid-row__help{
    display: inline;
    width: 12%;
    float: left;
    position: absolute;
    left: 8px;
    height: 44px;
    font-size: x-large;
    cursor: pointer;
  }
  .button-help{
      background-color: rgba(27, 99, 255, 0.69);
      border:rgba(27, 99, 255, 0.69);
      border-radius: 25px;
      color:#FFFFFF;
      float: left;
      cursor: pointer;
    }
  .trade-token-grid-row__buy-button{
    display: inline;
    width: 40%;
  }
  .trade-token-grid-row__group-button{
    display: inline;
    width: 40%;
    height: 1.7rem;
  }
  .trade-token-grid-row__long-button{
    display: inline;
    width: 40%;
    height: 1.7rem;
  }

  .trade-footer-mb{
    width:100%;
    position: fixed;
    bottom: 0px;
    height:70px;
    overflow-y: scroll;

  }
  .trade-footer-grid{
    float: left;
    width: 60px;
    height: 66px;
    margin-top: 12px;
  }


  .trade-foot-item{
    width: 480px;
  }

  .trade-token-grid-row__sell-button {
    width: 40%;
  }


  .trade-token-grid-row__col-token-image {
    width: 3.7rem;
    line-height: 0.4rem;
  }
  .trade-footer-grid--active{
    margin-top: 2px;
    line-height: 2rem;
    width: 70px;
  }


  .cb-container{
    .cb-label {
      font-size: 1.2rem;
      color: #fff;
    }
  }

}

@media screen and (max-width: $mobile-version-width-sm) {
  .trade-token-grid-row__col-action {
    width: 6rem;
  }
  .trade-token-grid-row__button--size-full {
    width: 100%;
  }

  //.cb-container {
  //  display: none;
  //}
}
