@import '../abstracts/variables';

.trade-token-grid {
  padding-bottom: 10px;
  .trade-token-grid-row-wrapper {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .trade-token-grid-header,
  .trade-token-grid-row {
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: $breakpoint-mobile-min) {
      display: grid;
      column-gap: 35px;
      grid-template-columns: 10% 7% 17% 12% 12% 12% 10%;
    }
    @media screen and (max-width: $breakpoint-mobile-max) {
      display: flex;
      flex-wrap: wrap;
    }

    &__col-price,
    &__col-liquidation {
      display: flex;
      flex-wrap: wrap;

      // @media screen and (min-width: $breakpoint-desktop-min) {
      //   padding-right: 40px;
      // }
      // @media screen and (max-width: $breakpoint-desktop-max) and (min-width: $breakpoint-mobile-min) {
      //   padding-right: 20px;
      // }

      @media screen and (max-width: $breakpoint-mobile-max) {
        width: calc(100% / 3);
      }
    }
    // &__col-liquidation {
    //   @media screen and (min-width: $breakpoint-mobile-min) {
    //     justify-content: flex-end;
    //   }
    // }
    // &__col-profit {
    //   display: flex;
    //   flex-wrap: wrap;

    //   @media screen and (min-width: $breakpoint-mobile-min) {
    //     justify-content: flex-end;
    //   }
    //   @media screen and (max-width: $breakpoint-mobile-max) {
    //     width: calc(100% / 3);
    //   }
    // }
  }
  .trade-token-grid-header {
    font-size: 12px;
    font-weight: 600;
    color: var(--trade-header-color);
    @media screen and (min-width: $breakpoint-desktop-min) {
      padding: 20px 40px 15px 40px;
    }
    @media screen and (max-width: $breakpoint-desktop-max) {
      padding: 20px 30px 15px 30px;
      font-size: 11px;
    }   
  }

  .trade-token-grid-row {
    position: relative;
    background-color: var(--primary-row);
    z-index: 3;
    font-weight: 800;
    color: var(--primary-text);
    margin-bottom: 1px;
    @media screen and (min-width: $breakpoint-desktop-min) {
      font-size: 22px;
      padding: 20px 40px;
    }
    @media screen and (max-width: $breakpoint-desktop-max) and (min-width: $breakpoint-mobile-min) {
      font-size: 18px;
      padding: 20px 30px;
    }
    @media screen and (min-width: $breakpoint-mobile-min) {
      column-gap: 35px;
    }
    @media screen and (max-width: $breakpoint-mobile-max) {
      line-height: 1.45;
      padding: 25px 15px;
      &__col-leverage {
        width: 50%;
        order: -2;
      }
      &__col-action {
        order: -1;
        grid-column-start: 2;
        grid-column-end: 4;
        width: 50%;
      }
    }

    &__col-position-type {
      display: flex;
    }
    &__col-action {
      display: flex;
      justify-content: flex-end;
    }
    &__col-token-name {
      display: flex;
      &--inner {
        display: flex;
        align-items: center;
        color: var(--primary-text);
        img {
          margin-left: 15px;
        }
      }
    }
   

    &__buy-button {
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 1.5;
      border-radius: 43px;
      background-color: #00c0ab;
      outline: none;
      @media screen and(min-width: $breakpoint-mobile-min) {
        width: 95px;
        height: 44px;
        font-size: 16px;
      }
      @media screen and(max-width: $breakpoint-mobile-max) {
        padding: 6px 20px;
        font-size: 14px;
      }
      &:hover {
        background-color: #33dfcc;
      }
      &:not(:disabled) {
        cursor: pointer;
      }
      &:disabled {
        background-color: var(--disabled-bg);
        color: var(--disabled-color);
        cursor: not-allowed;
      }
    }

    &__yield {
      position: absolute;
      font-size: 12px;
      font-weight: 600;
      text-indent: 13px;
      bottom: 15px;
      color: #a2abb8;
      span {
        color: #00c0ab;
      }
    }
  }

  .fw-sign {
    font-weight: 400;
    color: #a2abb8;
  }
  .fw-market {
    font-weight: 600;
    font-size: 10px;
    border-radius: 6px;
    padding: 1px 6px;
    margin-left: 6px;
    vertical-align: 3px;
    background-color: #49bc98;
    &.chainlink {
      background-color: #2a5ada;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile-max) {
  .trade-token-grid__wrapper {
    padding: 0 15px;
    .trade-token-grid-first-row {
      display: flex;
      align-items: center;
      padding: 0 0 15px 15px;
      .trade-token-grid-row__col-token-name {
        margin-right: 40px;
      }
      .poisition-type-switch {
        background: var(--secondary-row);
        border-radius: 30px;
        display: flex;
        padding: 2px;
        button {
          display: flex;
          align-items: center;
          text-align: center;
          border-radius: 30px;
          font-style: normal;
          font-weight: 800;
          font-size: 10px;
          line-height: 1.5;
          text-transform: uppercase;
          color: var(--primary-text);
          background-color: var(--secondary-row);
          padding: 8px 12px;
          border: none;
          &.btn-active {
            background: #276bfb;
            color: #ffffff;
          }
        }
      }
    }
    .trade-token-grid-row {
      &__title {
        width: 100%;
        font-size: 10px;
        line-height: 1.5;
        font-weight: 600;
        color: #a2abb8;
        margin-top: 20px;
      }
      &__yield {
        font-size: 10px;
        bottom: 13px;
      }
    }
  }
}
