@import "../abstracts/variables";

.TVChartContainer,
.TVChartContainer > iframe,
.chart-wrapper {
  width: 100%;
  height: 40vh;
  margin-bottom: 20px;
  position: relative;
  .loader {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: var(--primary-bg);
  }
  @media only screen and (min-width: $breakpoint-laptop-min) and (max-height: 820px) {
    margin-top: -25px;
    margin-bottom: 5px;
    height: 30vh;
  }
  @media only screen and (min-width: $breakpoint-desktop-min) {
    min-height: 400px;
  }
}
.chart-wrapper {
  @media (max-width: $breakpoint-mobile-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
