.trade-form {
  @include clearfix();
  display: flex;
  box-sizing: border-box;
  width: 575px;
  min-height: 285px;
  background-color: #444e5a;
  position: relative;
  .close-icon {
    position: absolute;
    right: 24px;
    top: 24px;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
  &__left_block {
    display: flex;
    align-items: center;
    background-color: #ffffff;
  }
  &__info_block__logo {
    position: relative;
    padding: 0 40px;
    svg {
      width: 90px;
      height: 90px;
      .eth-svg {
        fill: #c8c8c8;
      }
    }
    .position-type-marker-alt {
      position: absolute;
      top: 32px;
      right: 26.5px;
      border: 4px solid #fff;
      border-radius: 50%;
      width: 27px;
    }
    .trade-form__asset-stats {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 5px;
    }
  }
  &__info_block__asset {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #282f36;
    text-align: center;
  }
  &__info_block__stats {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: #a2abb8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__data {
      &:first-child {
        border-right: 1px solid #a2abb8;
        margin-right: 3px;
        padding-right: 3px;
      }
    }
  }
  &__group-button {
    margin-top: 3px;
    margin-bottom: 10px;
    button {
      font-size: 12px;
      font-weight: 600;
      width: calc(25% - 1.5px);
      padding: 8px 0;
      color: #ffffff;
      background-color: #586473;
      border: none;
      outline: none;
      cursor: pointer;
      line-height: 1.5;
      &:not(:last-child) {
        margin-right: 2px;
      }
      &:hover {
        background: #758295;
      }
    }
  }
}

.trade-form__form-container {
  padding: 75px 45px 30px 30px;
  display: flex;
  flex-direction: column;
  &.buy {
    padding-top: 55px;
  }

  .trade-form__form-values-container {
    margin-bottom: 30px;
  }

  .trade-form__form-info {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 20px;
    display: block;
    letter-spacing: 0.1px;
    background: #fff;
    color: #394049;
    padding: 12px;
    padding-left: 27px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background: url("../assets/images/error_icon.svg");
      left: -12px;
      top: 10px;
    }
  }

  .trade-form__actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: auto;
  }
  .trade-how-it-works-container {
    margin-top: -30px;
    margin-bottom: 10px;
    .trade-form__how-it-works {
      display: flex;
      margin-top: 30px;
    }

    .hiw-icon {
      margin-right: 13px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .hiw-content {
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      color: #b9c7d6;
    }
  }
}

.trade-form__position-type-container {
  margin-bottom: 1rem;
}

.trade-form__unit-of-account-container {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #a2abb8;

  display: flex;
  align-items: center;
}

.trade-form__kv-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.22rem 0;
}

.trade-form__kv-container--w_dots {
  background-image: url("../assets/images/dotted_line.png");
  background-repeat: repeat-x;
  background-position-y: 1.25rem;
}

.trade-form__token-message-container {
  margin: 0.25rem 0 0.5rem;
  padding: 0.75rem 1.375rem;

  border-radius: 0.25rem;
  background-color: #0000001a;
}

.trade-form__token-message-container--message {
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #a9b5c7;
}

.trade-form__label {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #fe7272;
  margin-bottom: 10px;

  &.slippage {
    font-size: 14px;
    display: flex;
    .trade-form__slippage-amount {
      font-weight: 800;

      display: flex;
      align-items: center;
      svg {
        margin-left: 2px;
      }
    }
  }

  &--no-bg {
    background-color: transparent;
  }
}

.trade-form__label--action {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  border: 0 none;

  &:focus {
    outline: none;
  }
  //background-image: url("../assets/images/dotted_line.png");
  //background-repeat: repeat-x;
  //background-position-y: 1.25rem;
}

.trade-form__value {
  line-height: 2;
  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffe546;
  background-color: #444e5a;

  &--no-color {
    color: #a9b5c7;
  }

  &--no-bg {
    background-color: transparent;
  }
}

.trade-form__amount-container {
  display: flex;
  background: #394049;
  width: 100%;
  height: 65px;
  position: relative;
  padding-right: 15px;
  align-items: center;
  &:before {
    content: "";
    position: absolute;
    border: 16px solid transparent;
    border-left: 16px solid #ffffff;
    left: -31px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 32px;
  }

  .trade-form__amount-input {
    width: calc(100% - 105px);
    padding-left: 15px;
    border: none;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    background-color: transparent;

    &input::-webkit-outer-spin-button,
    &input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    &input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }

    &:focus {
      outline: none;
    }
    
  }

  /*.trade-form__amount-max {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 3rem;
    padding: 0.5rem;

    border: 0;
    border-left: 1px solid #444e5a;

    background-color: rgba(32, 31, 35, 0.3);

    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #acb5c2;

    cursor: pointer;

    img {
      padding-bottom: 0.25rem;
    }
  }*/

  .trade-form__amount-maxed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 3rem;
    padding: 0.5rem;

    border: 0;
    border-left: 1px solid #444e5a;

    background-color: rgba(32, 31, 35, 0.3);

    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00ff00;

    cursor: pointer;
  }
}

.rounded-mark {
  font-size: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  padding: 0.0625rem 0.3125rem;
}

.trade-form__change-button {
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: underline;
  color: #ffffff;
  font-size: 0.75rem;
  padding-left: 0.25rem;
}

.trade-form__cancel-button {
  display: inline-block;

  cursor: pointer;
  border: 0;
  height: 2.5rem;
  width: 6.5rem;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #a9b5c7;
  outline: none;
}

.trade-form__submit-button {
  display: block;
  cursor: pointer;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 25px;
  &--buy {
    z-index: 2;
    background-color: #407bf7;
    &:hover {
      background-color: #5b88ff;
    }
  }

  &--sell {
    background-color: #ff5353;
    &:hover {
      background-color: #fe7272;
    }
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.preloader-container{
position: absolute;
top: 50%;
left: 20px;
transform: translate(0%, -50%);
width: 100%;
}