@media screen and (max-width: $breakpoint-mobile-max) {
  .trade-form {
    @include clearfix();

    max-width: 320px;
    width: 320px;

    background-color: #444e5a;

    display: flex;
    flex-direction: column;
    padding: 0;
    .close-icon {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 100;
    }
    &__group-button {
      button {
        padding: 5px 0;
      }
    }
  }

  .trade-form__left_block {
    padding: 17px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-start;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border: 16px solid transparent;
      border-top: 16px solid #ffffff;
      left: 50%;
      .buy & {
      }
      bottom: -30px;
      margin: auto;
      height: 24px;
      transform: translate(-50%, 0);
    }

    .trade-form__info_block {
      position: relative;

      display: flex;
      flex-direction: row;
      margin: 0;
      &__logo {
        margin-right: 35px;
        padding: 0;
        .trade-form__asset-stats {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 0;
        }
        svg {
          width: 56px;
          height: 56px;
        }

        img.position-type-marker-alt {
          position: absolute;
          right: -17px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          border: 4px solid #fff;
          border-radius: 50%;
          width: 27px;
        }
      }

      .trade-form__info_block__asset {
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        text-transform: uppercase;
        color: #282f36;
        text-align: left;
        margin: 0;
      }

      .trade-form__info_block__stats {
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        color: #a2abb8;

        .trade-form__info_block__stats__data {
        }

        .trade-form__info_block__stats__splitter {
          padding: 0 0.25rem;
          font-size: 0.5rem;
          line-height: 3;
        }
      }
    }
  }

  .trade-form__form-container {
    float: right;
    box-sizing: border-box;

    height: 100%;
    width: 20rem;

    top: 0;
    left: 0;

    padding: 30px;
    display: flex;
    flex-direction: column;

    &.buy {
      padding-top: 30px;
    }

    .trade-form__form-values-container {
      margin-bottom: 20px;
    }

    .trade-form__actions-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      margin-top: 0;
    }

    .trade-how-it-works-container {
      .trade-form__how-it-works {
      }

      .hiw-icon {
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .hiw-content {
        font-weight: 600;
        font-size: 10px;
        line-height: 150%;
        color: #b9c7d6;
      }
    }
  }

  .trade-form__position-type-container {
    margin-bottom: 1rem;
  }

  .trade-form__slippage-amount {
  }

  .trade-form__slippage-amount img {
    width: 10px;
    height: auto;
    margin-left: 2px;
  }

  .trade-form__kv-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.22rem 0;
  }

  .trade-form__kv-container--w_dots {
    background-image: url("../assets/images/dotted_line.png");
    background-repeat: repeat-x;
    background-position-y: 1.25rem;
  }

  .trade-form__token-message-container {
    margin: 0.25rem 0 0.5rem;
    padding: 0.75rem 1.375rem;

    border-radius: 0.25rem;
    background-color: #0000001a;
  }

  .trade-form__token-message-container--message {
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #a9b5c7;
  }

  .trade-form__label {
    font-weight: 600;
    font-size: 10px;
    line-height: 150%;
    color: #fe7272;
    &.slippage {
      font-size: 12px;
    }

    &--no-bg {
      background-color: transparent;
    }
  }

  .trade-form__label--action {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    border: 0 none;

    &:focus {
      outline: none;
    }
    //background-image: url("../assets/images/dotted_line.png");
    //background-repeat: repeat-x;
    //background-position-y: 1.25rem;
  }

  .trade-form__value {
    line-height: 2;
    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffe546;
    background-color: #444e5a;

    &--no-color {
      color: #a9b5c7;
    }

    &--no-bg {
      background-color: transparent;
    }
  }

  .trade-form__amount-container {
    height: 52px;
    padding-right: 10px;

    &:before {
      display: none;
    }
    .trade-form__amount-input {
      width: calc(100% - 95px);
      font-size: 24px;

      &:focus {
        outline: none;
      }
    }

    .trade-form__collateral-button-container {
      .collateral-token-button {
        width: 95px;
      }
    }

    .trade-form__amount-max {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      width: 3rem;
      padding: 0.5rem;

      border: 0;
      border-left: 1px solid #444e5a;

      background-color: rgba(32, 31, 35, 0.3);

      font-size: 0.75rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #acb5c2;

      cursor: pointer;

      img {
        padding-bottom: 0.25rem;
      }
    }

    .trade-form__amount-maxed {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      width: 3rem;
      padding: 0.5rem;

      border: 0;
      border-left: 1px solid #444e5a;

      background-color: rgba(32, 31, 35, 0.3);

      font-size: 0.75rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #00ff00;

      cursor: pointer;
    }
  }

  .rounded-mark {
    font-size: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    padding: 0.0625rem 0.3125rem;
  }

  .trade-form__change-button {
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    /* text-decoration-style: dotted; */
    color: #ffffff;
    font-size: 0.75rem;
    padding-left: 0.25rem;
  }

  .trade-form__cancel-button {
    display: inline-block;

    cursor: pointer;
    border: 0;
    height: 2.5rem;
    width: 6.5rem;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #a9b5c7;
    outline: none;
  }

  .trade-form__submit-button {
    display: inline-block;

    cursor: pointer;
    border: 0;
    height: 2.5rem;
    //width: 6.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 100px;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;

    &--buy {
      background-color: #407bf7;
    }

    &--sell {
      background-color: #ff5353;
    }
  }
}
