.trade-expected-result {
  display: flex;
  flex-direction: row;

  border: 1px solid #586473;
  box-sizing: border-box;
  border-radius: 4px;

  margin-bottom: 20px;

  .trade-expected-result__column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 13px 17px;

    + .trade-expected-result__column {
      border-left: 1px solid #586473;
    }

    .trade-expected-result__column-value {
      font-weight: bold;
      font-size: 20px;
      line-height: 150%;
      text-align: left;
      display: flex;

      color: #939fac;
      .value {
        color: #1cd8c4;
      }
    }

    .trade-expected-result__column-title {
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      text-align: left;
      color: #939fac;
    }
  }

  @media screen and (max-width: $breakpoint-mobile-max) {
    margin-top: 20px;
    margin-bottom: 0;
    .trade-expected-result__column {
      padding: 12px 15px;

      .trade-expected-result__column-value {
        font-size: 16px;
      }

      .trade-expected-result__column-title {
        font-size: 10px;
      }
    }
  }
}
