.unit-of-account {
  display: inline-block;
  vertical-align: middle;


  border-radius: 4px;
  background: #586473;

  margin-left: 10px;
}

.unit-of-account__item {
  display: inline-block;
  padding: 2px 7px;
  border-radius: 4px;
  cursor: pointer;


  list-style: none;

  border-style: none;

  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;

  &--selected {
    border-style: none;
    background: #00C0AB;
  }
}
