.button {
  font-family: "Muli", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.4;
  &:hover {
    color: #ffffff;
  }
  span {
    font-size: 15px;
    opacity: 0.5;
  }
  p {
    font-size: 24px;
  }
  + span {
    font-size: 13px;
    line-height: 1.5;
    color: #8992a4;
    margin: 20px 0 0 40px;
  }
}

.button-blue {
  background-color: #276bfb;
  &:hover {
    background-color: #5b88ff;
  }
}
.button-green {
  background-color: #00c0ab;
  &:hover {
    background-color: #33dfcc;
  }
}
.button-purple {
  background-color: #8e7df7;
  &:hover {
    background-color: #b79eff;
  }
}
.button-white {
  background-color: var(--btn-white-bg);
  border: 2px solid #b9c7d6;
  border-radius: 60px;
  color: #a3b4c7;
  &:hover {
    background-color: #b9c7d6;
    color: #ffffff;
    .icon-arrow {
      path {
        stroke: #ffffff;
      }
    }
  }
}
.button-primary {
    background-color: var(--btn-blue-bg);
    border: 2px solid var(--btn-blue-border);
    color: var(--btn-blue-color);
    &:hover{
      background-color: var(--btn-blue-bg-hover);
      border: 2px solid var(--btn-blue-bg-hover);
    }
}
.button-lg {
  width: 400px;
  border-radius: 90px;
  padding: 13px 25px 13px 40px;
}
.button-md {
  width: 355px;
  border-radius: 90px;
  padding: 13px 25px 13px 40px;
}
.button-sm {
  width: 180px;
  height: 50px;
  font-size: 16px;
  padding: 0 30px;
}
.button-xs {
  width: 70px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}
