.button {
  font-family: "Muli", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.4;
  p {
    color: #ffffff;
  }
  &:hover {
    color: #ffffff;
  }
  span {    
    opacity: 0.5;
    @media screen and (min-width: $breakpoint-sm-up){
      font-size: 15px;
    }
    @media screen and (max-width: $breakpoint-sm-down){
      font-size: 13px;
    }
  }
  p {
    @media screen and (min-width: $breakpoint-sm-up){
      font-size: 24px;
    }
    @media screen and (max-width: $breakpoint-sm-down){
      font-size: 20px;
    }
  }
  + .info-after-button {
    line-height: 1.5;
    color: #8992a4;
    margin: 20px 0 0 40px;
    @media screen and (min-width: $breakpoint-sm-up){
      font-size: 13px;
    }
    @media screen and (max-width: $breakpoint-lg-down){
      max-width: 250px;
    }
    @media screen and (max-width: $breakpoint-sm-down){
      font-size: 10px;
      max-width: 215px;
    }
  }
}

.button-blue {
  background-color: #276bfb;
  &:hover {
    background-color: #5b88ff;
  }
}
.button-green {
  background-color: #00c0ab;
  &:hover {
    background-color: #33dfcc;
  }
}
.button-purple {
  background-color: #8e7df7;
  &:hover {
    background-color: #b79eff;
  }
}
.button-white {
  background-color: var(--btn-white-bg);
  border: 2px solid #b9c7d6;
  border-radius: 60px;
  color: #a3b4c7;
  &:hover {
    background-color: #b9c7d6;
    color: #ffffff;
    .icon-arrow {
      path {
        stroke: #ffffff;
      }
    }
  }
}
.button-primary {
  background-color: var(--btn-blue-bg);
  border: 2px solid var(--btn-blue-border);
  color: var(--btn-blue-color);
  &:hover {
    background-color: var(--btn-blue-bg-hover);
    border: 2px solid var(--btn-blue-bg-hover);
  }
}
.button-xl {
  border-radius: 90px;
  padding: 13px 25px 13px 40px;
  @media screen and (min-width: $breakpoint-xl-up) {
    width: 535px;
  }
  @media screen and (max-width: $breakpoint-xl-down) {
    width: 415px;
  }
  @media screen and (max-width: $breakpoint-lg-down) {
    width: 290px;
  }
  @media screen and (max-width: $breakpoint-sm-down) {
    width: 255px;
  }
}
.button-lg {
  border-radius: 90px;
  padding: 13px 25px 13px 40px;
  @media screen and (min-width: $breakpoint-xl-up) {
    width: 400px;
  }
  @media screen and (max-width: $breakpoint-xl-down) {
    width: 345px;
  }
  @media screen and (max-width: $breakpoint-lg-down) {
    width: 290px;
  }
  @media screen and (max-width: $breakpoint-sm-down) {
    width: 255px;
  }
}
.button-md {
  border-radius: 90px;
  padding: 13px 25px 13px 40px;
  @media screen and (min-width: $breakpoint-xl-up) {
    width: 395px;
  }
  @media screen and (max-width: $breakpoint-xl-down) {
    width: 290px;
  }
  @media screen and (max-width: $breakpoint-sm-down) {
    width: 255px;
  }
}
.button-sm {
  @media screen and (min-width: $breakpoint-sm-up){
    width: 180px;
    height: 50px;
    font-size: 16px;
    padding: 0 30px;
  }
  @media screen and (max-width: $breakpoint-sm-down){
    width: 140px;
    height: 42px;
    font-size: 13px;
    padding: 0 20px;
  }
}
.button-xs {
  width: 70px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}
