.button {
  font-family: "Muli", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.4;
  &:hover{
    color: #ffffff;
  }
  span {
    font-size: 15px;
    opacity: 0.5;
  }
  p {
    font-size: 24px;
  }
  + span{
      font-size: 13px;
      line-height: 1.5;
      color: #8992A4;
      margin: 20px 0 0 40px;
  }
}

.button-blue {
  background-color: #276bfb;

}
.button-green {
  background-color: #00c0ab;
}
.button-purple {
  background-color: #8e7df7;
}
.button-lg {
  width: 400px;
  border-radius: 90px;
  padding: 13px 25px 13px 40px;
}
.button-md {
  width: 355px;
  border-radius: 90px;
  padding: 13px 25px 13px 40px;
}
.button-sm {
  width: 180px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
}
.button-xs {
  width: 66px;
  height: 36px;
  min-height: 36px;
  font-weight: 600;
}
.button-group-gains {
  background-color: var(--secondary-bg);
  border-radius: 29px;
  display: flex;
  padding: 1px;
  .button-gains {
    font-family: "Muli", sans-serif;
    color: var(--earn-color-hover);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    cursor: pointer;
    @media (min-width: 768px) {
      width: 46px;
      height: 46px;
    }
    @media (max-width: 767px) {
      width: 38px;
      height: 38px;
    }
    &.active {
      background-color: #276bfb;
      color: #ffffff;
      border-radius: 50%;
    }
  }
}
