.flex {
  display: flex;
}
.fw-w {
  flex-wrap: wrap;
}
.fg-1{
  flex-grow: 1;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-c {
  justify-content: center;
}
.jc-fe {
  justify-content: flex-end;
}
.ai-c {
  align-items: center;
}
.ai-fs {
  align-items: flex-start;
}
.ai-fe {
  align-items: flex-end;
}
.as-b{
  align-self: baseline;
}
.as-c {
  align-self: center;
}
.as-fe {
  align-self: flex-end;
}
.fd-c {
  flex-direction: column;
}
.fd-r {
  flex-direction: row;
}

.f-1{
  flex: 1;
}
.f-2{
  flex: 2;
}
.f-3{
  flex: 3;
}
@media screen and (max-width: $breakpoint-lg-down) {
  .fw-lg-w{
    flex-wrap: wrap;
  }
  .jc-lg-fe{
    justify-content: flex-end;
  }
  .jc-lg-fs{
    justify-content: flex-start;
  }
}

@media screen and (max-width: $breakpoint-md-down) {
  .fd-md-c {
    flex-direction: column;
  }
  .fw-md-w {
    flex-wrap: wrap;
  }
  .jc-md-c{
      justify-content: center;
  }
  .order-md-1{
    order: 1;
  }
  .fg-lg-initial{
    flex-grow: initial;
  }
}
@media screen and (max-width: $breakpoint-sm-down) {
  .fw-sm-w {
    flex-wrap: wrap;
  }
  .fd-sm-r {
    flex-direction: row;
  }
  .fd-sm-c {
    flex-direction: column;
  }
  .order-sm-1 {
    order: 1;
  }
  .jc-sm-fs {
    justify-content: flex-start;
  }
  .as-sm-a{
    align-self: auto;
  }
  .ai-sm-ih{
    align-items: inherit;
  }
}
@media screen and (max-width: $breakpoint-xs-down) {
  .flex-xs {
    display: flex;
  }
  .fd-xs-c {
    flex-direction: column;
  }
  .jc-xs-c{
    justify-content: ceil($number: 0);
  } 
  .al-xs-c{
    align-items: center;
  }
}
