.loader {
    width: 100%;
    position: absolute;
    background: var(--bg-item-form);
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    padding-left: 15px;
    display: none;
    &.visible{
        display: flex;
    }
    span {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #c4c4c4;
        margin: 0 8px;
        border-radius: 50%;
        animation-name: loader-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        &:nth-child(2) {
            animation-delay: 0.1s;
        }
        &:nth-child(3) {
            animation-delay: 0.2s;
        }
        &:nth-child(4) {
            animation-delay: 0.3s;
        }
    }
}
@keyframes loader-animation {
    0% {
        transform: scale(0);
        background-color: #c4c4c4;
    }
    33%{
        transform: scale(1.5);
        background-color: #4ECEA3;
    }
    66% {
        transform: scale(2);
        background-color: #276bfb;
    }
    100% {
        transform: scale(0);
        background-color: #c4c4c4;
    }
}