/* margin */
.mt-10 {
  margin-top: 10px;
}
.mt-60 {
  margin-top: 60px;
}
@for $i from 1 through 20 {
  .mb-#{5*$i} {
    margin-bottom: #{5 * $i}px;
  }
}
@for $i from 2 through 9 {
  .mr-#{5*$i} {
    margin-right: #{5 * $i}px;
  }
}
.mr-60 {
  margin-right: 60px;
}
.mr-90 {
  margin-right: 90px;
}
.mr-115 {
  margin-right: 115px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mx-a {
  margin-left: auto;
  margin-right: auto;
}

/* padding */
@for $i from 1 through 8 {
  .pt-#{15*$i} {
    padding-top: #{15 * $i}px;
  }
}
@for $i from 1 through 8 {
  .pb-#{15*$i} {
    padding-bottom: #{15 * $i}px;
  }
}

@media screen and (max-width: $breakpoint-xl-down) {
  .mr-xl-10 {
    margin-right: 10px;
  }
  .mr-xl-60 {
    margin-right: 60px;
  }
  .mr-xl-90 {
    margin-right: 90px;
  }
}
@media screen and (max-width: $breakpoint-lg-down) {
  .mr-lg-15 {
    margin-right: 15px;
  }
  .mr-lg-30 {
    margin-right: 30px;
  }
  .mr-lg-45 {
    margin-right: 45px;
  }
  .mr-lg-60 {
    margin-right: 60px;
  }
  .mb-lg-15 {
    margin-bottom: 15px;
  }
  .pt-lg-0 {
    padding-top: 0;
  }
}
@media screen and (max-width: $breakpoint-md-down) {
  .mr-md-45 {
    margin-right: 45px;
  }
  .mr-md-30 {
    margin-right: 30px;
  }
  .mb-md-0 {
    margin-bottom: 0;
  }
  .mb-md-15 {
    margin-bottom: 15px;
  }
  .mb-md-30 {
    margin-bottom: 30px;
  }
  .mb-md-60 {
    margin-bottom: 55px;
  }
  .mx-md-a {
    margin-left: auto;
    margin-right: auto;
  }
  .pt-md-30 {
    padding-top: 30px;
  }
  .pb-md-30 {
    padding-bottom: 30px;
  }
  .pb-md-60 {
    padding-bottom: 60px;
  }
  .pl-md-60 {
    padding-left: 60px;
  }
  .pl-md-0 {
    padding-left: 0;
  }
  .px-md-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .py-md-45 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media screen and (max-width: $breakpoint-sm-down) {
  .mr-sm-0 {
    margin-right: 0;
  }
  .mr-sm-30 {
    margin-right: 30px;
  }
  .mt-sm-30 {
    margin-top: 30px;
  }
  .mb-sm-15 {
    margin-bottom: 15px;
  }
  .mb-sm-30 {
    margin-bottom: 30px;
  }
  .pt-sm-60 {
    padding-top: 60px;
  }
}
@media screen and (max-width: $breakpoint-xs-down) {
  .pt-xs-0 {
    padding-top: 0;
  }
  .pt-xs-30 {
    padding-top: 30px;
  }
  .pt-xs-60 {
    padding-top: 60px;
  }
  .pt-xs-90 {
    padding-top: 90px;
  }
  .pb-xs-0 {
    padding-bottom: 0;
  }
  .pb-xs-45 {
    padding-bottom: 45px;
  }
  .pb-xs-60 {
    padding-bottom: 60px;
  }
  .pb-xs-75 {
    padding-bottom: 75px;
  }
  .pl-xs-15 {
    padding-left: 15px;
  }
  .py-xs-45 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .px-xs-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mb-xs-0 {
    margin-bottom: 0;
  }
  .mb-xs-15 {
    margin-bottom: 15px;
  }
  .mb-xs-30 {
    margin-bottom: 30px;
  }
  .mb-xs-45 {
    margin-bottom: 45px;
  }
  .mr-xs-9 {
    margin-right: 9px;
  }
}
