
.svg-primary {
  fill: var(--primary-color);
}
.icon-step-primary {
  fill: var(--primary-svg-icon);
}
.icon-step-secondary {
  fill: var(--secondary-svg-icon);
}
.icon-step-tertiary {
  fill: var(--tertiary-svg-icon);
}
.icon-safe-switch {
  fill: var(--safe-svg-icon);
}
.svg-border {
  stroke: var(--secondary-bg);
}
.svg-bg-primary {
  fill: var(--svg-bg-primary);
}
.svg-bg-secondary {
  fill: var(--svg-bg-secondary);
}
.icon-border-2 {
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.border-coin-4 {
  border: 4px solid var(--secondary-bg);
  border-radius: 50%;
}
.icon-36 {
  width: 36px;
  height: 36px;
}
.icon-40 {
  width: 40px;
  height: 40px;
  svg {
    vertical-align: top;
  }
}
.icon-66 {
  width: 66px;
  height: 66px;
}
.icon-50 {
  width: 50px;
  height: 50px;
}
.svg-blur {
  display: flex;
  position: relative;
  width: 460px;
  svg{
    width: 100%;
    height: auto;
  }
  @media(max-width: 991px){
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
  @media(max-width: 579px){
    max-width: 100%;
  }
  svg {
    position: relative;
  }
  &:before {
    content: "";
    position: absolute;
    background: #404b57;
    opacity: 0.4;
    filter: blur(26px);
    width: 85%;
    height: 85%;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media(max-width: 767px){
  .icon-sm-50{
    width: 50px;
    height: 50px;
  }
}
@media(max-width: 579px){
  .icon-xs-30{
    width: 30px;
    height: 30px;
  }
}
