.add-to-balance {
    background-color: #e7ebf0;
    flex-wrap: wrap;
    label {
        width: 100%;
        color: #283049;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .calc-item {
        position: relative;
        margin-bottom: 30px;
        width: 100%;
    }
    button {
        width: 100%;
        margin-bottom: 12px;
    }
    &__input {
        width: 100%;
        height: 70px;
        font-weight: 800;
        font-size: 36px;
        border: none;
        border-radius: 16px;
        outline: none;
        padding: 30px 63px;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    &__range {
        position: relative;
        margin: 0 24px;
        margin-top: -10px;
        input {
            position: relative;
            cursor: pointer;
            width: 100%;
            background: transparent;
            -webkit-appearance: none;
            outline: none;
            z-index: 1;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                box-shadow: 0px 2px 8px rgba(64, 123, 247, 0.8);
                background: #276bfb;
                cursor: pointer;
            }
        }
    }
    .line,
    .progress {
        pointer-events: none;
        position: absolute;

        border-radius: 10px;
        top: 5px;
        height: 6px;

        z-index: 0;
    }
    .progress {
        background: #33dfcc;
    }
    .line {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 2px;

        div {
            background: #cbe2ff;
            overflow: hidden;
            &:last-child {
                border-radius: 0 10px 10px 0;
            }
        }
    }

    .token-logo {
        position: absolute;
        left: 16px;
        top: 19px;
        width: 32px;
        height: 32px;
    }
    .sign {
        position: absolute;
        text-align: right;
        top: 23px;
        right: 16px;
        font-weight: 600;
        font-size: 18px;
        color: #758295;
    }
}
