.animation-tx-1 {
  fill: #f5f7f9;
  stroke-dasharray: 202 204;
  stroke-dashoffset: 203;
  stroke-linecap: round;
  animation: animation-tx-draw 2000ms linear 0ms infinite forwards;
}
.animation-tx-2 {
  fill: none;
  stroke: #276bfb;
  stroke-width: 6;
  stroke-dasharray: 152 154;
  stroke-dashoffset: 153;
  stroke-linecap: round;
  animation: animation-tx-draw 2000ms linear 1000ms infinite forwards;
}
@keyframes animation-tx-draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes animation-tx-fade {
  0% {
    stroke-opacity: 1;
  }
  95% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0;
  }
}
