.animation-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #283049;
  left: 0;
  right: 0;
  top: 105px;
  position: absolute;
  text-align: center;
}
.animation-tx {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  top: 0;
  left: 0;
  border-radius: 16px;
  svg{
    transform: rotate(-90deg);
  }
  > div{
    display: flex;
    transform: rotate(-90deg) translateY(-30px);
  }
}
