.group-buttons {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $width-min-sm) {
    justify-content: space-between;
  }
  .button {
    margin-bottom: 20px;
  }
  &.selected-delegate {
    .no-active {
      background: #e7ebf0;
      cursor: not-allowed;
      &:hover {
        border: 2px solid transparent;
      }
      .name {
        color: #ffffff;
      }
      .photo {
        filter: grayscale(100%);
      }
    }
  }
}

.button {
  border: none;
  outline: none;
  background-color: #f3f9ff;
  border-radius: 40px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #276bfb;
  position: relative;

  &-full-width {
    width: 100%;
  }
  &.blue {
    background-color: #276bfb;
    color: #ffffff;
    &:hover {
      background-color: #5b88ff;
    }
  }
  &.red {
    background-color: #ff5c5c;
    color: #ffffff;

    &:hover {
      background-color: #ff5c5c;

      opacity: 0.9;
    }
  }
  &.half-button {
    width: calc(50% - 9px);
  }
  &.full-button {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
    background-color: #5b88ff;
    color: #ffffff;
  }
  &:disabled,
  &[disabled] {
    background: #d9e0e7 !important;
    color: #ffffff !important;
    cursor: not-allowed;
    &:hover {
      cursor: not-allowed;
    }
  }
}

.button-representative {
  padding: 4px;
  border: 2px solid transparent;
  justify-content: flex-start;
  @media screen and (min-width: $width-min-sm) {
    min-width: calc(100% / 3 - 12px);
    height: 68px;
  }
  @media screen and (max-width: $width-max-sm) {
    min-width: 100%;
    height: 48px;
  }
  &:hover {
    background-color: transparent;
    border-color: #5b88ff;
  }
  &.active {
    border: 2px solid #276bfb;
    position: relative;
  }
  .photo {
    margin-right: 12px;
    border-radius: 50%;
    img {
      border-radius: 50%;
      max-width: 100%;
    }
    @media screen and (min-width: $width-min-sm) {
      width: 56px;
      height: 56px;
    }
    @media screen and (max-width: $width-max-sm) {
      width: 36px;
      height: 36px;
    }
  }
  .name {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #283049;
  }
}
