.calculator {
  position: relative;
  margin: auto;
  max-width: 746px;
}

.calculator__balance-loader {
  position: absolute;
  top: 13px;
  left: 50%;
}

.section-header {
  margin-bottom: 24px;
  line-height: 1.5;
  color: $color-gray-dark;
  font-size: 17px;
  font-weight: bold;
}

.label--small {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #758295;
}

.token-label {
  @extend .label--small;
  position: absolute;
  top: 0px;
  left: 46px;
}

.stake-input__token-logo {
  width: 32px;
  height: 32px;
}

.stake-input__value {
  font-size: 36px;
  font-weight: 800;
  line-height: 1;
  color: #283049;
}
