.proposal__back-btn {
  height: 32px;
  width: 32px;
  padding: 6px;

  .btn__icon {
    height: 20px;
    width: 20px;
  }
}

.proposals {
  .proposals-body {
    .proposals-votes {
      &__range {
        position: relative;
        margin: 16px 0;
        background: $color-red-aim;
        height: 16px;
        width: 100%;
        border-radius: 4px;
        &-active {
          background: #00c0ab;
          height: 16px;
          border-radius: 4px;
          position: absolute;
        }
      }
      &__data {
        display: flex;
        > div {
          font-weight: 600;
          label {
            color: #758295;
          }
          &:not(:last-child) {
            margin-right: 18px;
          }
        }
      }
    }
    .proposals-actions {
      // width: calc(50% - 12px);
      width: 60%;
      &__details {
        line-height: 1.8;
        font-weight: 600;
      }
    }
    .proposals-info {
      // width: calc(50% - 12px);
      &__description {
        line-height: 1.8;
        font-weight: 600;
        img {
          max-width: 100%;
        }
      }
    }
    .proposals-history {
      width: calc(50% - 12px);
      &__status {
        font-weight: 800;
        line-height: 1.25;
        display: flex;
        align-items: center;
        margin-left: $spacing-base;

        &.closed,
        &.defeated,
        &.expired,
        &.canceled {
          color: #8992a4;
        }
        &.pending,
        &.succeeded,
        &.queued,
        &.executed,
        &.active {
          color: #276bfb;
        }
      }
    }
    .proposals-actions-item {
      margin-right: 20px;
      .title {
        word-break: break-all;
      }
    }
  }
  .proposals-button {
    padding: 20px 46px;
    height: auto;
  }
}

.governance {
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e7ebf0;
    border-radius: 16px;
    padding: 0 15px;
    input {
      width: 100%;
      background: #ffffff;
      border: none;
      box-sizing: border-box;
      border-radius: 16px;
      height: 54px;
      padding-left: 10px;
      font-size: 19px;
      line-height: 1.5;
      color: #a9b5c7;
      outline: none;
    }
  }
}

.proposal__state-label {
  display: flex;
  justify-content: center;
  width: 90px;
  padding: 2px 6px;
  border: none;
  border-radius: 18px;
  line-height: 1.8;
  font-weight: bold;
  color: #ffffff;

  &.closed,
  &.defeated,
  &.expired,
  &.canceled {
    background-color: #8992a4;
  }
  &.pending,
  &.succeeded,
  &.queued,
  &.executed,
  &.active {
    background-color: #276bfb;
  }
}
.proposal__proposer-address {
  min-width: 130px;
}

.proposals-base-info {
  .proposals-proposer {
    display: flex;
    padding: 3px 3px;
    padding-right: 5px;
    border: none;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f9ff;
    line-height: 1.8;
    .avatar {
      height: 25px;
      margin-right: 10px;
    }
  }
}
.governance__proposals-table {
  &.table > tbody > tr > td:first-child,
  &.table > tbody > tr > td:last-child {
    padding: 8px;
  }
}

@media screen and(max-width: $width-max-sm) {
  .governance__proposals-table {
    thead {
      display: none;
    }
    tr > td:first-child {
      border-top: none;
    }
  }
  .proposals .proposals-body .proposals-history {
    width: auto;
  }
}
