.proposals {
  width: 720px;
  padding: 40px;
  .proposals-header {
    display: flex;
    span {
      font-size: 22px;
      line-height: 1.5;
      font-weight: 900;
    }
    svg {
      margin-top: 8px;
      margin-right: 8px;
    }
  }
  .proposals-body {
    padding: 24px 0;
    .proposals-votes {
      padding: 32px 0;
      &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.25;
      }
      &__range {
        position: relative;
        margin: 16px 0;
        background: #e9f4ff;
        height: 4px;
        width: 100%;
        border-radius: 4px;
        &-active {
          background: #00c0ab;
          height: 4px;
          border-radius: 4px;
          position: absolute;
        }
      }
      &__data {
        display: flex;
        > div {
          font-weight: 600;
          label {
            color: #758295;
          }
          &:not(:last-child) {
            margin-right: 18px;
          }
        }
      }
    }
    .proposals-info__title,
    .proposals-history__title {
      font-size: 18px;
      line-height: 1.25;
      font-weight: 600;
      margin-bottom: 24px;
    }
    .proposals-info {
      width: calc(50% - 12px);
      &__description {
        font-size: 14px;
        line-height: 1.8;
        font-weight: 600;
      }
    }
    .proposals-history {
      width: calc(50% - 12px);

      &__li {
        list-style: none;
        display: flex;
        background-color: #f3f9ff;
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 4px;
      }
      &__status {
        font-weight: 800;
        font-size: 14px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        width: 40%;
        &.green {
          color: #00c0ab;
        }
      }
      &__date {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        color: #758295;
      }
    }
  }
  .proposals-button {
    padding: 20px 46px;
    height: auto;
  }
}

.governance {
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e7ebf0;
    border-radius: 16px;
    padding: 0 15px;
    input {
      width: 100%;
      background: #ffffff;
      border: none;
      box-sizing: border-box;
      border-radius: 16px;
      height: 54px;
      padding-left: 10px;
      font-size: 19px;
      line-height: 1.5;
      color: #a9b5c7;
      outline: none;
    }
  }
  &__table {
    margin-top: 30px;
    .trow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 25px;
      border-bottom: 1px solid #cbe2ff;
      &:hover {
        background-color: #cbe2ff;
        cursor: pointer;
        .trow__description {
          color: #5b88ff;
        }
      }
      &__description {
        font-size: 18px;
        line-height: 1.5;
        font-weight: bold;

        color: #276bfb;
      }
      &__author {
        font-size: 16px;
        line-height: 1.6;
        color: #276bfb;
        margin-right: 54px;
        width: 105px;
      }
      &__action {
        button {
          width: 90px;
          padding: 3px 0;
          border: none;
          border-radius: 18px;
          font-size: 14px;
          line-height: 1.8;
          font-weight: bold;
          color: #ffffff;

          &.closed {
            background-color: #a9b5c7;
          }
          &.active {
            background-color: #276bfb;
          }
        }
      }
      &__right {
        display: flex;
        align-items: center;
      }
    }

    .thead {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #33dfcc;
      color: #8992a4;
      padding: 16px 25px;
      &__right {
        display: flex;
        align-items: center;
      }
      &__author {
        display: flex;
        align-items: center;
        margin-right: 54px;
        width: 105px;
      }
      &__action {
        width: 90px;
      }
    }
  }
}
