.proposals {
  .proposals-header {
    display: flex;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 900;
    .back-to-list {
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }

    svg {
      margin-top: 8px;
      margin-right: 8px;
    }
  }
  .proposals-body {
    padding: 24px 0;
    .proposals-votes {
      padding: 32px 0;
      &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.25;
      }
      &__range {
        position: relative;
        margin: 16px 0;
        background: #e9f4ff;
        height: 4px;
        width: 100%;
        border-radius: 4px;
        &-active {
          background: #00c0ab;
          height: 4px;
          border-radius: 4px;
          position: absolute;
        }
      }
      &__data {
        display: flex;
        > div {
          font-weight: 600;
          label {
            color: #758295;
          }
          &:not(:last-child) {
            margin-right: 18px;
          }
        }
      }
    }
    .proposals-info__title,
    .proposals-history__title,
    .proposals-actions__title {
      font-size: 18px;
      line-height: 1.25;
      font-weight: 600;
      margin-bottom: 24px;
    }
    .proposals-actions {
      // width: calc(50% - 12px);
      width: 60%;
      &__details {
        font-size: 14px;
        line-height: 1.8;
        font-weight: 600;
      }
    }
    .proposals-info {
      // width: calc(50% - 12px);
      &__description {
        font-size: 14px;
        line-height: 1.8;
        font-weight: 600;
        img {
          max-width: 100%;
        }
      }
    }
    .proposals-history {
      width: calc(50% - 12px);

      &__li {
        list-style: none;
        display: flex;
        background-color: #f3f9ff;
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 4px;
      }
      &__status {
        font-weight: 800;
        font-size: 14px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        width: 40%;
        &.green {
          color: #00c0ab;
        }
        .status-name {
          position: relative;
          .icon-external {
            position: absolute;
            right: -17px;
            top: -5px;
          }
        }
      }
      &__date {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        color: #758295;
      }
    }
    .proposals-actions-item {
      margin-right: 20px;
      .title {
        word-break: break-all;
      }
    }
  }
  .proposals-button {
    padding: 20px 46px;
    height: auto;
  }
}

.governance {
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e7ebf0;
    border-radius: 16px;
    padding: 0 15px;
    input {
      width: 100%;
      background: #ffffff;
      border: none;
      box-sizing: border-box;
      border-radius: 16px;
      height: 54px;
      padding-left: 10px;
      font-size: 19px;
      line-height: 1.5;
      color: #a9b5c7;
      outline: none;
    }
  }
}

.proposal__state-label {
  display: flex;
  justify-content: center;
  width: 90px;
  padding: 3px 0;
  border: none;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  color: #ffffff;

  &.closed,
  &.defeated,
  &.expired,
  &.canceled {
    background-color: #8992a4;
  }
  &.pending,
  &.succeeded,
  &.queued,
  &.executed,
  &.active {
    background-color: #276bfb;
  }
}

.proposals-base-info {
  display: grid;
  grid-template-columns: 90px 140px;
  grid-column-gap: 20px;
  .proposals-proposer {
    display: flex;
    padding: 3px 3px;
    padding-right: 5px;
    border: none;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f9ff;
    font-size: 14px;
    line-height: 1.8;
    .avatar {
      height: 25px;
    }
  }
}
