body {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  p {
    margin-bottom: 0;
    line-height: 1.8;
    @media(max-width: 579px){
      font-size: 12px;
    }
  }
}
.mw-330 {
  max-width: 330px;
}
.mw-390 {
  max-width: 390px;
}
.mw-400 {
  max-width: 400px;
}
.w-100{
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right{
  text-align: right;
}
/*.bg-primary-image {
  background-repeat: no-repeat;
  [data-theme="dark"] & {
    background-image: url(/images/bg-dark.svg);
  }
  [data-theme="light"] & {
    background-image: url(/images/bg-light.svg);
  }
  @media (min-width: 1441px) {
    background-size: cover;
  }
}*/
.bg-primary {
  background-color: var(--primary-bg);
}
.bg-secondary {
  background-color: var(--secondary-bg);
}
.bg-blue {
  background-color: #56a9ff;
}
@media(max-width: 991px){
  .w-md-50{
    width: 50%;
  }
  .w-md-100{
    width: 100%;
  }
  .text-md-center{
    text-align: center;
  }
}
@media(min-width: 768px){
  .hidden-md{
    display: none;
  }
}
@media(max-width: 767px){
  .text-sm-left{
    text-align: left;
  }
  .mw-sm-440{
    max-width: 440px;
  }
}
@media(max-width: 579px){
  .hidden-xs{
    display: none;
  }
  .text-xs-center{
    text-align: center;
  }
  .mx-xs-345{
    max-width: 345px;
  }
}