body {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  p {
    margin-bottom: 0;
    line-height: 1.8;
  }
}
.mw-330 {
  max-width: 330px;
}
.mw-390 {
  max-width: 390px;
}
.mw-400 {
  max-width: 400px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right{
  text-align: right;
}
.bg-primary-image {
  background-repeat: no-repeat;
  [data-theme="dark"] & {
    background-image: url(/images/bg-dark.svg);
  }
  [data-theme="light"] & {
    background-image: url(/images/bg-light.svg);
  }
  @media (min-width: 1441px) {
    background-size: cover;
  }
}
.bg-primary {
  background-color: var(--primary-bg);
}
.bg-secondary {
  background-color: var(--secondary-bg);
}
.bg-blue {
  background-color: #56a9ff;
}
