:root {
  --primary-color: #283049;
  --secondary-color: #283049;
  --light-gray-color: #828282;
  --dark-gray-color: #283049;
  --primary-bg: #e9f4ff;
  --secondary-bg: #ffffff;
  --switch-bg: #283049;
  --switch-button: #ffffff;
  --switch-button-after: #283049;
  --primary-svg-icon: #51aaff;
  --secondary-svg-icon: #bfe9ff;
  --tertiary-svg-icon: #95e6ff;
  --safe-svg-icon: #95e6ff;
  --accordion-bg: #ffffff;
  --accordion-border: #ffffff;
  --btn-white-bg: #ffffff;
  --btn-green-bg: #ffffff;
  --btn-green-color: #00c0ab;
  --btn-blue-border: #276bfb;
  --btn-blue-bg: #276bfb;
  --earn-bg: #ffffff;
  --earn-color-hover: #276bfb;
  --coin-bg: #b9c7d6;
  --gain-color: #ffffff;
  --chart-shadow-color: #cbe2ff;
  --shadow-post: 0px 8px 16px rgba(13, 76, 211, 0.16);
}

[data-theme='dark'] {
  --primary-color: #ffffff;
  --secondary-color: #b9c7d6;
  --light-gray-color: #939fac;
  --dark-gray-color: #939fac;
  --primary-bg: #283038;
  --secondary-bg: #495460;
  --switch-bg: #ffffff;
  --switch-button: #ffcd1b;
  --switch-button-after: #ffffff;
  --primary-svg-icon: #001760;
  --secondary-svg-icon: #001760;
  --tertiary-svg-icon: #001760;
  --safe-svg-icon: #003cda;
  --accordion-bg: #202830;
  --accordion-border: #38424b;
  --btn-white-bg: #283038;
  --btn-green-bg: #00c0ab;
  --btn-green-color: #ffffff;
  --btn-blue-border: #b9c7d6;
  --btn-blue-bg: #323b44;
  --earn-bg: #00c0ab;
  --earn-color-hover: #ffffff;
  --coin-bg: #495460;
  --gain-color: #283049;
  --chart-shadow-color: rgb(0, 0, 0, 0.2);
  --shadow-post: 0px 12px 20px rgba(0, 0, 0, 0.1);
}
