@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;600;800;900&display=swap");

@import "base/variables";
@import "base/base";
@import "base/typography";
@import "base/flex";
@import "base/modal";

@import "components/buttons";
@import "components/grid";
@import "components/form";
@import "components/on-chain-indicator";
@import "components/provider-menu";
@import "components/loader";

@import "layout/footer";

@import "layout/header";
