body {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  p {
    margin-bottom: 0;
    line-height: 1.8;
    color: var(--primary-color);
    @media screen and (max-width: $breakpoint-xs-down) {
      font-size: 12px;
    }
  }
}
.w-100 {
  width: 100%;
}