body {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  p {
    margin-bottom: 0;
    line-height: 1.8;
    @media(max-width: 579px){
      font-size: 12px;
    }
  }
}
.w-100{
  width: 100%;
}
.mw-100{
  min-width: 100%;
}
.mw-md {
  max-width: 1170px;
}
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r{
  text-align: right;
}
.relative{
  position: relative;
}
.bg-primary {
  background-color: var(--primary-bg);
}
.bg-secondary {
  background-color: var(--secondary-bg);
}
@media(max-width: 991px){
  .w-md-50{
    width: 50%;
  }
  .w-md-100{
    width: 100%;
  }
  .text-md-center{
    text-align: center;
  }
}
@media(min-width: 768px){
  .hidden-md{
    display: none !important;
  }
}
@media(max-width: 767px){
  .text-sm-left{
    text-align: left;
  }
  .mw-sm-440{
    max-width: 440px;
  }
}
@media(max-width: 579px){
  .hidden-xs{
    display: none;
  }
  .text-xs-center{
    text-align: center;
  }
  .mx-xs-345{
    max-width: 345px;
  }
}