:root {
  --primary-color: #283049;
  --secondary-color: #283049;
  --light-gray-color: #828282;
  --dark-gray-color: #283049;
  --primary-bg: #e9f4ff;
  --secondary-bg: #ffffff;
  --switch-bg: #283049;
  --switch-button: #ffffff;
  --primary-svg-icon: #51aaff;
  --secondary-svg-icon: #bfe9ff;
  --tertiary-svg-icon: #95e6ff;
  --safe-svg-icon: #95e6ff;
  --accordion-bg: #e9f4ff;
  --accordion-border: #e9f4ff;
  --btn-white-bg: #ffffff;
  --btn-blue-border: #276bfb;
  --btn-blue-bg: #276bfb;
  --btn-blue-bg-hover: #5b88ff;
  --btn-blue-color: #ffffff;
  --bg-form: #ffffff;
  --shadow-form: rgba(95, 109, 130, 0.2);
  --bg-item-form: #f5f7f9;
  --bg-post: #ffffff;
  --shadow-post: 0px 8px 16px rgba(13, 76, 211, 0.16);
}

[data-theme="dark"] {
  --primary-color: #ffffff;
  --secondary-color: #b9c7d6;
  --light-gray-color: #939fac;
  --dark-gray-color: #939fac;
  --primary-bg: #283038;
  --secondary-bg: #283038;
  --switch-bg: #ffffff;
  --switch-button: #283038;
  --primary-svg-icon: #001760;
  --secondary-svg-icon: #001760;
  --tertiary-svg-icon: #001760;
  --safe-svg-icon: #003cda;
  --accordion-bg: #394049;
  --accordion-border: #3d4651;
  --btn-white-bg: #283038;
  --btn-blue-border: #b9c7d6;
  --btn-blue-bg: #323b44;
  --btn-blue-bg-hover: #b9c7d6;
  --btn-blue-color: #a3b4c7;
  --bg-form: #dcebff;
  --shadow-form: rgba(21, 26, 32, 0.3);
  --bg-item-form: #ffffff;
  --bg-post: #3D4651;
  --shadow-post: 0px 12px 20px rgba(0, 0, 0, 0.1);
}
