.lend-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  height: 100%;
  width: $page-max-width;

  margin-left: auto;
  margin-right: auto;

  .lend-page-main {
    margin-top: 5rem;
  }
}
