footer {
  padding: 90px 0;
  .footer-social {
    width: calc(100% / 12 * 5);
    .social {
      margin-bottom: 60px;
      display: flex;
      a {
        display: flex;
        &:hover {
          circle,
          ellipse {
            fill: $primary-color-hover;
          }
        }
        svg {
          width: 100%;
        }
        @media (min-width: 992px) {
          width: 56px;
          &:not(:last-child) {
            margin-right: 15px;
          }
        }
        @media (max-width: 991px) {
          width: 48px;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
    .logo {
      margin-bottom: 25px;
    }
    .data-protocol {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .data-year {
      font-size: 14px;
      p {
        margin-right: 15px;
      }
      a {
        color: $green-color;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
  .footer-menu {
    display: flex;
    align-items: baseline;
    width: calc(100% / 12 * 7);
  }
  .column-menu {
    display: flex;
    flex-wrap: wrap;
    &:not(:last-child) {
      width: 35%;
    }
    &:last-child {
      width: 30%;
    }
  }
  .title-menu {
    font-size: 20px;
    line-height: 1.5;
    margin: 13px auto 35px auto;
    width: 100%;
  }
  .list-menu {
    a {
      display: block;
      font-weight: 600;
      color: $primary-color;
      line-height: 1.25;
      &:hover {
        color: $primary-color-hover;
      }
      &:not(:last-child) {
        @media (min-width: 768px) {
          margin-bottom: 20px;
        }
        @media (max-width: 767px) {
          margin-bottom: 15px;
        }
      }

      @media (min-width: 992px) {
        font-size: 16px;
      }
      @media (max-width: 991px) {
        font-size: 14px;
      }
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}
