*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //height: 100%;
  min-height: 100%;
  min-width: 100%;
}

body {
  height: 100%;
}
#root {
  height: 100%;
  .ReactModal__Body--open & {
    filter: blur(13px);
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
  }
}
.pages-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

input {
  font-family: 'Muli', sans-serif;
  border: solid 2px rgba(169, 181, 199, 0.2);

  color: $color-gray;
  background-color: $bg-color-gray;

  &:hover {
    color: $color-gray;
    background-color: #ececf0;
  }

  &:active {
    color: $color-gray-dark;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
    color: $color-gray-dark;
    background-color: $color-white;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

input::placeholder {
  color: $color-gray;
}
