@media screen and (max-width: $mobile-version-max-width) {
  .modal-content-div {
    display: inline-block;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 0.5rem;
    box-shadow: 0 16px 80px 0 rgba(59, 54, 75, 0.2);
    background-color: #ffffff;

    &:focus {
      outline: none;
    }
  }
}
