*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //height: 100%;
  min-height: 100%;
  min-width: 100%;

  background-color: var(--primary-bg);
}

body,
#root {
  height: 100%;
}

.pages-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  font-family: 'Muli', sans-serif;
}

button {
  font-family: 'Muli', sans-serif;
}

button:disabled {
  cursor: not-allowed;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.pages-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  width: $container-desktop;
  box-sizing: border-box;
  height: 100vh;

  @media screen and (max-width: $breakpoint-desktop-max) {
    width: $container-laptop;
  }

  @media screen and (max-width: $breakpoint-laptop-max) {
    width: $container-mobile;

    > * {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.message-wrong-network {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-text);
  padding-bottom: 1.5rem;
}

.max-percent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
cursor: pointer;
  width: 56px;
  height: 32px;
  left: 351px;
  top: 365px;

  background: var(--max-percent-bg);
  border-radius: 24px;
  color: var(--max-percent-color);
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  @media screen and (max-width: $mobile-version-max-width) {
    font-size: 10px;
    width: 46px;
    height: 24px;
  }
}
