*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //height: 100%;
  min-height: 100%;
  min-width: 100%;

  background-color: var(--primary-bg);
}

body, #root {
  height: 100%;
}

.pages-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}


input {
  font-family: "Open Sans", sans-serif;
}

button{
  font-family: "Muli", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.pages-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  width: $container-desktop;
  box-sizing: border-box;

  @media screen and (max-width: $breakpoint-desktop-max) {
    width: $container-laptop;
  }

  @media screen and (max-width: $breakpoint-laptop-max) {
    width: $container-mobile;
    > div{
      padding: 0 15px;
    }
  
  }
}
