.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  font-size: 12px;
  line-height: 1.5;
  color: #758295;
  @media screen and (max-width: $mobile-version-max-width) {
    flex-direction: column-reverse;
  }
  a {
    text-decoration: none;
    color: #00c0ab;
  }
  .footer-version {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: $mobile-version-max-width) {
      justify-content: center;
      margin-top: 15px;
    }
  }
  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: $mobile-version-max-width) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .footer-menu__item {
      @media screen and (max-width: 450px) {
        &:not(:last-child) {
          margin-bottom: 10px;
        }        
        &:nth-child(3) {
          margin-right: 0;
        }
        &:last-child {
          text-align: center;
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  .footer-menu__item {
    &:not(:first-child) {
      margin-left: 15px;
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
