@media screen and (max-width: $mobile-version-max-mobile) {
  .header-menu {
    flex-direction: column;
    padding: 1.25rem 0 1.25rem 0;
  }

  .header-menu__item {
    text-align: center;
    padding-bottom: 15px;
    &:not(:first-child) {
      padding-top: 15px;
      margin-left: 0;
    }
    &:not(:last-child) {      
      margin-right: 0;
    }
    .header-menu__item-link {
      font-size: 26px;
    }
    a {
      &.header-menu__item-link--active {
        font-size: 26px;
        .header-menu__item-link__accent-container {
          .header-menu__item-link__accent {
            height: 56px;
            width: 8px;
            left: -19px;
            right: auto;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
