.header-logo {
  display: inline-block;
  height: 100%;

  a {
    display: block;
    height: 100%;
  }
  .header-logo-full {
    svg {
      max-width: 190px;
      max-height: 44px;
    }
  }
  .header-logo-partial {
    display: none;
  }
  @media only screen and (max-width: $breakpoint-laptop-max) and (min-width: $breakpoint-mobile-min) {
    .header-logo-partial {
      display: block;
    }
    .header-logo-full {
      display: none;
    }
  }
}

.header-logo.bsc {
  .header-logo-full {
    position: relative;
  }

  .bsc-logo {
    position: absolute;
    left: 145px;
    bottom: -1px;
  }
}

@media screen and (min-width: $breakpoint-mobile-max) {
  .header-logo.bsc {
    .bsc-logo {
      left: 0;
      bottom: 51px;
    }
  }
}

@media screen and (min-width: $breakpoint-laptop-min) {
  .header-logo.bsc {
    .bsc-logo {
      left: 64px;
      bottom: -24px;
    }
  }
}
