@media only screen and (max-width: $breakpoint-mobile-max) {
  .header {
    margin-top: 20px;
    padding-top: 0;
    margin-bottom: 40px;
    .header__row {
      align-items: center;
      .header__left {
        z-index: 10001;

        flex: initial;
        width: calc(100% - 110px);
        .header-logo svg {
          height: 32px;
          width: 138px;
        }
      }
      .header__center {
        display: none;
      }

      .header_icon {
        z-index: 10001;
        padding-right: 10px;
      }
    }

    .header_btn {
      margin-bottom: 40px;
      margin-top: 60px;
    }

    .sidebar_h {
      position: relative;
      display: none;
      animation: animateright 0.4s;
    }

    @keyframes animateright {
      from {
        right: 300px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }
    .sidebar_v {
      position: fixed;
      display: block;
      width: 100vw;
      height: 100vh;
      padding-top: 50px;
      background-color: #fff;
      animation: animateright 0.4s;
      z-index: 1000;
      top: 0;
      left: 0;
    }

    @keyframes animateright {
      from {
        right: -500px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }
  }
}
