.header-menu-toggle {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 1.75rem;
  line-height: 3rem;
  cursor: pointer;
}

.header-menu {
  display: flex;
}

.header-menu__item {
  position: relative;
  @media screen and ( min-width: $mobile-version-max-mobile) {
    &:not(:first-child) {
      margin-left: 35px;
    }
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  @media screen and ( max-width: $breakpoint-max-lg) {
    &:not(:first-child) {
      margin-left: 15px;
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  a {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    text-decoration: none;
    color: #00c0ab;

    &.header-menu__item-link--active {
      .header-menu__item-link__accent-container {
        .header-menu__item-link__accent {
          height: 8px;
          width: 70px;
          border-radius: 6px;
          background-color: #276bfb;
          position: absolute;
          top: -66px;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }

    /*.header-menu__item-link__accent-container {
      .header-menu__item-link__accent {
        height: 8px;
        width: 70px;
        border-radius: 6px;
        background-color: #276BFB;
      }
    }*/
  }
}
