@media screen and (max-width: $mobile-version-max-mobile) {
  .header {
    padding-top: 15px;
    margin-bottom: 1rem;
    .header__row {
      display: flex;
      //flex-direction: row;

      /*.header__left {
        //width: 100%;
        float: left;
      }*/
      .header__center {
        display: none;
      }
      .toggle_icon {
        display: flex;
      }
    }
    .heade_nav_menu {
      margin-top: 40px;
      text-align: center;
    }
    .header_btn{
      text-align: center;
    }
    .header__provider {
      display: none;
    }
    .sidebar_h {
      position: relative;
      display: none;
      //animation: animateright 0.4s;
    }

    /*@keyframes animateright {
      from {
        right: 300px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }*/
    .sidebar_v {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px;
      background-color: #ffffff;
      //animation: animateright 0.4s;
      z-index: 10;
      .sidebar_header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .header-logo{
          svg{
            width: 140px;
          }
        }
      }
      .sidebar_content{
        .help__item{
          text-decoration: none;
          font-size: 26px;
          font-weight: 600;
          color: #276bfb;
          padding-top: 15px;
        }
      }
      .sidebar_footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        a {
          text-decoration: none;
          color: #00c0ab;
        }
        .footer-version {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          color: #8992a4;
          font-size: 12px;
          margin-bottom: 30px;
          .footer-menu__item{
            &:first-child{
              margin-right: 5px;
            }
          }
        }
        .footer-menu{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .footer-menu__item{
            margin-bottom: 15px;
            &:not(:last-child){
              margin-right: 15px;
            }
          }
        }
      }
    }

    @keyframes animateright {
      from {
        right: -500px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }

    //.sidebar{
    //  z-index: 2;
    //  position: absolute;
    //  top: 0px;
    //  bottom: 0px;
    //  transition: -webkit-transform 0.5s ease-out 0.5s;
    //   -webkit-animation-delay: 2s;
    //  animation: slide 0.5s forwards;
    //  animation-delay: 2s;
    //  will-change: transform;
    //  overflow-y: auto;
    //  left: 0px;
    //  transform: translateX(0%);
    //  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
    //}
    //.sidebar_v{
    //  z-index: 1; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; opacity: 1; visibility: visible; transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s; background-color: rgba(0, 0, 0, 0.3);
    //}
    //.sidebar_h{
    //  z-index: 1; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; opacity: 0; visibility: hidden; transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s; background-color: rgba(0, 0, 0, 0.3);
    //}
  }
}
