.header-menu-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  height: 100%;
  width: 1.75rem;
  line-height: 3rem;

  cursor: pointer;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.header-menu__item {
  @media screen and (min-width: $breakpoint-desktop-min) {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (max-width: $breakpoint-desktop-max) {
    margin-right: 45px;
  }

  a,
  span {
    position: relative;

    text-decoration: none;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;

    margin-left: auto;
    margin-right: auto;
    display: block;

    .icon-external {
      position: absolute;
      top: -6px;
      left: -16px;
    }
    &:hover .icon-external svg path {
      stroke: #33dfcc;
    }

    &.header-menu__item-link--active {
      &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 8px;
        margin: auto;
        background-color: #276bfb;
        top: -66px;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 6px;
      }
    }
  }
}
