.header-logo {
  a {
    display: flex;
    &:hover{
      cursor: pointer;
    }
  }
}
@media screen and (max-width: $mobile-version-max-mobile) {
  .header-logo {
    svg{
      width: 140px;
      height: auto;
    }
  }
}