@media only screen and (max-width: $mobile-version-max-width) {
  .header {
    margin-top: 15px;
    padding-top: 0;
    margin-bottom: 0;
    .header__row {
      align-items: center;
      .header__left {
        z-index: 10001;

        flex: initial;
        width: calc(100% - 110px);
      }
      .header__center {
        display: none;
      }

      .header__right {
      }
      .header__menu {
      }
      .header_icon {
        z-index: 10001;
      }
    }
    .header-menu__item {
      font-family: "Muli";
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 150%;
    }
    .header-menu__item:not(:last-child) {
      margin-bottom: 45px;
    }

    .header-menu__item {
      .header-menu__item-link--active:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 60px;
        margin: auto;
        background-color: #276bfb;
        top: 50%;
        left: -4px;
        -webkit-transform: translate(-50%, 0);
        transform: translate(0, -50%);
        border-radius: 6px;
      }
    }

    .header__popup-container {
      height: 625px;
    }

    .header_btn {
      margin-bottom: 40px;
    }
    .heade_nav_menu {
    }
    .header__provider {
      display: none;
    }
    .sidebar_n {
      width: 300px;
    }

    .sidebar_h {
      position: relative;
      display: none;
      animation: animateright 0.4s;
    }

    @keyframes animateright {
      from {
        right: 300px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }
    .sidebar_v {
      position: fixed;
      display: block;
      width: 100vw;
      height: 100vh;
      padding-top: 100px;
      background-color: #fff;
      animation: animateright 0.4s;
      z-index: 1000;
      top: 0;
      left: 0;
    }

    @keyframes animateright {
      from {
        right: -500px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }
  }
}
