@media screen and (max-width: $breakpoint-mobile-max) {
  .header-menu {
    flex-direction: column;
  }

  .header-menu__item {
    width: 100%;
    font-size: 26px;
    line-height: 150%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    a,
    span {
      font-weight: 600;
      font-size: 26px;
      line-height: 150%;

      &.header-menu__item-link--active {
        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 60px;
          margin: auto;
          background-color: #276bfb;
          top: 50%;
          left: -4px;
          transform: translate(0, -50%);
          border-radius: 6px;
        }
      }
    }
  }
}
