@mixin page-layout() {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    width: $container-desktop;
    box-sizing: border-box;

    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 40px;
        .page-header {
            margin-bottom: 45px;
            h1 {
                font-weight: 900;
                font-size: 52px;
                line-height: 140%;
                text-align: center;
                color: #283049;
                margin-bottom: 10px;
            }
            p {
                font-weight: normal;
                font-size: 15px;
                line-height: 180%;
                text-align: center;
                color: #758295;
            }
        }
    }

    @media screen and (max-width: $breakpoint-desktop-max) {
        width: $container-laptop;
    }

    @media screen and (max-width: $breakpoint-laptop-max) {
        width: $container-mobile;
        padding: 0 15px;
    }

    @media screen and (max-width: $breakpoint-mobile-max) {
        main {
            .page-header {
                margin-bottom: 15px;
                h1 {
                    font-size: 40px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 13px;
                }
            }
        }
    }
}
