footer {
    @media screen and (min-width: $breakpoint-md-up) {
      padding: 85px 0;
    }
    @media screen and (max-width: $breakpoint-md-down) {
      padding: 45px 0;
    }
    .bzx-logo {
      @media screen and (min-width: $breakpoint-sm-up) {
        max-width: 140px;
      }
      @media screen and (max-width: $breakpoint-sm-down) {
        max-width: 100px;
      }
    }
    .list-footer {
      a {
        display: block;
        font-weight: 600;
        color: #276bfb;
        line-height: 1.25;
        &:hover {
          color: #5b88ff;
        }
  
        @media screen and (min-width: $breakpoint-md-up) {
          font-size: 16px;
        }
        @media screen and (max-width: $breakpoint-md-down) {
          font-size: 14px;
        }
        @media screen and (min-width: $breakpoint-sm-up) {
          margin-bottom: 20px;
        }
        @media screen and (max-width: $breakpoint-sm-down) {
          margin-bottom: 15px;
          font-size: 12px;
        }
      }
    }
    .item-link {
      display: flex;
      &:hover {
        circle, ellipse {
          fill: #5b88ff;
        }
      }
      svg {
        width: 100%;
      }
      @media screen and (min-width: $breakpoint-md-up) {
        margin-right: 15px;
        width: 56px;
      }
      @media screen and (max-width: $breakpoint-md-down) {
        margin-right: 10px;
        width: 48px;
      }
    }
  }
  