/* -- posts blog of bzx -- */
.item-blog {
  background-color: var(--bg-post);
  border-radius: 16px;
  @media (max-width: 767px) {
    max-width: 350px;
    margin: 0 auto 20px auto;
  }
  &:hover {
    cursor: pointer;
    box-shadow: var(--shadow-post);
  }
  .item-blog-header {
    img {
      border-radius: 16px 16px 0 0;
      max-width: 100%;
    }
  }
  .item-blog-body {
    padding: 0 20px 25px 20px;
  }
}
.apr-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
  @media (max-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 479px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.wrap-apr-value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.apr-value-after {
  position: relative;
  &:after {
    content: "APR";
    position: absolute;
    font-size: 10px;
    color: #8992a4;
    top: 4px;
    right: -21px;
  }
}
.item-safe {
  text-align: center;
  p {
    margin-bottom: 10px;
    text-align: center;
    @media (max-width: 579px) {
      font-size: 12px;
    }
  }
  .icon-safe {
    display: flex;
    justify-content: center;
    svg {
      @media (min-width: 580px) {
        width: 120px;
      }
      @media (max-width: 579px) {
        width: 80px;
      }
    }
  }
}
.item-reason {
  width: 50%;
  display: flex;
  margin-bottom: 75px;
  .icon-reason {
    margin-right: 40px;
    svg {
      @media (min-width: 580px) {
        width: 120px;
      }
      @media (max-width: 579px) {
        width: 80px;
      }
    }
  }
  .content-reason {
    margin-top: 60px;
  }
}
.wrapper-stats {
  font-size: 44px;
  /*background-image: url(/images/bg-stats.svg);
  background-repeat: no-repeat;
  background-size: cover;*/
  border-radius: 16px;
  color: #ffffff;
  position: relative;
  display: flex;
  width: 100%;
  //padding: 40px;
  background-color: #00a1fc;
  h2 {
    color: #ffffff;
    width: calc(100% / 3);
    position: relative;
    padding: 40px 0 40px 40px;
    z-index: 2;
  }
  .item-stats {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    padding: 40px 0 40px 40px;
    position: relative;
    &:not(:last-child) {
      &:after {
        content: "";
        position: absolute;
        width: 166px;
        height: 166px;
        background-image: url(/images/after-stats.svg);
        top: 0;
        right: 0;
      }
    }
    &:last-child {
      background-color: #8e7df7;
      border-radius: 0 16px 16px 0;
    }
    > span {
      font-size: 16px;
      color: #33dfcc;
      margin-bottom: 15px;
    }
  }
}
.lend-count {
  background-color: #276bfb;
  border-radius: 50%;

  line-height: 1.5;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: absolute;

  z-index: 3;
  @media (min-width: 992px) {
    left: -32px;
  }
  @media (max-width: 991px) {
    left: 0;
    right: 0;
    margin: auto;
  }
  @media (min-width: 768px) {
    width: 60px;
    height: 60px;
    border: 8px solid var(--secondary-bg);
    top: -32px;
    font-size: 18px;
  }
  @media (max-width: 767px) {
    width: 48px;
    height: 48px;
    border: 5px solid var(--secondary-bg);
    top: -28px;
    font-size: 16px;
  }
}
