/* -- posts blog of bzx -- */
.item-blog {
  background-color: var(--bg-post);
  border-radius: 16px;
  @media screen and (max-width: $breakpoint-sm-down) {
    max-width: 350px;
    margin: 0 auto 20px auto;
  }
  &:hover {
    cursor: pointer;
    box-shadow: var(--shadow-post);
  }
  .item-blog-header {
    img {
      border-radius: 16px 16px 0 0;
      max-width: 100%;
    }
  }
  .item-blog-body {
    padding: 0 20px 25px 20px;
  }
}
.apr-title{
  padding-right: 30px;
  @media screen and (min-width: $breakpoint-xl-up){
    width: 535px;
  }
  @media screen and (max-width: $breakpoint-xl-down){
    width: 415px;
  }
  @media screen and (max-width: $breakpoint-lg-down) {
    width: 75%;
    margin-bottom: 30px;
  }
}
.apr-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  @media screen and (min-width: $breakpoint-lg-up){
    margin-top: 60px;
  }
  @media screen and (max-width: $breakpoint-lg-down) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: $breakpoint-md-down) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: $breakpoint-sm-down) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 479px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.wrap-apr-value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p{
    text-transform: uppercase;
  }
}
.apr-value-after {
  position: relative;
  &:after {
    content: "APR";
    position: absolute;
    font-size: 10px;
    color: #8992a4;
    top: 4px;
    right: -21px;
  }
}
.item-safe {
  text-align: center;
  p {
    margin-bottom: 10px;
    text-align: center;
    @media screen and (max-width: $breakpoint-xs-down) {
      font-size: 12px;
    }
  }
  .icon-safe {
    display: flex;
    justify-content: center;
    svg {
      @media screen and (min-width: $breakpoint-md-up) {
        width: 120px;
      }
      @media screen and (max-width: $breakpoint-md-down) {
        width: 80px;
      }
    }
  }
}
.item-reason {
  display: flex;  
  @media(min-width: $breakpoint-sm-up){
    width: 50%;
    margin-bottom: 75px;
  }
  @media(max-width: $breakpoint-sm-down){
    flex-direction: column;
    margin-bottom: 45px;
  }
  .icon-reason {    
    @media screen and (min-width: $breakpoint-md-up) {
      margin-right: 40px;
    }
    @media screen and (max-width: $breakpoint-md-down) {
      margin-right: 20px;
    }
    svg {
      @media screen and (min-width: $breakpoint-md-up) {
        width: 120px;
      }
      @media screen and (max-width: $breakpoint-md-down) {
        width: 80px;
      }
    }
  }
  .content-reason {
    @media screen and (min-width: $breakpoint-md-up) {
      margin-right: 60px;
    }
    @media screen and (max-width: $breakpoint-md-down) {
      margin-right: 20px;
    }
  }
}
.wrapper-stats {
  font-size: 44px;
  border-radius: 16px;
  color: #ffffff;
  position: relative;
  display: flex;
  width: 100%;
  background-color: #00a1fc;
  @media screen and (max-width: $breakpoint-md-down){
    flex-direction: column;
    text-align: center;
  }
  @media screen and (max-width: $breakpoint-xs-down){
    font-size: 36px;
    text-align: left;
  }
  h2 {
    color: #ffffff;
    position: relative;
    z-index: 2;    
    @media screen and (min-width: $breakpoint-lg-up){
      padding: 40px 0 40px 40px;
    }
    @media screen and (max-width: $breakpoint-lg-down){
      padding: 40px 0 40px 20px;
    }
    @media screen and (min-width: $breakpoint-md-up){
      width: calc(100% / 3);
      min-width: calc(100% / 3);
    }
    @media screen and (max-width: $breakpoint-md-down){
      padding: 30px 0;
    }
    @media screen and (max-width: $breakpoint-sm-down){
      font-size: 28px;
      padding: 30px 0 30px 40px;
    }
  }
  .item-stats {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    position: relative;
    @media screen and (min-width: $breakpoint-lg-up){
      padding: 40px 0 40px 40px;
    }
    @media screen and (max-width: $breakpoint-lg-down){
      padding: 40px 0 40px 0;
    }
    @media screen and (min-width: $breakpoint-md-up){
      width: calc(100% / 3);
    }
    @media screen and (max-width: $breakpoint-md-down){
      padding: 0;
    }
    @media screen and (max-width: $breakpoint-sm-down){
      padding-left: 40px;
    }
    &:not(:last-child){
      background-repeat: no-repeat;
      background-size: contain;
      @media screen and (min-width: $breakpoint-md-up){
        background-image: url(/images/bg-stats.svg);
        background-position: 100% 0;
      }
      @media screen and (max-width: $breakpoint-md-down){
        background-image: url(/images/bg-stats-mobile.svg);
        background-position: 0 100%;
        padding-bottom: 60px;
      }
    }
    &:last-child {
      background-color: #8e7df7;    
      @media screen and (min-width: $breakpoint-md-up){
        border-radius: 0 16px 16px 0;
      }
      @media screen and (max-width: $breakpoint-md-down){
        border-radius: 0 0 16px 16px;
        padding-bottom: 30px;
      }
    }
    > span {      
      color: #33dfcc;
      margin-bottom: 15px;
      @media screen and (min-width: $breakpoint-sm-up){
        font-size: 16px;
      }
      @media screen and (max-width: $breakpoint-sm-down){
        font-size: 14px;
      }
    }
  }
}
.lend-count {
  background-color: #276bfb;
  border-radius: 50%;

  line-height: 1.5;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: absolute;

  z-index: 3;
  @media screen and (min-width: $breakpoint-md-up) {
    left: -32px;
  }
  @media screen and (max-width: $breakpoint-md-down) {
    left: 0;
    right: 0;
    margin: auto;
  }
  @media screen and (min-width: $breakpoint-sm-up) {
    width: 60px;
    height: 60px;
    border: 8px solid var(--secondary-bg);
    top: -32px;
    font-size: 18px;
  }
  @media screen and (max-width: $breakpoint-sm-down) {
    width: 48px;
    height: 48px;
    border: 5px solid var(--secondary-bg);
    top: -28px;
    font-size: 16px;
  }
}

.triangle, .cube{
  position: relative;
  span{
    position: absolute;
    &.l-r-125{
      left: -125px;
    }
    &.t-r-55{
      top: -55px;
    }
    &.t-r-75{
      top: -75px;
    }
    &.r-r-75{
      right: -75px;
    }

    &.center{
      left: 0;
      right: 0;
      margin: auto;
    }
    @media screen and (max-width: $breakpoint-xs-down){
      &.center-xs{
        left: 0;
        right: 0;
        margin: auto;
      }
      &.t-r-xs-50{
        top: -50px
      }
      &.t-r-xs-75{
        top: -75px
      }
      &.l-r-xs-5{
        left: 5px;
      }
    }
  }
}
.big-triangle{
  @media screen and (max-width: $breakpoint-xs-down){
    svg{
      width: 42px;
    }
  }
}
.small-triangle{
  @media screen and (max-width: $breakpoint-xs-down){
    svg{
      width: 50px;
    }
  }
}