.html-landing-page-active {
  background-size: 1920px 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/images/bg.png");
  height: 100%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  max-width: $page-max-width;
  padding: $page-padding;

  .landing-page__main {
    .landing-page__jumbo {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 50.5rem;
      text-align: center;

      h1 {
        margin-bottom: 5.75rem;

        .landing-page__jumbo-header {
          font-size: 6.75rem;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.25;
          letter-spacing: normal;
          color: #ffffff;
        }
      }

      .landing-page__jumbo-action-container {
        .landing-page__jumbo-action {
          display: inline-block;
          width: 16rem;

          &:first-child {
            margin-right: 2rem;
          }

          &:last-child {
            margin-left: 2rem;
          }

          .landing-page__jumbo-action-button {
            display: inline-block;
            position: relative;
            line-height: 4.5rem;
            height: 4.5rem;
            width: 12.5rem;
            margin-bottom: 2rem;

            border-width: 0;
            border-radius: 100px;
            background-image: linear-gradient(to right, #00b4af, #2c69b2);

            $border: 0.5rem;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: -1;
              margin: -$border;
              border-radius: inherit;
              opacity: 0.2;
              background: linear-gradient(to right, #00b4af, #2c69b2);
            }

            font-size: 1rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: -0.4px;
            text-align: center;
            color: #ffffff;

            text-decoration: none;

            cursor: pointer;

            &:focus {
              outline: none;
            }
          }

          .landing-page__jumbo-action-description {
            font-size: 1.25rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: -0.2px;
            text-align: center;
            color: #ffffff;
            word-wrap: break-word;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 0;
  }
}
