.stats-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  width: $container-desktop;
  padding: 0 15px;
}



@media only screen and (max-width: 1140px){
  .stats-page {
    width: calc(100% - 30px);
  }
}
@media only screen and (max-width: $mobile-version-width-sm) {
  .stats-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    flex-shrink: 0;
  }
  .trade-page-header{
    width: $container-mobile;
    margin: auto;
  }

}
