.trade-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  height: 100%;
  width: $page-max-width;
  padding: $page-padding;
  flex-shrink: 0;
}

@media only screen and (max-width: $mobile-version-width-sm) {
  .trade-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;

    height: 100%;
    width: 100%;
    padding: 2px;
    flex-shrink: 0;
  }
  .trade-page-header{
    width: 90%;
    margin: auto;
  }

}
