.trade-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  //@at-root: 100%;
  width: $container-desktop;
  padding: 0 15px;
  flex-shrink: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 1279px){
  .trade-page {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}
@media(max-width: $max-lg){
  .trade-page {
    width: 100%;
    padding: 0;
    .header{
      padding: 0 15px;
    }
  }
}
@media only screen and (max-width: $mobile-version-width-sm) {
  .trade-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;

    height: 100%;
    flex-shrink: 0;
  }
  .trade-page-header{
    width: $container-mobile;
    margin: auto;
  }

}



.burn-form__container{
  background-color: var(--primary-row);
  color: var(--primary-text);
  margin-top: 15px;
  @media(min-width: 960px){
    padding: 25px 40px;
  }
  .burner-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media(max-width: 991px){
      flex-direction: column;
    }
    input {
      min-height: 52px;
      border: none;
      background-color: var(--select-bg);
      outline: none;
      border-radius: 43px;
      padding-left: 15px;
      color: var(--primary-text);
      width: 260px;
      font-size: 16px;
    }
    button {
      background: #00c0ab;
      font-family: "Muli", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
      display: inline-block;
      cursor: pointer;
      letter-spacing: 0.05em;
      border: 0;
      border-radius: 43px;
      text-transform: uppercase;
      font-style: normal;
      color: #ffffff;
      outline: none;
      padding: 14px 20px;
      &:hover {
        background-color: #33dfcc;
      }
    }
    a{
      color: #00c0ab;
      &:hover {
        color: #33dfcc;
      }
    }
    @media(min-width: 960px){
      > * {
        margin-right: 20px;
      }
    }
  }
}
