@import "../abstracts/variables";

@media screen and (max-width: $breakpoint-laptop-max) {
  .trade-page {
    padding: 0;
  }
}
@media only screen and (max-width: $mobile-version-width-sm) {
  .trade-page-header {
    width: $container-mobile;
    margin: auto;
  }
}
