.asset-selector-section {
  padding-top: 60px;
  padding-bottom: 45px;
}
.asset-selector-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $width-min-lg) {
    width: 1140px;
  }
  @media screen and (max-width: $width-max-lg) and (min-width: $width-min-md) {
    width: 825px;
  }
  @media screen and (max-width: $width-max-md) and (min-width: $width-min-sm) {
    width: 735px;
  }
  @media screen and (max-width: $width-max-sm) {
    justify-content: space-between;
  }
}

.asset-selector-item {
  background-color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 18px 50px rgba(89, 112, 133, 0.2);
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  max-width: 255px;
  animation: hoverOut 0.2s;

  &:hover {
    border-color: #5b88ff;
    animation: hoverIn 0.2s;
    box-shadow: 0px 24px 50px rgba(89, 112, 133, 0.3);
    transform: translateY(-8px);
  }
  @keyframes hoverIn {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-8px);
    }
  }
  @keyframes hoverOut {
    from {
      transform: translateY(-8px);
    }

    to {
      transform: translateY(0);
    }
  }

  @media screen and (min-width: $width-min-lg) {
    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: $width-min-md) {
    max-width: 255px;
  }
  @media screen and (max-width: $width-max-lg) and (min-width: $width-min-sm) {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
  @media screen and (max-width: $width-max-lg) and (min-width: $width-min-sm) {
    width: calc(100% / 3 - 20px);
  }
  @media screen and (max-width: $width-max-sm) {
    width: calc(50% - 10px);
    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
  }
}
.asset-selector-item-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.asset-selector-icon {
  display: flex;
  @media screen and(min-width: $width-min-xs) {
    padding-left: 24px;
  }
  @media screen and(max-width: $width-max-xs) {
    padding-left: 15px;
    svg {
      width: 30px;
      height: auto;
    }
  }
}
.asset-selector-name {
  line-height: 1;
  font-weight: 900;
  color: #283049;
  @media screen and(min-width: $width-min-xs) {
    font-size: 22px;
    padding: 9px 0 9px 16px;
  }
  @media screen and(max-width: $width-max-xs) {
    font-size: 18px;
    padding: 9px 0 9px 8px;
  }
}
.asset-selector-locked,
.asset-selector-apr {
  display: flex;
  color: #8992a4;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  @media screen and(min-width: $width-min-xs) {
    padding-left: 80px;
  }
  @media screen and(max-width: $width-max-xs) {
    padding-left: 54px;
  }
  .value {
    font-weight: 800;
  }
}
.asset-selector-chart {
  width: 85%;
  overflow: hidden;
  height: 70px;
  margin-top: -10px;
  margin-left: -1px;
  // @media screen and (max-width: $width-max-xs) {
  //   height: 55px;
  // }
  canvas {
    margin-top: -20px;
    width: calc(100% + 11px) !important;

    @media screen and (max-width: $width-max-sm) {
      margin-top: -15px;
      width: calc(100% + 6px) !important;
    }
  }
}
