button {
  font-family: "Muli", sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
  &.action {
    width: 100px;
    height: 32px;
    background-color: $primary-color;
    border-radius: 22px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    &:hover {
      background-color: $primary-color-hover;
    }
  }
}
.group-button {
  display: flex;
  margin-top: 30px;
  button {
    background-color: transparent;
    color: $primary-color;
    padding: 8px 13px;
    font-weight: 600;
    &.active {
      background-color: $primary-color;
      border-radius: 25px;
      color: #ffffff;
    }
  }
}
