.wrapper-chart {
  position: relative;
  // overflow: hidden;
}
#chartjs,
.chartjs,
.chartjs-back {
  z-index: 1000;
  width: calc(100% + 20px);
  margin-left: -10px;
  position: relative;
  max-height: 30vh;

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
.chartjs-back {
  position: absolute;
  z-index: 999;
  @media screen and(min-width: $width-min-sm) {
    top: 10px;
  }
  @media screen and(max-width: $width-max-sm) {
    top: 4px;
  }
  &:before {
    content: "";
    position: absolute;
    background-color: #edf5ff;

    width: 100%;
    @media screen and(min-width: $width-min-sm) {
      top: -10px;
      height: 10px;
    }
    @media screen and(max-width: $width-max-sm) {
      top: -4px;
      height: 4px;
    }
  }
}
#chartjs-tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  tbody {
    display: flex;
    flex-direction: column;
    &.bottom {
      tr:first-child {
        order: 3;
      }
      tr:last-child {
        order: -1;
      }
    }
    tr {
      display: flex;
      flex-direction: column;
    }
    &.right {
      tr {
        justify-content: flex-end;
        .chartjs-tooltip-change24 {
          padding-right: 10px;
        }
      }
    }
  }
  .chartjs-tooltip-value {
    font-family: "Muli", sans-serif;
    color: #283038;
    font-size: 30px;
    @media screen and (max-width: $width-max-sm) {
      font-size: 18px;
    }
    span {
      font-weight: 800;
    }
  }
  .chartjs-tooltip-time {
    font-family: "Muli", sans-serif;
    font-size: 14px;
    color: #8992a4;
    text-align: left;
    @media screen and (max-width: $width-max-sm) {
      font-size: 12px;
    }
  }
  .chartjs-tooltip-change24 {
    position: relative;
    font-family: "Muli", sans-serif;
    span {
      font-size: 16px;
      font-weight: 700;
      @media screen and (max-width: $width-max-sm) {
        font-size: 12px;
      }
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-radius: 3px;
        position: absolute;
        top: 9px;
      }
    }

    &:before {
      content: "";
      width: 1px;
      position: absolute;
      @media screen and(min-width: $width-min-sm) {
        height: 50px;
      }
      @media screen and(max-width: $width-max-sm) {
        height: 20px;
      }
    }
    &:after {
      content: "";
      border-radius: 50%;
      position: absolute;
      @media screen and(min-width: $width-min-sm) {
        width: 13px;
        height: 13px;
        border: 4px solid #edf5ff;
      }
      @media screen and(max-width: $width-max-sm) {
        width: 8px;
        height: 8px;
        border: 2px solid #edf5ff;
      }
    }
    &.top {
      &:before {
        @media screen and(min-width: $width-min-sm) {
          top: -47px;
        }
        @media screen and(max-width: $width-max-sm) {
          top: -12px;
        }
      }
      &:after {
        @media screen and(min-width: $width-min-sm) {
          bottom: 68px;
        }
        @media screen and(max-width: $width-max-sm) {
          bottom: 32px;
        }
      }
    }
    &.bottom {
      &:before {
        @media screen and(min-width: $width-min-sm) {
          bottom: -47px;
        }
        @media screen and(max-width: $width-max-sm) {
          bottom: -24px;
        }
      }
      &:after {
        @media screen and(min-width: $width-min-sm) {
          top: 69px;
        }
        @media screen and(max-width: $width-max-sm) {
          top: 40px;
        }
      }
    }
    &.down {
      color: $red-color;
      span {
        &:before {
          border-width: 6px 4.5px 0 4.5px;
          border-color: $red-color transparent transparent transparent;
        }
      }
      &:before,
      &:after {
        background-color: $red-color;
      }
    }
    &.up {
      color: $green-color;
      span {
        &:before {
          border-width: 0 4.5px 6px 4.5px;
          border-color: transparent transparent $green-color transparent;
        }
      }
      &:before,
      &:after {
        background-color: $green-color;
      }
    }
    &.left {
      span {
        padding-left: 10px;
        &:before {
          left: 1px;
        }
      }
      &:before {
        left: 5px;
      }
      &:after {
        @media screen and(min-width: $width-min-sm) {
          left: -5px;
        }
        @media screen and(max-width: $width-max-sm) {
          left: -1px;
        }
      }
    }
    &.right {
      td {
        text-align: right;
        padding-right: 10px;
      }
      span {
        &:before {
          right: -1px;
        }
      }
      &:before {
        right: 3px;
      }
      &:after {
        @media screen and(min-width: $width-min-sm) {
          right: -7px;
        }
        @media screen and(max-width: $width-max-sm) {
          right: -3px;
        }
      }
    }
  }
  .wrapper-chartjs-token & {
    tbody {
      tr {
        &:nth-child(3) {
          order: 4;
        }
        &:first-child {
          order: -2;
        }
        &:last-child {
          order: 3;
        }
        &.active {
          order: -1;
        }
      }
    }
  }
}
.wrapper-chartjs-token {
  position: relative;
  margin: auto;
  @media screen and (min-width: $width-min-lg) {
    width: 1110px;
  }
  @media screen and (max-width: $width-max-lg) {
    width: calc(100% - 30px);
    // min-width: 790px;
    // transform: translateX(-50%);
    // left: 50%;
  }

  .chartjs-tooltip-token {
    opacity: 0;
    position: absolute;
    
    tbody {
      display: flex;
      flex-direction: column;
      padding: 8px 0;
      
  @media screen and (max-width: $width-max-sm) {
    padding: 5px 0;
  }
      tr {
        padding: 5px 0;
       
        @media screen and (max-width: $width-max-sm) {
          padding: 2px 0;
        }
        td {
          line-height: 19px;
        
        }

        span {
          font-size: 20px;

          @media screen and (max-width: $width-max-sm) {
            font-size: 16px;
          }
        }
        .sign-currency {
          color: inherit;
        }
        &.active {
          span {
            font-weight: 600;
            font-size: 24px;
            color: #283038;
            @media screen and (max-width: $width-max-sm) {
              font-size: 20px;
            }
          }
          .sign-currency {
            color: #758295;
          }
        }
        label {
          display: block;
          font-size: 14px;
          color: #8992a4;
          @media screen and (max-width: $width-max-sm) {
            font-size: 12px;
          }
        }
      }
      .chartjs-tooltip-time {
        margin-top: 5px;
        span {
          font-size: 12px;
          font-weight: 600;
        }
      }
      &:before {
        content: "";
        width: 1px;
        height: 35px;
        position: absolute;
      }
      &:after {
        content: "";
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 4px solid #fff;
        background-color: #283049;
        position: absolute;
      }
      &.TVL {
        &:before {
          background-color: #276bfb;
        }
      }
      &.APR {
        &:before {
          background-color: #33dfcc;
        }
      }
      &.Utilization {
        &:before {
          background-color: #b79eff;
        }
      }

      &.bottom {
        &:before {
          top: -25px;
        }
        &:after {
          top: -45px;
        }
        @media screen and (max-width: $width-max-sm) {
          &:before {
            top: -5px;
            height: 12px;
          }
          &:after {
            top: -26px;            
          }
        }    
      }
      &.top {
        &:before {
          bottom: -24px;
        }
        &:after {
          bottom: -46px;          
        }
        @media screen and (max-width: $width-max-sm) {
          &:before {
            bottom: -4px;
            height: 12px;
          }
          &:after {
            bottom: -26px;            
          }
        }       
      }
      &.left {
        margin-left: -10px;
        &:before {
          left: -2px;
        }
        &:after {
          left: -12px;
        }
      }
      &.right {
        &:before {
          right: 14px;
        }
        &:after {
          right: 4px;
        }
        tr td,
        tr th {
          text-align: right;
        }
      }
    }
  }
}
#chartjs-bar {
  canvas {
    width: 100% !important;
  }
}
.wrapper-chartjs-bar {
  position: relative;
  #chartjs-bar-tooltip {
    table {
      background-color: #ffffff;
      box-shadow: 0px 4px 12px rgba(64, 123, 247, 0.2);
      border-radius: 12px;

      position: absolute;
      &:before {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 15px 0 15px;
        border-color: #ffffff transparent transparent transparent;
      }
      tbody {
        display: flex;
        flex-direction: column;
        tr {
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
      .chartjs-bar-tooltip-value {
        font-family: "Muli", sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #283049;
        line-height: 1.2;
        display: flex;
        align-items: center;
        .circle {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 12px;
        }
      }
    }
  }
}
.wrapper-chartjs-doughnut {
  position: relative;
  #chartjs-doughnut-tooltip {
    font-family: "Muli", sans-serif;

    background-color: rgb(40, 48, 73);
    color: #ffffff;
    border-radius: 4px;
    font-size: 12px;
    position: relative;

    tbody {
      display: flex;
      width: 210px;
      max-width: 210px;

      &:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: rgb(40, 48, 73);
        border-width: 8px;
        margin-top: -8px;
      }
      .value {
        color: $healthy-color;
      }
    }
  }
}
