.wrapper-chart {
  position: relative;
  // overflow: hidden;
}
#chartjs,
.chartjs,
.chartjs-back {
  z-index: 1000;
  width: calc(100% + 20px);
  margin-left: -10px;
  position: relative;
  canvas {
    width: 100% !important;
  }
}
.chartjs-back {
  position: absolute;
  top: 10px;
  z-index: 999;
  &:before{
    content: '';
    position: absolute;
    top: -10px;
    background-color: #edf5ff;
    height: 10px;
    width: 100%;
  }
}
#chartjs-tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  tbody {
    display: flex;
    flex-direction: column;
    &.bottom {
      tr:first-child {
        order: 3;
      }
      tr:last-child {
        order: -1;
      }
    }
    tr {
      display: flex;
      flex-direction: column;
    }
    &.right {
      tr {
        justify-content: flex-end;
        .chartjs-tooltip-change24 {
          padding-right: 10px;
        }
      }
    }
  }
  .chartjs-tooltip-value {
    font-family: "Muli", sans-serif;
    color: #283038;
    font-size: 30px;
    span {
      font-weight: 900;
    }
  }
  .chartjs-tooltip-time {
    font-family: "Muli", sans-serif;
    font-size: 14px;
    color: #8992a4;
    text-align: left;
  }
  .chartjs-tooltip-change24 {
    position: relative;
    font-family: "Muli", sans-serif;
    span {
      font-size: 16px;
      font-weight: 700;
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-radius: 3px;
        position: absolute;
        top: 9px;
      }
    }

    &:before {
      content: "";
      width: 1px;
      height: 50px;
      position: absolute;
    }
    &:after {
      content: "";
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 4px solid #edf5ff;
      position: absolute;
    }
    &.top {
      &:before {
        top: -47px;
      }
      &:after {
        bottom: 68px;
      }
    }
    &.bottom {
      &:before {
        bottom: -47px;
      }
      &:after {
        top: 69px;
      }
    }
    &.down {
      color: $red-color;
      span {
        &:before {
          border-width: 6px 4.5px 0 4.5px;
          border-color: $red-color transparent transparent transparent;
        }
      }
      &:before,
      &:after {
        background-color: $red-color;
      }
    }
    &.up {
      color: $green-color;
      span {
        &:before {
          border-width: 0 4.5px 6px 4.5px;
          border-color: transparent transparent $green-color transparent;
        }
      }
      &:before,
      &:after {
        background-color: $green-color;
      }
    }
    &.left {
      span {
        padding-left: 10px;
        &:before {
          left: 1px;
        }
      }
      &:before {
        left: 5px;
      }
      &:after {
        left: -5px;
      }
    }
    &.right {
      td {
        text-align: right;
        padding-right: 10px;
      }
      span {
        &:before {
          right: -1px;
        }
      }
      &:before {
        right: 3px;
      }
      &:after {
        right: -7px;
      }
    }
  }
}
.wrapper-chartjs-token {
  position: relative;
  margin: auto;
  @media screen and (min-width: $width-min-lg) {
    width: 1110px;
  }
  @media screen and (max-width: $width-max-lg) {
    width: calc(100% - 30px);
  }
  .chartjs-tooltip-token {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    tbody {
      display: flex;
      flex-direction: column;

      &:before {
        content: "";
        left: -3px;
        width: 1px;
        height: 35px;
        position: absolute;
        background-color: #276bfb;
      }
      &.bottom {
        &:before {
          top: -25px;
        }
        .line {
          top: -35px;
        }
      }
      &.top {
        &:before {
          bottom: -24px;
        }
      }
      &.left {
      }
      &.right {
        tr td,
        tr th {
          text-align: right;
        }
      }
    }
  }
}
#chartjs-bar {
  canvas {
    width: 100% !important;
  }
}
.wrapper-chartjs-bar {
  position: relative;
  #chartjs-bar-tooltip {
    table {
      background-color: #ffffff;
      box-shadow: 0px 4px 12px rgba(64, 123, 247, 0.2);
      border-radius: 12px;

      position: absolute;
      &:before {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 15px 0 15px;
        border-color: #ffffff transparent transparent transparent;
      }
      tbody {
        display: flex;
        flex-direction: column;
        tr {
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
      .chartjs-bar-tooltip-value {
        font-family: "Muli", sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #283049;
        line-height: 1.2;
        display: flex;
        align-items: center;
        .circle {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 12px;
        }
      }
    }
  }
}
.wrapper-chartjs-doughnut {
  position: relative;
  #chartjs-doughnut-tooltip {
    font-family: "Muli", sans-serif;

    background-color: rgb(40, 48, 73);
    color: #ffffff;
    border-radius: 4px;
    font-size: 12px;
    position: relative;

    tbody {
      display: flex;
      width: 210px;
      max-width: 210px;

      &:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: rgb(40, 48, 73);
        border-width: 8px;
        margin-top: -8px;
      }
      .value {
        color: $healthy-color;
      }
    }
  }
}
