.clipboard{
    &__id {      
        &-copy {
          display: flex;
          align-items: center;
          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
    }
}