.input-container {
  background-color: #f5f7f9;
  border: 2px solid #e7ebf0;
  border-radius: 16px;
  padding: 0 16px;
  margin-bottom: 30px;
  .input-row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    //margin-bottom: 15px;
    height: 78px;
  }
}
.input-amount {
  font-size: 40px;
  font-weight: 900;
  color: #283049;
  background-color: transparent;
  border: none;
  text-align: center;
  width: calc(100% - 84px);
  position: relative;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:focus {
    outline: none;
  }
  &[type='number'] {
    -moz-appearance: textfield;
  }
  &::placeholder {
    color: #e7ebf0;
    font-size: 32px;
    transform: translate(0, -4px);
  }
  &__group-button {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 40px 16px;
    button {
      border: 2px solid transparent;
      width: calc(100% / 4 - 6px);
      background-color: #fff;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #758295;
      border-radius: 40px;
      padding: 6px 0;

      &:not(:last-child) {
        margin-right: 8px;
      }
      &:hover,
      &:focus,
      &.active {
        background-color: #e7ebf0;
        cursor: pointer;
      }
    }
  }
}
.asset-icon {
  display: flex;
  border: 3px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  svg {
    width: 41px;
    height: auto;
  }
}

@media screen and (max-width: $width-max-sm) {
  .input-container {
    .input-row {
      height: 70px;
    }
  }
  .input-amount {
    font-size: 34px;
    width: calc(100% - 60px);
    margin-left: 15px;
    &::placeholder {
      font-size: 24px;
    }
    &__group-button {
      button {
        font-size: 12px;
        padding: 4px 0;
      }
    }
  }
  .asset-icon {
    svg {
      width: 30px;
    }
  }
}
