.on-chain-indicator {
  display: inline-block;
  height: 49px;
  @media screen and (max-width: $width-max-md) {
    margin-top: 55px;
  }
  &.deactive {
    border-radius: 100px;
    border: 1px solid #5b88ff;
    &:hover {
      background-color: #5b88ff;
      .on-chain-indicator__provider-txt {
        color: #ffffff;
      }
    }
    .on-chain-indicator__container {
      border-color: transparent;
    }
    .on-chain-indicator__provider-txt {
      color: #495460;
      justify-content: flex-start;

      align-items: center;
    }
  }
}

.on-chain-indicator__container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 7px 15px;
  width: 210px;
  box-sizing: border-box;
  cursor: pointer;

  border-radius: 100px;
  border: 1px solid #b9c7d6;

  background-color: rgba(0, 0, 0, 0);
  outline: none;
  .on-chain-indicator__svg {
    display: flex;
    margin-right: 8px;
    svg {
      height: 28px;
      fill: #495460;
    }
  }
  .on-chain-indicator__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 12px;
    span {
      font-family: 'Muli', sans-serif;
      color: #495460;
      font-weight: 800;
      font-size: 13px;
      margin-bottom: 3px;
    }
  }
  .on-chain-indicator__provider-img {
    display: inline-block;
    text-align: center;
    vertical-align: top;

    height: 1rem;
    line-height: 2rem;

    margin: 0.5rem 1rem;
  }

  .on-chain-indicator__provider-txt {
    display: inline-block;
    text-align: center;
    vertical-align: top;

    color: #495460;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    padding: 0 1rem;
  }

  .on-chain-indicator__wallet-address {
    justify-content: center;
    color: #758295;
    font-size: 13px;
  }
  span.on-chain-indicator__wallet-address,
  span.on-chain-indicator__provider-txt {
    display: flex;
    width: 100%;
  }
}

// @media screen and (max-width: $breakpoint-mobile-max) {
//   .on-chain-indicator {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;

//     //padding: 1.25rem 0;
//     margin-top: 0;
//     // background-color: rgba(169, 181, 199, 0.15);
//   }
//   .on-chain-indicator__container {
//     margin: 0;
//     .on-chain-indicator__provider-img {
//       margin: 0.5rem 0.5rem;
//     }
//     .on-chain-indicator__wallet-address {
//       padding: 0 0.5rem;
//       border-left: solid 0px ;
//     }
//     a.on-chain-indicator__wallet-address {
//       padding: 0;
//     }
//   }
// }
