.platform-tab {
  margin-bottom: -2px;
  @media screen and (max-width: $width-max-sm) {
    & + .search-container {
      padding-top: 0;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    .tab {
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 600;
      color: #283049;
      text-transform: capitalize;
      cursor: pointer;
      padding: 16px 20px;
      &:hover {
        color: #5b88ff;
      }

      &.active {
        position: relative;
        color: #276bfb;
        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 6px;
          border-radius: 6px;
          background-color: #276bfb;
          bottom: 0px;
        }
      }
    }
  }
  &-item {
    &__col-token-image {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        &.opened-positions-count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 21px;
          height: 21px;
          color: #ffffff;
          background-color: #276bfb;
          border-radius: 50%;
          margin-left: 5px;
          font-size: 12px;
          font-weight: 900;
          line-height: 21px;
        }
      }
    }
  }

  @media screen and (min-width: $width-min-sm) {
    position: relative;

    &__selector {
      margin-right: 12px;
    }
    &:after {
      width: calc(100vw - 17px);
    }
    &-item {
      &:not(:last-child) {
        margin: 0 5px;
      }
      &__col-token-image {
        svg {
          margin-right: 7px;
        }
      }
    }
  }

  @media screen and (max-width: $width-max-sm) {
    &__selector {
      width: 100%;
      padding: 0 15px;
      text-align: center;
    }
  }
}
.tabs {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  &__item {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 8px 18px;
    color: #276bfb;
    text-align: center;
    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
    &.active {
      color: #283049;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #276bfb;
        border-radius: 3px 3px 0 0;
        bottom: 0;
      }
    }
  }
}
