.tvl {
  font-size: 44px;
  line-height: 1.72;
  font-weight: 900;
}
.tvl-sign {
  color: #758295;
  font-weight: 600;
}
.tvl-value {
  font-size: 100px;
  font-weight: 900;
  color: #b9c7d6;
  line-height: 1;
}
.tvl-interest {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 900;
  color: $green-color;
  display: flex;
  align-items: center;
  &.down {
    color: $red-color;
    svg {
      transform: rotate(180deg);
      .icon-path {
        fill: $red-color;
      }
    }
  }
  &.up {
    color: $green-color;
  }

  .sign {
    font-weight: 600;
  }
  svg {
    margin-right: 8px;
  }
}