.additional {
    font-size: 14px;
    line-height: 1.8;
    h1 {
        font-size: 56px;
        margin-bottom: 50px;
        padding-left: 65px;
        position: relative;
        @media screen and (min-width: $breakpoint-sm-up) {
            &:before {
                [data-theme="light"] & {
                    content: url(/images/small-light-triangle.svg);
                }
                [data-theme="dark"] & {
                    content: url(/images/small-dark-triangle.svg);
                }
                position: absolute;
                top: 60px;
                left: 0;
            }
        }

        @media screen and (max-width: $breakpoint-md-down) {
            font-size: 44px;
        }
        @media screen and (max-width: $breakpoint-xs-down) {
            font-size: 28px;
            margin-bottom: 15px;
        }
    }
    h2 {
        font-size: 22px;
        margin-bottom: 30px;
        @media screen and (max-width: $breakpoint-xs-down) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    h3 {
        font-size: 16px;
        font-weight: 600;
        color: #276bfb;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 10px;
        color: var(--primary-color);
    }
    #please-read-carefully {
        color: #ff4f4f;
        margin-bottom: 15px;
        @media screen and (min-width: $breakpoint-xs-up) {
            margin-bottom: 30px;
        }
    }
    ol {
        padding-left: 22px;
        counter-reset: list;
        color: var(--primary-color);
        li {
            font-weight: 900;
            @media screen and (min-width: $breakpoint-xs-up) {
                font-size: 20px;
                margin-bottom: 40px;
            }
            @media screen and (max-width: $breakpoint-xs-down) {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        > li {
            counter-increment: list;
        }
        ol {
            list-style: none;

            position: relative;
            padding-left: 22px;
            @media screen and (min-width: $breakpoint-sm-up) {
                margin-top: 25px;
                padding-left: 65px;
            }
            @media screen and (max-width: $breakpoint-xs-down) {
                margin-top: 10px;
            }

            li {
                font-weight: 400;
                margin-bottom: 0;
                @media screen and (min-width: $breakpoint-xs-up) {
                    font-size: 14px;
                }
                @media screen and (max-width: $breakpoint-xs-down) {
                    font-size: 12px;
                }
            }
            > li:before {
                content: counters(list, ".");
                position: absolute;
                font-size: 14px;
                font-weight: 800;

                @media screen and (min-width: $breakpoint-sm-up) {
                    left: 25px;
                }
                @media screen and (max-width: $breakpoint-sm-down) {
                    left: -6px;
                }
            }
        }
        ul {
            counter-reset: listStyle;
            list-style: none;
            position: relative;
            margin-top: 10px;
            > li {
                counter-increment: listStyle;
                padding-left: 30px;
                &:before {
                    content: counter(listStyle, lower-alpha) ".";
                    position: absolute;
                    font-size: 14px;
                    font-weight: 800;
                    left: 0;
                }
                margin-bottom: 10px;
            }
        }
    }
    .contact {
        @media screen and (min-width: $breakpoint-sm-up) {
            padding-left: 102px;
        }
        p {
            font-size: 14px;
            color: #8992a4;
            margin-bottom: 15px;
        }
        ul,
        a {
            color: var(--primary-color);
            padding-left: 30px;
            @media screen and (min-width: $breakpoint-sm-up) {
                font-size: 18px;
            }
        }
        ul {
            list-style: none;
        }
    }
}
