.flex {
    display: flex;
}
.fd-c {
    flex-direction: column;
}
.fw-w {
    flex-wrap: wrap;
}
.jc-sb {
    justify-content: space-between;
}
.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}