$primary-color: #283049;
$primary-color-hover: #5b88ff;

$green-color: #00c0ab;
$color-gray-light: #f5f7f9;
$color-gray-dark: #495460;
$color-bg-darken: $color-gray-light;
$color-blue: #276bfb;
$color-content-bg: #fff;
$color-content-txt: #000;
$color-red-aim: #ff4f4f;

$width-max-lg: 1199px;
$width-max-md: 991px;
$width-max-sm: 767px;
$width-max-xs: 574px;

$width-min-lg: 1200px;
$width-min-md: 992px;
$width-min-sm: 768px;
$width-min-xs: 575px;
