$primary-color: #276bfb;
$primary-color-hover: #5b88ff;

$green-color: #00c0ab;

$width-max-lg: 1199px;
$width-max-md: 991px;
$width-max-sm: 767px;
$width-max-xs: 574px;

$with-min-lg: 1200px;
$width-min-md: 992px;
$width-min-sm: 768px;
$width-min-xs: 575px;
