@media screen and (max-width: $mobile-version-max-width) {
  .asset-selector {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 30rem;

    .asset-selector-item {
      margin: 1rem 0;
      min-height: 27rem;

      //&:first-child {
      //  margin-top: 0;
      //}
      //
      //&:last-child {
      //  margin-bottom: 0;
      //}
    }
  }
}
