
.asset-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 30rem;
  //justify-content: space-between;

  margin-bottom: 2rem;
  .op5{
    opacity: .5;
  }
  .asset-selector-centeredOverlay {
      position: fixed;
      //background-color: rgba(255, 255, 255, 0.65);
      //opacity: 0.8;
      top:0;
      left:0;
      width:100%;
      height:100%;
      color:black;
      text-align: center;
      border-radius: 1rem;
      font-size: 6rem;
      font-weight: 600;
      //z-index: 999;
    }

    .asset-selector-centeredOverlay span {
      position: absolute;
      top:50%;
      left:50%;
      -webkit-transform:translate(-50%, -50%);
      transform:translate(-50%, -50%);
    }

  .asset-selector-item {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    //flex: 0 47%;

    height: 205px;
    width: 195px;
    margin: 0 1rem;
    padding: 25px;

    border-radius: 1rem;
    background-color: $color-borrow-card;
    .asset-selector-icon{
      display: block;
    }
    .asset-selector-div{
      display: none;
    }
    &:hover {
      background-color: #FFFFFF;
      border: 1px solid #A9B5C7;
      .asset-selector-div{
        //background-repeat: no-repeat;
        //width: 38px;
        //background-position: right bottom;
        //bottom: -48px;
        //margin-top: 2px;
        background-repeat: no-repeat;
        width: 38px;
        background-position: right bottom;
        bottom: -48px;
        background-color: #FFFFFF;
        border-radius: 100px;
        float: right;
        margin-top:0px;
        z-index: 1;
        display: block;
      }
      .asset-selector-icon{
        display: none;
      }
      .asset-selector__fixed {

         background: linear-gradient( to right, #3022ff , #ff22cf , #FF0 , #ff22e4 );
        background-size: 200% auto;
        color: transparent;
        -webkit-background-clip: text;
        animation: shine 1s linear infinite;
        @keyframes shine {
          to {
            background-position: 200% center;
          }
        }
      }
    }

    &:active {
      background-color: $color-gray-darker-2;
    }

    &:nth-child(2) {
      margin-left: 0;
      margin-top: 2.5rem;
    }

    //&:first-child {
    //  margin-top: unset;
    //}
    //
    //&:first-child + div {
    //  margin-top: unset;
    //}

    //&:last-child {
    //  margin-right: 0;
    //}

    margin-left: 0;
    margin-top: 2.5rem;
    .mt50{
      margin-top: 50px;
    }
    .asset-selector__title {
      width: 80px;
      margin-top: 9px;
      float: left;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.17;
      letter-spacing: -0.48px;
      text-align: left;
      color: $color-gray-dark;

      &--coming-soon {
        font-size: 11px;
        color: #a9b5c7;
        margin: unset;
        letter-spacing: unset;
        margin-top: -1.875rem;
        margin-bottom: 0.8125rem;
      }
    }
    .asset-selector-row{
      width:100%
    }
    .asset-selector__fixed{
      width: 43px;
      height: 21px;
      left: 59px;
      top: 73px;
      font-style: normal;
      font-weight: 800;
      font-size: 13px;
      line-height: 170%;
      color: #A9B5C7;
      float: left;

    }
    .asset-selector__apr{
      width: 34px;
      height: 21px;
      left: 27px;
      top: 73px;
      font-weight: 600;
      font-size: 13px;
      line-height: 170%;
      color: #4ECEA3;
      float: left;
    }
    .asset-selector__interest-rate {
      width: 100%;
      font-weight: 800;
      font-size: 42px;
      line-height: 50px;
      height: 50px;
      color: #4ECEA3;
      //font-size: 1rem;
      //font-weight: bold;
      //line-height: 1.5;
      letter-spacing: -0.16px;
      text-align: left;
      //background: -webkit-linear-gradient(left, #ecc75c, #6cd6b2 15%, #92a7ea 30%);
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent;
    }
  }

  .asset-selector-item--bat {
    background-image: url("../assets/images/bg_tile_bat.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }

  .asset-selector-item--zrx {
    background-image: url("../assets/images/intersect_zrx.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }

  .asset-selector-item--wbtc {
    background-image: url("../assets/images/intersect_wbtc.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }

  .asset-selector-item--sai {
    background-image: url("../assets/images/intersect_sai.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }
  .asset-selector-icon{
    //background-image: url("../assets/images/ic_token_sai.svg");
    background-repeat: no-repeat;
    width: 38px;
    background-position: right bottom;
    bottom: -48px;
    //margin-left: 112px;
    //position: absolute;
    float: right;
    margin-top: 0px;
    z-index: 1;
    display: block;
    &:hover {
      display: none;
    }
  }


  .asset-selector-item--dai {
    background-image: url("../assets/images/Intersect_dai.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;

    &:hover {
      background-size: 120px;
    }
  }

  .asset-selector-item--usdc {
    background-image: url("../assets/images/Intersect_usdc.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }

  .asset-selector-item--susd {
    background-image: url("../assets/images/intersect_susd.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }

  .asset-selector-item--eth {
    background-image: url("../assets/images/intersect_eth.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }

  .asset-selector-item--knc {
    background-image: url("../assets/images/intersect_knc.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }

  .asset-selector-item--link {
    background-image: url("../assets/images/intersect_link.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }

  .asset-selector-item--mkr {
    background-image: url("../assets/images/bg_tile_mkr.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  .asset-selector-item--rep {
    background-image: url("../assets/images/intersect_rfp.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0;
    &:hover {
      background-size: 120px;
    }
  }
}

@media only screen and (max-width: $mobile-version-width) {

  .asset-selector {

    .asset-selector-item {

      .asset-selector-icon {
        display: block;
      }
      .asset-selector-div {
        display: none;
      }
      &:hover {
        background-color: $color-borrow-card;
        .asset-selector-div {
          display: none;
        }
        .asset-selector-icon {
          display: block;
        }
        .asset-selector__fixed {

          background: none;
          background-size: 200% auto;
          color: #A9B5C7;
          -webkit-background-clip: text;
          animation: unset;
          @keyframes shine {
            to {
              background-position: 200% center;
            }
          }
        }
      }
    }

    .asset-selector-item--bat {
      background-image: url("../assets/images/bg_tile_bat.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--zrx {
      background-image: url("../assets/images/intersect_zrx.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--wbtc {
      background-image: url("../assets/images/intersect_wbtc.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--sai {
      background-image: url("../assets/images/intersect_sai.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--dai {
      background-image: url("../assets/images/Intersect_dai.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;

      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--usdc {
      background-image: url("../assets/images/Intersect_usdc.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--susd {
      background-image: url("../assets/images/intersect_susd.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--eth {
      background-image: url("../assets/images/intersect_eth.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--knc {
      background-image: url("../assets/images/intersect_knc.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--link {
      background-image: url("../assets/images/intersect_link.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }

    .asset-selector-item--mkr {
      background-image: url("../assets/images/bg_tile_mkr.svg");
      background-repeat: no-repeat;
      background-position: right;
    }

    .asset-selector-item--rep {
      background-image: url("../assets/images/intersect_rfp.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      &:hover {
        background-size: unset;
      }
    }
  }
}
