.asset-selector {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  .asset-selector-item {
    width: calc(100% / 6 - 20px);
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f3f9ff;
    border: 1px solid #f3f9ff;

    transition-property: background-color, border-radius;
    transition-duration: 0.2s, 1s;
    transition-timing-function: linear;
    position: relative;
    .loader-overlay {
      border-radius: 8px;
    }
    &-content {
      cursor: pointer;
      padding: 25px;
      display: flex;
      flex-wrap: wrap;
      height: 205px;
    }
    .asset-selector__icon {
      display: flex;
      &:hover {
        display: none;
      }
    }
    .asset-selector__arrow {
      display: none;
    }
    &:hover {
      background-color: #ffffff;
      border: 1px solid #a9b5c7;
      -webkit-animation: slide 0.5s forwards;
      -webkit-animation-delay: 2s;
      animation: slide 0.5s forwards;
      animation-delay: 2s;
      @-webkit-keyframes slide {
        100% {
          left: 0;
        }
      }

      @keyframes slide {
        100% {
          left: 0;
        }
      }
      .asset-selector__arrow {
        display: flex;
        background-color: #ffffff;
        border-radius: 50%;
      }
      .asset-selector__icon {
        display: none;
      }
      .asset-selector__fixed {
        background: linear-gradient(to right, #3022ff, #ff22cf, #ff0, #ff22e4);
        background-size: 200% auto;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: shine 1s linear infinite;
        @keyframes shine {
          to {
            background-position: 200% center;
          }
        }
      }
    }

    &:active {
      background-color: #e2e3e7;
    }
    .asset-selector__title {
      display: flex;
      align-items: center;
      font-size: 22px;
      font-weight: 900;
      line-height: 1.5;
      color: $color-gray-dark;
      &--coming-soon {
        width: 100%;
        font-size: 11px;
        color: #a9b5c7;
      }
    }
    .asset-selector-row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .asset-selector-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-self: flex-end;
      width: 100%;
    }
    .asset-selector__fixed {
      font-size: 13px;
      font-weight: 800;
      line-height: 1.7;
      color: #a9b5c7;
    }
    .asset-selector__apr {
      font-weight: 600;
      font-size: 13px;
      line-height: 1.7;
      color: #4ecea3;
      margin-right: 5px;
    }
    .asset-selector__interest-rate {
      font-size: 42px;
      line-height: 1.2;
      color: #4ecea3;
      &-value {
        font-weight: 800;
      }
    }
  }
  .asset-selector-item {
    bottom: 0;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 102px;
    transition-property: background-size;
    transition-duration: 0.5s, 1s;
    transition-timing-function: linear;
    &:hover {
      background-size: 123px;
    }
  }

  .asset-selector-item--bat {
    background-image: url("../../assets/images/bg_tile_bat.svg");
  }

  .asset-selector-item--zrx {
    background-image: url("../../assets/images/intersect_zrx.svg");
  }

  .asset-selector-item--wbtc {
    background-image: url("../../assets/images/intersect_wbtc.svg");
  }

  .asset-selector-item--sai {
    background-image: url("../../assets/images/intersect_sai.svg");
  }

  .asset-selector-item--dai {
    background-image: url("../../assets/images/Intersect_dai.svg");
  }

  .asset-selector-item--usdc {
    background-image: url("../../assets/images/Intersect_usdc.svg");
  }

  .asset-selector-item--susd {
    background-image: url("../../assets/images/intersect_susd.svg");
  }

  .asset-selector-item--eth {
    background-image: url("../../assets/images/intersect_eth.svg");
  }

  .asset-selector-item--knc {
    background-image: url("../../assets/images/intersect_knc.svg");
  }

  .asset-selector-item--link {
    background-image: url("../../assets/images/intersect_link.svg");
  }

  .asset-selector-item--rep {
    background-image: url("../../assets/images/intersect_rfp.svg");
  }
  .asset-selector-item--usdt {
    background-image: url("../../assets/images/intersect_usdt.svg");
  }
  .asset-selector-item--mkr {
    background-image: url("../../assets/images/bg_tile_mkr.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}
@media screen and(min-width: $breakpoint-min-xl) {
  .asset-selector {
    .asset-selector-item {
      &:not(:nth-child(6n)) {
        margin-right: 24px;
      }
    }
  }
}
@media screen and(max-width: $breakpoint-max-xl) {
  .asset-selector {
    .asset-selector-item {
      width: calc(100% / 5 - 20px);
      &:not(:nth-child(5n)) {
        margin-right: 25px;
      }
    }
  }
}
@media screen and(max-width: $breakpoint-max-lg) {
  .asset-selector {
    .asset-selector-item {
      width: calc(100% / 4 - 15px);
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:not(:nth-child(4n)) {
        margin-right: 20px;
      }
    }
  }
}
@media screen and( max-width: $breakpoint-mobile-max) {
  .asset-selector {
    .asset-selector-item {
      &-content {
        padding: 15px;
        height: 150px;
        margin-right: 15px;
        background-size: 84px;
        &:hover {
          background-size: 102px;
        }
        .asset-selector__interest-rate {
          font-size: 32px;
        }
        .asset-selector__apr,
        .asset-selector__fixed {
          font-size: 11px;
        }
        .asset-selector__title {
          font-size: 20px;
        }
        .asset-selector__icon {
          svg {
            width: 30px;
            height: auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $mobile-version-max-width) {
  .asset-selector {
    .asset-selector-item {
      width: calc(100% / 3 - 10px);
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:not(:nth-child(3n)) {
        margin-right: 15px;
      }
    }
  }
}
@media screen and (max-width: 519px) {
  .asset-selector {
    .asset-selector-item {
      width: calc(100% / 2 - 7.5px);
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:not(:nth-child(2n)) {
        margin-right: 15px;
      }
    }
  }
}
