.borrow-form {
  display: flex;
  flex-wrap: wrap;
  width: 535px;
  padding-top: 35px;
  &__content {
    width: 100%;
  }
  &__input-container {
    padding: 0 48px 24px 48px;
  }
  &__input-amount {
    font-size: 42px;
    line-height: 1.5;
    font-weight: 900;
    color: #283049;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
    background-color: $bg-color-gray;
    border: 2px solid #e7ebf0;
    border-radius: 4px;
    padding: 20px 0;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type='number'] {
      -moz-appearance: textfield;
    }
    &:hover,
    &:focus {
      background-color: $bg-color-gray;
      border: 2px solid #e7ebf0;
      color: #283049;
    }
  }

  &__insufficient-balance {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    top: 6px;
  }

  &__actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 16px;
    color: #758295;
    font-weight: 200;
  }
  &__edit-deposit-by-container {
    padding: 0px 48px 0 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrapper-input {
      position: relative;
      display: flex;
      align-items: center;
      background-color: #f5f7f9;
      border: 2px solid #e7ebf0;
      border-radius: 4px;
      width: 265px;
      justify-content: space-between;
      padding: 0 15px 0 8px;
    }
    input {
      background-color: #f5f7f9;
      border: none;
      color: #283049;
      width: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 800;
      padding: 2px 0;
    }
  }
  &__edit-deposit-by-input {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    span {
      &:first-child() {
        position: absolute;
      }
    }
    .loader {
      height: 38px;
    }
  }
  &__collateral-asset {
    color: #758295;
    font-weight: 600;
  }
  &__max-deposit {
    background: #b9c7d6;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    height: 24px;
    display: flex;
    align-items: center;
    min-width: 40px;
    font-size: 12px;
    justify-content: center;
    cursor: pointer;
  }
  &__label-safe {
    font-weight: 800;
    color: #00c0ab;
    display: block;
    text-align: right;
  }
  &__edit-collateral-by-container {
    .rc-slider-rail {
      background: linear-gradient(90deg, #ff4f4f 0%, #f0e93f 52.16%, #33dfcc 101.16%);
    }
    .rc-slider-track {
      background-color: transparent;
    }
    padding: 30px 48px 0 48px;
    .rail {
      height: 7px;
      background: linear-gradient(90deg, #ff4f4f 0%, #f0e93f 52.16%, #33dfcc 101.16%);
      border-radius: 10px;
      margin: 5.5px 0 1.5px 0;
    }
    .edit-input-wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      > span {
        font-size: 16px;
        line-height: 2.375;
        &:first-child {
          font-weight: 200;
          color: #758295;
          margin-bottom: 15px;
        }
      }
    }
    .edit-input-container {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      > span {
        font-size: 20px;
        font-weight: 800;
        line-height: 1.5;
        color: #00c0ab;
        padding: 4px 10px 4px 25px;
      }
      .sign {
        font-weight: 400;
      }
      svg {
        margin-right: 5px;
      }
      .loader-container {
        padding: 20px;
      }
    }
    .collateral-slider {
      height: 7px;
      .rail-inner {
        height: 7px;
      }
      .handle-outer {
        cursor: pointer !important;
      }
    }
    .edit-input-collateral {
      position: relative;
      display: flex;
      align-items: center;

      &:after {
        content: '%';
        position: absolute;
        font-size: 20px;
        color: #758295;
        right: 15px;
      }
    }
    input {
      background-color: #f5f7f9;
      border: 2px solid #e7ebf0;
      border-radius: 4px;
      color: #283049;
      width: 265px;
      text-align: center;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 800;
      padding: 2px 0;
    }
    .edit-icon-collateral {
      cursor: pointer;
    }
  }
  &__info-collateral-by-msg {
    font-size: 16px;
    font-weight: 400;
    color: $color-gray-darker;
    margin-bottom: 20px;
  }

  &__info-collateral-by-amount {
    font-size: 20px;
    font-weight: 800;
    color: #283049;
    position: relative;
    width: 100%;
    .loader,
    .loader-dots {
      height: 30px;
      .loader-content {
        top: 0;
        transform: translate(-50%, 0);
      }
    }
  }
  &__error {
    color: #de4a4a;
    width: 100%;
  }
}

@media screen and (max-width: $mobile-version-max-width) {
  .borrow-form {
    width: 100%;
    &__input-container {
      padding: 0 40px 40px 40px;
    }
    &__input-amount {
      padding: 10px 0;
      font-size: 36px;
      &::placeholder {
        font-size: 28px;
      }
    }
  }
}
