.borrowed-funds-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  .no-loans-msg{
    
    font-weight: 800;
    font-size: 24px;
    line-height: 140%;
    color: #283049;
    grid-column: 1/3;
    place-self: center;
    margin: 60px auto;
    cursor: pointer;
  }
  .borrowed-funds-button-div {
    width: 100%;
  }
  .borrowed-funds-list-item {
    width: 100%;
    max-width: 670px;
    border-radius: 16px;
    background: #f3f9ff;
    padding: 35px 50px;
    border: 1px solid transparent;
    /*place center the last child in a row*/
    &:last-child:nth-child(odd) {
      grid-column: 1/3;
      place-self: center;
    }
    &:hover {
      background: #fff;
      border: 1px solid #a9b5c7;
      .borrowed-funds-list-item__header-loan-interest-rate {
        color: #00c0ab;
      }
      .rail-inner{
        background: #f3f9ff;
      }
    }
    &__header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 35px;
        width: calc(100% - 35px);
        background: #e4ebf4;
        height: 1px;
      }
      &-loan {
        display: flex;
        flex-direction: column;
        &-owed {
          font-weight: 800;
          font-size: 28px;
          line-height: 150%;
          color: #283049;
        }
        &-interest-rate {
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #758295;

          .value {
            font-weight: 800;
          }
        }
      }
      &-asset {
        display: flex;
        flex-direction: column;
        &-img {
          img,
          svg {
            width: 40px;
            height: 40px;
          }
        }
        &-name {
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          text-align: center;
          text-transform: uppercase;
          color: #758295;
        }
      }
    }
    &__body {
      padding: 30px 0 25px 0;
      display: flex;
      flex-direction: column;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #e4ebf4;
        height: 1px;
      }
      &-collateralized {
        font-weight: normal;
        font-size: 28px;
        line-height: 150%;
        .value {
          font-weight: 800;
        }
        &.safe {
          color: #00c0ab;
        }
        &.unsafe,
        &.danger {
          color: #de4a4a;
        }
        &-label {
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
          color: #758295;
        }
        &-state {
          font-weight: 800;
          font-size: 16px;
          line-height: 150%;
          align-self: flex-end;
          &.safe {
            color: #00c0ab;
          }
          &.unsafe,
          &.danger {
            color: #de4a4a;
          }
        }
        &-value {
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
          color: #283049;
          .value {
            font-weight: 800;
          }
        }
      }
      &-slider-container {
        padding-top: 20px;
        padding-bottom: 15px;
      }
    }
    &__actions-container {
      padding-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px 10px;
      button {
        border: none;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        border-radius: 40px;
        background: #f3f9ff;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: #276bfb;
        outline: none;
        &:hover {
          color: #fff;
          background: #5b88ff;
          cursor: pointer;
        }
      }
    }
  }
  .d-flex {
    display: flex;
  }
  .j-c-sb {
    justify-content: space-between;
  }
  .borrowed-funds-button {
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    cursor: pointer;

    width: 101px;
    height: 34px;
    color: #ffffff;

    background: #a9b5c7;
    border-radius: 11px;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 10px 0px 0px;
  }

  @media screen and (max-width: $breakpoint-mobile-max) {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;

    .borrowed-funds-list-item {
      padding: 20px 25px;
    }
  }
}
