.borrow-form {
  display: flex;
  flex-wrap: wrap;
  width: 535px;
  padding-top: 35px;
  &__content {
    width: 100%;
  }
  &__input-container {
    padding: 0 48px 40px 48px;
  }
  &__input-amount {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 900;
    color: #283049;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
    background-color: $color-gray-light;
    border: 2px solid #e7ebf0;
    border-radius: 4px;
    padding: 20px 0;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {
      -moz-appearance: textfield;
    }
    &:hover,
    &:focus {
      background-color: $color-gray-light;
      border: 2px solid #e7ebf0;
      color: #283049;
    }
  }

  &__insufficient-balance {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    text-align: center;
  }

  &__actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info-collateral-by-container {
    padding: 25px 0;
    background-color: $color-gray-light;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    text-align: center;
  }
  &__info-collateral-by-msg {
    font-size: 16px;
    font-weight: 400;
    color: $color-gray-darker-3;
  }

  &__info-collateral-by-amount {
    font-size: 20px;
    font-weight: 800;
    color: #283049;
  }
  &__error{
    color: #de4a4a;
  }
}
