.borrow-via-transfer-address-qr-form {
  width: 31rem;

  .borrow-via-transfer-address-qr-form__qr-container {
    margin-top: 4.5rem;
    margin-bottom: 2rem;

    text-align: center;
  }

  .borrow-via-transfer-address-qr-form__address-container {
    margin-top: 2rem;
    margin-bottom: 6rem;

    text-align: center;
  }

  .borrow-via-transfer-address-qr-form__actions-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
  }
}
