.btn {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 800;
  text-align: center;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: $color-green;

  &:hover {
    background-color: $color-green--hover;
  }

  &:active {
    background-color: $color-green--pressed;
  }
  &.btn-light {
    color: #276bfb;
    background-color: rgba(203, 226, 255, 1);

    &:hover,
    &:active {
      background-color: rgba(203, 226, 255, 0.8);
    }
  }
  &[disabled] {
    opacity: 0.4;
    background-color: $color-green !important;
    cursor: not-allowed;
    &:hover {
      background-color: $color-green !important;
    }

    &:active {
      background-color: $color-green !important;
    }
  }
}

.btn-size--small {
  padding: 22px 46px;
}

.btn-disabled,
:disabled {
  opacity: 0.4;
  background-color: $color-green !important;

  &:hover {
    background-color: $color-green !important;
  }

  &:active {
    background-color: $color-green !important;
  }
}
@media screen and(max-width: $mobile-version-max-width) {
  .btn {
    font-size: 14px;
  }

  .btn-size--small {
    padding: 15px 34px;
  }
}
