.btn {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 800;
  text-align: center;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #276bfb;

  &:hover {
    background-color: $color-blue--hover;
  }

  &:active {
    background-color: $color-blue--pressed;
  }
}

.btn-size--small {
  padding: 20px 46px;
}

.btn-disabled {
  opacity: 0.4;
  background-color: $color-blue !important;

  &:hover {
    background-color: $color-blue !important;
  }

  &:active {
    background-color: $color-blue !important;
  }
}
@media screen and(max-width: $mobile-version-max-width) {
  .btn {
    font-size: 14px;
  }

  .btn-size--small {
    padding: 15px 34px;
  }
}
