.collateral-token-selector {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100003;
  }
  &__container {
    width: 100%;
    left: 0;
    position: absolute;
    padding: 15px 0;
    background-color: #ffffff;
    top: 58px;
    border-radius: 16px;
    z-index: 100004;
    box-shadow: 0px 8px 30px rgba(95, 109, 130, 0.3);
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}

.collateral-token-selector-item {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 8px 4px;
  cursor: pointer;
  &:hover {
    background-color: #5b88ff;
    color: #ffffff;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    svg {
      margin-right: 8px;
    }
  }

  &__name {
    font-size: 12px;
    font-weight: 600;
  }
}
