.collateral-token-selector-toggle {
  display: flex;
  font-weight: 600;
  background-color: #fff;
  border-radius: 16px;
  padding: 8px;
  position: relative;
  height: 40px;
  margin-right: 12px;
  &.active {
    background-color: #ffffff;
    border-color: #5b88ff;
  }

  &__logo-container {
    display: flex;
    margin-right: 8px;
    svg {
      width: 28px;
      height: auto;
    }
  }

  &__info-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-right: 10px;
  }
  &__arrow {
    display: flex;
    svg {
      width: 12px;
      height: 6px;
    }
    path {
      .active & {
        fill: #5b88ff;
      }
    }
    .active & {
      transform: rotateX(180deg);
    }
  }

  &__info-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: $color-gray-darker;
    margin-right: 10px;
  }
}
@media screen and (max-width: $mobile-version-max-width) {
  .collateral-token-selector-toggle {
    &__logo-container {
      svg {
        width: 20px;
      }
    }
  }
}
