.collateral-token-selector-toggle {
  display: flex;
  background-color: #f5f7f9;
  border-radius: 26px;
  padding: 2px;
  border: 2px solid transparent;
  position: relative;
  &.active {
    background-color: #ffffff;
    border-color: #5b88ff;
  }

  &__logo-container {
    display: flex;
    margin-right: 8px;
  }

  &__info-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-right: 10px;
  }
  &__arrow {
    display: flex;
    path {
      .active & {
        fill: #5b88ff;
      }
    }
    .active & {
      transform: rotateX(180deg);
    }
  }

  &__info-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: $color-gray-darker;
    margin-right: 10px;
  }
}
@media screen and (max-width: $mobile-version-max-width) { 
  .collateral-token-selector-toggle { 
    &__logo-container {
      svg{
        width: 30px;
        height: auto;
      }
    }
  }
}