.collateral-token-selector {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100003;
  }
  &__container {
    width: 100%;
    left: 0;
    position: absolute;
    background-color: #ffffff;
    top: 58px;
    border-radius: 16px;
    z-index: 100004;
    overflow: hidden;
    box-shadow: 0px 8px 30px rgba(95, 109, 130, 0.3);
  }
  &__items {
    .simplebar-content-wrapper {
      padding: 15px 0;
    }
    .simplebar-track.simplebar-vertical {
      top: 10px;
      height: calc(100% - 20px);
    }
  }
}

.collateral-token-selector-item {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 8px 4px;
  cursor: pointer;
  &:hover {
    background-color: #5b88ff;
    color: #ffffff;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    svg {
      margin-right: 8px;
      width: 40px;
      height: auto;
    }
  }

  &__name {
    font-size: 12px;
    font-weight: 600;
  }
}
@media screen and (max-width: $mobile-version-max-width) {
  .collateral-token-selector {
    &__items {
      .simplebar-content-wrapper {
        padding: 10px 0;
      }
    }
  }
  .collateral-token-selector-item {
    padding: 6px 4px;
    &__image-container {
      svg {
        width: 30px;
      }
    }
  }
}
