.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 38px 48px 0 48px;
  &__title {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    color: #283049;
  }
  &__title-close {
    display: flex;
    cursor: pointer;
  }
}
