.dots-bar {
  display: flex;
  flex-direction: row;

  .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100px;
    margin: 0 0.25rem;

    :first-child {
      margin-left: 0;
    }

    :last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
    }
  }

  .dot--blue {
    background-color: #9fb4f9;
  }

  .dot--green {
    background-color: #79e5c1;
  }

  .dot--yellow {
    background-color: #fbd562;
  }
}
