@import '../abstracts//variables';

.expected-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 50px;

  .wrapper-loader {
    display: inline-block;
    vertical-align: -6px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    width: calc(50% - 8px);
    padding: 0 10px;
    &-row {
      & + .expected-result__column-row {
        margin-top: 18px;
      }
    }
  }
  &__column-value {
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: #758295;
  }

  .value {
    color: #283049;
    font-weight: 400;
  }
  &__fee {
    .value {
      color: #283049;
    }
  }
  &__column-title {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
    color: #758295;
    .value {
      color: #1cd8c4;
    }
  }
  &__chi {
    font-weight: 600;
    font-size: 14px;
    color: #283049;
  }

  .chi-switch {
    display: inline-block;
    margin-top: 5px;
    margin-right: -5px;
    vertical-align: -9px;
    text-align: right;
    .cb-container {
      position: relative;
      display: inline-flex;
      height: 24px;
      width: 42px;
      @media screen and (max-width: $mobile-version-max-width) {
        height: 20px;
        width: 35px;
      }
      .cb-label {
        padding: 0;
      }

      input[type='checkbox'] {
        display: none;

        &:checked + .cb-checkmark,
        .cb-checkmark {
          background-color: #276bfb;
          &:before {
            transform: translateX(0px);
          }
          &:after {
            content: '';
          }
        }
      }
      &:hover,
      &:focus {
        .cb-checkmark {
          border: none;
        }
      }
    }
    .cb-checkmark {
      background-color: #b9c7d6;
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 16.8px;
      &:after {
        border: none;
      }
      &:before {
        content: '';
        position: absolute;
        height: 16.8px;
        width: 16.8px;

        bottom: 4px;
        right: 4px;
        transition: 0.4s;
        border-radius: 50%;
        transform: translateX(-16.8px);
        z-index: 2;
        background-color: #ffffff;
        @media screen and (max-width: $mobile-version-max-width) {
          right: 2.5px;
        }
      }
    }
  }
  .tooltip__icon {
    width: 16px;
    margin-top: -2px;
    float: right;
  }
  @media screen and (max-width: $mobile-version-max-width) {
    //display: block;
    margin-top: 30px;
    margin-bottom: 0;
    &__column {
      padding: 0px 15px;
      & + .expected-result__column{
        width: calc(50% + 4px);
      }
    }
    &__column-row {
      & + .expected-result__column-row {
        margin-top: 16px;
      }
    }
    &__column-value {
      font-size: 12px;
      font-weight: 800;
    }

    .chi-switch {
      margin-top: 0;
      .cb-checkmark:before {
        height: 15px;
        width: 15px;
        right: 3.5px;
        bottom: 3px;
        transform: translateX(-13.5px);
      }
    }

    .value {
      font-weight: 800;
    }
    &__column-title {
      position: relative;
      font-size: 10px;
      padding-right: 16px;
      margin-bottom: 8px;
      .value {
        word-wrap: break-word;
      }
    }
    &__chi {
      font-size: 12px;

      font-weight: 600;
    }
    .tooltip__icon {
      position: absolute;
      top: 1px;
      right: 1px;
    }
  }
}
