.extend-loan-form {
  display: flex;
  flex-direction: column;

  width: 31rem;
  padding-top: 3.25rem;

  .extend-loan-form__tips {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // hack around slider
    padding-top: 1rem;
    // spacing
    padding-bottom: 3rem;

    .extend-loan-form__tip {
      font-size: 0.75rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      color: #a9b5c7;
    }
  }

  .extend-loan-form__delimiter {
    margin-bottom: 1rem;

    border: 0;
    border-top: solid 0.0625rem rgba(255, 255, 255, 0.2);
  }

  .extend-loan-form__info-liquidated-at-container {
    border-radius: 1rem;
    background-color: #f5f7f9;
    padding: 2.5rem;


    .extend-loan-form__info-liquidated-at-msg {
      font-size: 1rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.16px;
      text-align: center;
      color: #a9b5c7;
    }

    .extend-loan-form__info-liquidated-at-price {
      font-size: 1.5rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: -0.24px;
      text-align: center;
      color: #3b364b;
    }
  }

  .extend-loan-form__operation-result-container {
    position: relative;

    padding: 2.5rem 2rem 3rem;
    margin-top: 3rem;

    border-radius: 1rem;
    background-color: #3b364b;

    .extend-loan-form__operation-result-img {
      height: 2.5rem;
      width: 2.5rem;
      box-sizing: content-box;

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      border: solid 1rem #3b364b;
      border-radius: 100px;
    }

    .extend-loan-form__operation-result-msg {
      font-size: 1rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.16px;
      text-align: center;
      color: #a9b5c7;
    }

    .extend-loan-form__operation-result-amount {
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: -0.24px;
      text-align: center;
      color: #ffffff;
    }
  }

  .extend-loan-form__actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
