.loader {
  .loader-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 10002;
    .loader-content {
      width: 100%;
      height: 27%;
      background-color: #f5f7f9;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
  .loader-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
  }
  .loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10003;
    .loader-text {
      font-weight: 900;
      color: #283049;
      margin-bottom: 0;
      text-align: center;
      &.warning {
        color: #ff5c5c;
      }
      &-small {
        font-size: 12px;
        margin-bottom: 10px;
      }
      &-middle {
        font-size: 18px;
        margin-bottom: 15px;
      }
      &-large {
        font-size: 52px;
        margin-bottom: 35px;
        @media screen and (max-width: $mobile-version-max-width) {
          font-size: 36px;
          margin-bottom: 15px;
        }
      }
    }
    .loader-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: inline-flex;
        background-color: #a9b5c7;
        opacity: 0.5;
        border-radius: 50%;
        animation-name: animationDotsLoader;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0, 0, 1, 1);
        .refinance-list & {
          animation-name: animationDotsLoaderRefinance;
        }
        &.small-dots {
          width: 6px;
          height: 6px;
          margin: 0 4px;
        }
        &.middle-dots {
          width: 8px;
          height: 8px;
          margin: 0 8px;
        }
        &.large-dots {
          width: 12px;
          height: 12px;
          margin: 0 13px;
        }
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            animation-delay: calc(0.35s * (#{$i} - 1));
          }
        }
      }
    }
  }
}
@keyframes animationDotsLoader {
  0% {
    transform: scale(1);
    background-color: #a9b5c7;
    opacity: 0.5;
  }
  5% {
    transform: scale(1.8);
    background-color: #276bfb;
    opacity: 1;
  }
  15% {
    transform: scale(1.8);
    background-color: #276bfb;
    opacity: 1;
  }
  20% {
    transform: scale(1);
    background-color: #a9b5c7;
    opacity: 0.5;
  }
}
@keyframes animationDotsLoaderRefinance {
  0% {
    transform: scale(1);
    background-color: #a9b5c7;
    opacity: 0.5;
  }
  5% {
    transform: scale(1.8);
    background-color: #8e7df7;
    opacity: 1;
  }
  15% {
    transform: scale(1.8);
    background-color: #8e7df7;
    opacity: 1;
  }
  20% {
    transform: scale(1);
    background-color: #a9b5c7;
    opacity: 0.5;
  }
}
