.manage-collateral-form {
  display: flex;
  flex-direction: column;

  width: 520px;
  padding-top: 1rem;

  @media only screen and (max-width: $mobile-version-max-width) {
    width: 100%;
  }

  &__insufficient-balance {
    color: red;
    padding: 0.25rem;
    text-align: center;

    &--hidden {
      visibility: hidden;
      height: 0;
    }
  }

  .slider-handles {
    margin-top: 40px;
  }

  &__tips {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 0.875rem;

    &__tip {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 24px;
      letter-spacing: normal;
      color: #758295;
    }
  }

  &__delimiter {
    margin-bottom: 16px;
    border: 0;
  }

  &__info-liquidated-at-container {
    padding-top: 25px;
  }

  &__info-liquidated-at-msg {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 15px;
    letter-spacing: -0.16px;
    text-align: center;
    color: #758295;
  }

  &__info-liquidated-at-price {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    padding-top: 8px;
    letter-spacing: -0.24px;
    text-align: center;
    color: #283049;

    span {
      font-weight: 800;
    }
  }

  &__actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
