.manage-collateral-form {
  display: flex;
  flex-direction: column;

  width: 520px;
  padding-top: 1rem;

  @media only screen and (max-width: $mobile-version-max-width) {
    width: 100%;
  }

  &__insufficient-balance {
    color: #de4a4a;
    padding: 0.25rem;
    text-align: center;
  }
  .input-container {
    padding: 21px 15px;
    @media screen and (max-width: $mobile-version-max-width) {
      padding: 10px 15px;
    }
    .input-row {
      margin-bottom: 0;
    }
  }
  &__tips {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  &__tip {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #758295;
  }
  &__info-liquidated-at-container {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  &__info-liquidated-at-msg {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.16px;
    text-align: center;
    color: #758295;
  }

  &__info-liquidated-at-price {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: center;
    color: #283049;

    span {
      font-weight: 800;
    }
  }

  &__actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
}
