.provider-menu {
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 20px;
    text-align: left;
    color: #283049;
    svg {
      cursor: pointer;
    }
  }
  &__gas-token {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-gray;
    margin-bottom: 20px;
    &-logo {
      display: flex;
      align-items: center;
      margin-right: 15px;
      svg {
        width: 64px;
        height: 64px;
      }
    }
    &-text {
      max-width: 344px;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      color: $color-gray-darker;
    }
    &-switch {
      margin-left: 40px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-row-gap: 15px;
    grid-column-gap: 30px;
  }
  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 43px;
    flex-direction: column;
    flex-direction: row;
    padding: 10px 30px;
    flex-wrap: wrap;
    background: #f5f7f9;
    width: 240px;

    color: #758295;
    &:hover {
      transition: all 0.1s;
      background: #5b88ff;
      color: #fff;
    }
    &--selected {
      background-color: #fff;
      border: 1px solid #b9c7d6;
      padding: 8px 30px;
      &:hover {
        background-color: initial;
      }
      .provider-menu__list-item-description {
        display: flex;
        flex-direction: column;
        .provider-name {
          font-weight: 800;
          font-size: 15px;
          line-height: 140%;
          color: #283049;
        }
        .address {
          font-size: 13px;
          line-height: 130%;
          color: #758295;
        }
      }
    }
    &-content {
      &-img {
        display: flex;
        position: relative;
        .loader .loader-content {
          left: 100%;
          transform: translate(-100%, -50%);
        }
      }
      &-txt {
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
      }
    }
  }
  .disconnect {
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    background: #a9b5c7;
    border-radius: 43px;
    text-align: center;
    margin-top: 40px;
    align-self: flex-end;
    &:hover {
      cursor: pointer;
      transition: all 0.1s;
      background: #758295;
    }
  }
}

@media only screen and (max-width: $mobile-version-max-width) {
  .provider-menu {
    padding: 30px 15px 15px 15px;
    &__gas-token-text {
      font-size: 12px;
    }
    &__list {
      grid-row-gap: 8px;
      grid-column-gap: 8px;
    }
    &__list-item {
      width: 100%;
      min-width: 125px;
      padding: 4px 12px;
      min-height: 43px;
      &--selected {
        padding: 3px 12px;
        .provider-menu__list-item-description {
          .provider-name {
            font-size: 10px;
          }
          .address {
            font-size: 9px;
          }
        }
      }
      &-content {
        &-txt {
          font-size: 11px;
        }
      }
    }
    &__footer {
      font-size: 14px;
    }
    .disconnect {
      font-size: 12px;
      padding: 10px 30px;
      margin-top: 20px;
    }
  }
}
