.refinance-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  .refinance-asset-selector {
    &-item {
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      background-color: #f3f9ff;
      border: 1px solid transparent;
      width: 100%;
      max-width: 670px;
      /*place center the last child in a row*/
      &:last-child:nth-child(odd) {
        grid-column: 1/3;
        place-self: center;
      }
      &:hover {
        background-color: transparent;
        border: 1px solid #a9b5c7;
        .refinance-asset__main-block .refinance-asset-selector__non-torque .refinance__input-container .input-amount {
          background-color: #f5f7f9;
        }
        .refinance-asset__main-block
          .refinance-asset-selector__collateral-container
          .refinance-asset-selector__collateral_info {
          background-color: #f3f9ff;
        }
      }
      .refinance-asset__main-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        padding: 40px;
        border-bottom: 1px solid rgba(169, 181, 199, 0.2);
        .refinance-asset-selector__non-torque {
          display: flex;
          flex-direction: column;
          position: relative;
          .refinance-asset-selector__cdp {
            position: absolute;
            font-size: 16px;
            top: -25px;
            font-weight: 900;
            line-height: 150%;
            color: #758295;
          }
          &-logo {
            position: relative;
            margin-bottom: 25px;
            &:after {
              content: "";
              position: absolute;
              width: 39px;
              height: 22px;
              background: url("../../assets/images/arrow.svg");
              right: 30px;
              top: 3px;
              background-size: cover;
            }
            svg {
              width: 130px;
              height: 30px;
            }
          }
          &-apr {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            .value {
              font-weight: 800;
              font-size: 28px;
              line-height: 150%;
              color: #de4a4a;
            }
            .text {
              font-weight: normal;
              font-size: 12px;
              line-height: 150%;
              color: #758295;
            }
          }
          .refinance__input-container {
            .input-amount {
              height: 60px;
              width: 185px;
              font-weight: 800;
              font-size: 28px;
              line-height: 150%;
              color: #283049;
              padding: 15px 15px;
              background: #ffffff;
              border: 2px solid #e7ebf0;
              box-sizing: border-box;
              border-radius: 4px;
              &.warning {
                border-color: #de4a4a;
                color: #de4a4a;
              }
            }
            .refinance-details-msg--warning {
              margin-top: 10px;
              font-weight: normal;
              font-size: 12px;
              line-height: 130%;
              color: #de4a4a;
              max-width: 185px;
            }
          }
        }

        .refinance-asset-selector__torque {
          &-logo {
            margin-bottom: 25px;
            svg {
              width: 130px;
              height: 30px;
            }
          }
          &-apr {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            .value {
              font-weight: 800;
              font-size: 28px;
              line-height: 150%;
              color: #4ecea3;
            }
            .text {
              font-weight: normal;
              font-size: 12px;
              line-height: 150%;
              color: #758295;
            }
          }
          &-loan-container {
            display: flex;
            height: 60px;
            align-items: center;
            margin-bottom: 40px;
            .asset-icon {
              margin-right: 12px;
              width: 26px;
              height: 26px;
              svg {
                width: 26px;
                height: 26px;
              }
            }
            .loan-value {
              position: relative;
              margin-right: 12px;
              .value {
                font-weight: 800;
                font-size: 28px;
                line-height: 150%;
                color: #283049;
              }
              .text {
                font-weight: normal;
                font-size: 12px;
                line-height: 150%;
                color: #758295;

                position: absolute;
                bottom: -20px;
                left: 0;
              }
            }
            .asset-name {
              font-weight: normal;
              font-size: 28px;
              line-height: 150%;
              color: #283049;
            }
          }
          &-details {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 35px;
            p {
              font-weight: bold;
              font-size: 16px;
              line-height: 150%;
              color: #8e7df7;
              margin-right: 17px;
              border-bottom: 1px dashed rgba(140, 125, 247, 0.5);
            }
            .arrow {
              display: flex;
              align-items: center;
            }
          }
        }
        .refinance-asset-selector__collateral-container {
          .refinance-asset-selector__collateral_info {
            background: #ffffff;
            border-radius: 8px;
            padding: 30px;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: #758295;
          }
        }
        .refinance-asset-selector__collateral {
          display: flex;
          height: 60px;
          align-items: center;
          &:not(:last-child) {
            margin-bottom: 40px;
          }
          .asset-icon {
            margin-right: 12px;
            width: 26px;
            height: 26px;
            svg {
              width: 26px;
              height: 26px;
            }
          }
          .collateral-value {
            position: relative;
            margin-right: 12px;
            .value {
              font-weight: 800;
              font-size: 28px;
              line-height: 150%;
              color: #283049;
              &.red {
                color: #de4a4a;
              }
            }
            .text {
              font-weight: normal;
              font-size: 12px;
              line-height: 150%;
              color: #758295;

              position: absolute;
              bottom: -20px;
              left: 0;
            }
          }
          .asset-name {
            font-weight: normal;
            font-size: 28px;
            line-height: 150%;
            color: #283049;
            position: relative;
            .info-icon {
              position: absolute;
              cursor: pointer;
              right: -20px;
              top: -15px;
              svg:hover circle {
                fill: #f5f7f9;
              }
            }
          }
        }
        .collaterization-warning {
          max-width: 185px;
          margin-top: auto;
          font-weight: 800;
          font-size: 16px;
          line-height: 140%;
          color: #de4a4a;
        }
      }
      .refinance-asset__action-block {
        padding: 40px;
        .refinance-asset-selector {
          &__desc {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            color: #758295;
            font-weight: normal;
            font-size: 13px;
            line-height: 170%;
          }
          &__rs {
            color: #4ecea3;
            font-weight: 700;
          }
        }
        .refinance-button {
          max-width: 350px;
          margin: 0 auto;
          padding: 20px 50px;
          border: none;
          outline: none;
          font-family: "Muli", sans-serif;
          font-weight: 800;
          font-size: 16px;
          line-height: 140%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 40px;

          color: #ffffff;
          background-color: #9589f5;
          &:hover {
            background-color: #b79eff;
          }
          &.disabled {
            color: #a3b0c2;
            background-color: #eaeaee;
            cursor: not-allowed;
            &:hover {
              background-color: #eaeaee;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: $breakpoint-mobile-max) {
    grid-template-columns: repeat(1, 1fr);
    .refinance-asset-selector {
      width: 100%;

      &-item {
        width: 100%;
        &:hover {
          .refinance-asset__main-block .refinance-asset-selector__non-torque .refinance__input-container .input-amount {
          }
        }
        .refinance-asset__main-block {
          grid-template-columns: repeat(1, 1fr);
          padding: 0;
          .refinance-asset-selector__non-torque {
            display: grid;
            grid-template-columns: 70% 30%;
            row-gap: 30px;
            padding: 35px 30px 45px 30px;
            border-bottom: 1px solid rgba(169, 181, 199, 0.2);
            position: relative;
            .refinance-asset-selector__cdp {
              font-size: 16px;
              top: 15px;
              left: 30px;
            }
            &:after {
              position: absolute;
              content: "";
              background: url(/static/media/arrow.f08e4e58.svg), #f3f9ff;
              background-size: cover;
              transform: translate(-50%, 0%) rotate(90deg);
              left: 50%;
              bottom: -15px;
              width: 36px;
              height: 20px;
            }
            &-logo {
              display: flex;
              align-items: center;
              margin-bottom: 0;
              width: 150px;
              height: 62px;
              &:after {
                display: none;
              }
              svg {
                width: 150px;
                height: 62px;
              }
            }
            &-apr {
              margin-bottom: 0;
              align-items: flex-end;

              .value {
              }
              .text {
              }
            }
            .refinance__input-container {
              .input-amount {
              }
              .refinance-details-msg--warning {
              }
            }
            .collaterization-warning {
            }
          }

          .refinance-asset-selector__torque {
            display: grid;
            grid-template-columns: 70% 30%;
            row-gap: 30px;
            padding: 30px;
            padding-bottom: 45px;
            border-bottom: 1px solid rgba(169, 181, 199, 0.2);
            &-logo {
              display: flex;
              align-items: center;
              margin-bottom: 0;
              width: 150px;
              height: 62px;
              svg {
                width: 150px;
                height: 62px;
              }
            }
            &-apr {
              margin-bottom: 0;
              align-items: flex-end;
              .value {
              }
              .text {
              }
            }
            &-loan-container {
              grid-row: 2;
              grid-column: 1/3;
              margin-bottom: 0;
              justify-content: center;
              .asset-icon {
                svg {
                }
              }
              .loan-value {
                .value {
                }
                .text {
                }
              }
              .asset-name {
              }
            }
            &-details {
              grid-row: 3;
              grid-column: 1/3;
              margin-bottom: 0;
              justify-content: center;
              p {
              }
              .arrow {
              }
            }
          }
          .refinance-asset-selector__collateral-container {
            grid-row: 4;
            grid-column: 1/3;
            margin-bottom: 0;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .refinance-asset-selector__collateral_info {
            }
          }
          .collaterization-warning {
            grid-row: 5;
            grid-column: 1/3;
            justify-content: center;
            display: flex;
            text-align: center;
            font-size: 16px;
            max-width: 100%;
          }
          .refinance-asset-selector__collateral {
            &:not(:last-child) {
            }
            .asset-icon {
            }
            .collateral-value {
              .value {
              }
              .text {
              }
            }
            .asset-name {
              .info-icon {
              }
            }
          }
        }
        .refinance-asset__action-block {
          padding: 30px 35px;
          .refinance-asset-selector {
            &__desc {
              display: block;
              margin-bottom: 15px;

              text-align: center;
              font-weight: normal;
              font-size: 12px;
              line-height: 170%;
            }
            &__rs {
              text-align: center;
              font-weight: normal;
              font-size: 12px;
              line-height: 170%;
            }
          }
          .refinance-button {
            font-weight: 800;
            font-size: 12px;
            line-height: 140%;
            padding: 15px 40px;
          }
        }
      }
    }
  }
}
