.repay-loan-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 535px;
  padding-top: 30px;
  @media screen and (max-width: $mobile-version-max-width) {
    width: 100%;
  }
  &__actions-container {
    display: flex;
    justify-content: flex-end;
  }
  &__insufficient-balance {
    color: #de4a4a;
    padding: 10px 0;
    text-align: center;
  }
}