.repay-loan-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 535px;
  padding-top: 30px;
  @media screen and (max-width: $mobile-version-max-width) {
    width: 100%;
  }
  &__actions-container {
    display: flex;
    justify-content: flex-end;
  }
  .dialog-content {
    position: relative;

    .error {
      position: absolute;
      color: #de4a4a;
      font-size: 12px;
      left: 0;
      right: 0;
      text-align: center;
      &.insufficient-gas {
        top: -25px;
      }
      &.insufficient-balance {
        bottom: -20px;
      }
    }
  }
}
