.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 10001;
    .theme-switch {
        position: relative;
        display: inline-flex;
        height: 25px;
        width: 44px;
        input {
            display: none;

            &[data-isgastokenenabled="false"] + .slider {
                background-color: $switch-bg;
                &:before {
                    transform: translateX(-19px);
                }
            }
            &[data-isgastokenenabled="true"] + .slider {
                background-color: #276bfb;
                &:before {
                    background-color: #ffffff;
                    transform: translateX(0px);
                }
            }
        }
        .slider {
            background-color: $switch-bg;
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            &:before {
                content: "";
                position: absolute;
                height: 19px;
                width: 19px;
                background-color: $switch-button;
                bottom: 3px;
                right: 3px;
                transition: 0.4s;
                border-radius: 50%;
            }
            &.round {
                border-radius: 19px;
            }
        }
    }
    @media (max-width: 959px) {
        .sidebar_v & {
            position: absolute;
            top: 25px;
            right: 60px;
        }
    }
}
