.tooltip {
  &__icon {
    cursor: pointer;
    margin-left: 5px;
    vertical-align: -4px;
    margin-top: -4px;

    @media screen and (max-width: $breakpoint-mobile-max) {
      width: 16px;
      height: 16px;
      vertical-align: -2px;
      margin-top: -2px;
    }
  }
  &__info {
    width: 240px;
    background-color: #758295 !important;
    font-size: 12px;
    font-weight: 400;
    padding: 19px;
    border-radius: 4px;
    line-height: 1.5;
    opacity: 1 !important;
    z-index: 1000 !important;
    pointer-events: auto !important;
    &.place-top {
      &:after {
        border-top-color: #758295 !important;
        border-top-width: 6px !important;
      }
    }
    &.place-left {
      &:after {
        border-left-color: #758295 !important;
        border-left-width: 6px !important;
      }
    }
  }

  &__button {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    color: #ffffff;
    border: 1px solid #a2abb8;
    border-radius: 27px;
    line-height: 32px;
    width: 94px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    & + .tooltip__button {
      float: right;
    }
    &:hover {
      background-color: #a2abb8;
    }
  }
}
