
.tooltip {
  &__icon {
    cursor: pointer;
    margin-left: 5px;
    vertical-align: -4px;
    margin-top: -4px;

    @media screen and (max-width: $breakpoint-mobile-max) {
      width: 16px;
      height: 16px;
      vertical-align: -2px;
      margin-top: -2px;
    }
  }
  &__info {
    width: 250px;
    background-color: #758295 !important;
    font-size: 12px;
    font-weight: 400;
    padding: 19px;
    border-radius: 4px;
    opacity: 1 !important;
    z-index: 1000 !important;
    &.place-top {
      &:after {
        border-top-color: #758295 !important;
        border-top-width: 6px !important;
      }
    }
    &.place-left {
        &:after {
          border-left-color: #758295 !important;
          border-left-width: 6px !important;
        }
      }
  }
}
