$page-max-width: 76rem;
$page-padding: 0 2rem;
$mobile-version-max-width: 59.9375rem;
$mobile-version-width: 600px;
$mobile-version-width-sm: 1024px;

$container-desktop: 1380px;
$container-laptop: 1110px;
$container-mobile: 100%;

$breakpoint-desktop-max: 1409px;
$breakpoint-desktop-min: 1410px;

$breakpoint-laptop-max: 1139px;
$breakpoint-laptop-min: 1140px;

$breakpoint-mobile-max: 959px;
$breakpoint-mobile-min: 960px;

:root {
  --primary-bg: #ffffff;
  --primary-text: #283049;
  --switch-bg: #283049;
  --switch-button: #ffffff;
  --switch-button-after: #283049;
  --primary-row: #e9f4ff;
  --secondary-row: #f5f7f9;
  --history-row: #e9f4ff;
  --history-row-inner: #f5f7f9;
  --primary-row-border: #cbe2ff;
  --trade-header-color: #8992a4;
  --lend-border-hover: #e9f4ff;
  --lend-bg-hover: #ffffff;
  --lend-bg-loading: #ffffff;
  --lend-border-loading: #cbe2ff;
  --lend-circle-background: #cbe2ff;
  --lend-circle-main: #00c0ab;
  --position-marker-bg: transparent;
  --leverage-bg: #ffffff;
  --leverage-color: #276bfb;
  --leverage-color-hover: #5b88ff;
  --lend-item-before: #8992a4;
  --lend-item-before-hover: #a9b5c7;
  --indicator-border: #b9c7d6;
  --loader-slider: #b9c7d6;
  --eth-bg: #e0e0e0;
  --wbtc-svg: #282237;
  --select-bg: #ffffff;
  --select-border: #b9c7d6;
  --select-arrow: #8992a4;
  --select-option: #f5f7f9;
  --select-option-hover: #f5f7f9;
  --disabled-bg: #d1ddea;
  --disabled-color: #ffffff;
  --switch-bg-pro: #e9f4ff;
  --switch-button-pro: #ffffff;
  --switch-text-pro: #283049;
  --bg-icon-collateral: #ffffff;
  --icon-collateral: #a2abb8;
  --bg-header: #e9f4ff;
  --border-tab: #b9c7d6;
  --bg-eth: #c8c8c8;
}

[data-theme="dark"] {
  --primary-bg: #283038;
  --primary-text: #ffffff;
  --switch-bg: #ffffff;
  --switch-button: #ffcd1b;
  --switch-button-after: #ffffff;
  --primary-row: #444e5a;
  --secondary-row: #333c46;
  --history-row: #37414d;
  --history-row-inner: #444e5a;
  --primary-row-border: #444e5a;
  --trade-header-color: #a2abb8;
  --lend-bg-hover: #586473;
  --lend-border-hover: #586473;
  --lend-bg-loading: #333c46;
  --lend-border-loading: #333c46;
  --lend-circle-background: #444e5a;
  --lend-circle-main: #a2abb8;
  --position-marker-color: #ffffff;
  --leverage-bg: #3d4651;
  --leverage-color: #ffffff;
  --leverage-color-hover: #5b88ff;
  --lend-item-before: #29323d;
  --lend-item-before-hover: #343d49;
  --indicator-border: #a2abb8;
  --loader-slider: #3d4651;
  --eth-bg: #ffffff;
  --wbtc-svg: #ffffff;
  --select-bg: #333c46;
  --select-border: #333c46;
  --select-arrow: #ffffff;
  --select-option: #758295;
  --select-option-hover: #8b97a9;
  --disabled-bg: #586473;
  --disabled-color: #758295;
  --switch-bg-pro: #333c46;
  --switch-button-pro: #758295;
  --switch-text-pro: #8992a4;
  --bg-icon-collateral: #586473;
  --icon-collateral: #ffffff;
  --bg-header: #333c46;
  --border-tab: #444e5a;
  --bg-eth: #ffffff;
}
